<div class="weds-seating">
 {% for i,table in seating %}   

<div class="col-md-3 col-xs-12">
	<div class="seating-table">
		<div class="seating-title-line">
			<h4>Стол {{ i+1 }}</h4>
			</div>

			<div class="seating-body">
		    {% for name in table.seating_guest_name %}  
				<div class="seating-guest-line">
					<p>{{ name }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endfor %}

</div>