


.stylebutton {
    right: -50px;
}

.header-nav.navbar-fixed-top {
    z-index: 999;
}

.choose-theme {
    top: 20%;
    width: 100%;
}

.choose-theme .conteiner {
    margin-left: 0;
    padding: 5px 0;
    background: transparent;
    border: 0;
    opacity: 0.9;
    text-align: center;
}

.choose-theme a.button {
    color: #0cadbe;
    background: #fff;
    border: 1px solid #0cadbe;
}

.text-white a {
    color: #EF92A8!important;
}


/* spinner */

    #spinner {
        left: 50%;
        transform: translateX(-50%);
    }

    .heart-preloader {
        text-align: center;
    }

    @media only screen and (max-width: 767px) {
        #spinner {
            left: 50%;
            transform: translateX(-50%);
        }
    }

/* spinner end */

@media only screen and (max-device-width : 820px) and (orientation : landscape) {
    .ackapa .stylebutton {
        background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
        background-size: contain;
        border: 0;
        width: 20px;
        height: 20px;
        top: 12px;
        right: 7px;
    }

    .styleswitcher {
        bottom: 2px;
        top: 0;
        z-index: 100000;
    }

    .styleswitcher.ackapa {
        width: 100%;
        left: 0;
        overflow: auto;
    }

    .switch {
        text-align: center;
    }

    .styleswitcher a, .styleswitcher a:hover {
        font-size: 20px;
        line-height: 35px;
    }

    .stylebutton {
        bottom: 25px;
        top: initial;
    }
}

@media (max-width: 768px) {
    .choose-theme {
        top: 80px;
    }
}

@media (max-width: 460px) {

    /* menu */

    #home .pt-150 {
        padding-top: 30px !important;
    }


    .header .boxed-layout .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menuzord .showhide {
        width: 40px;
    }

    .header .text-center {
        text-align: center;
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99999;
    }

    .stylebutton {
        bottom: 25px;
        top: initial;
    }

    .ackapa .stylebutton {
        background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
        background-size: contain;
        border: 0;
        width: 20px;
        height: 20px;
        top: 12px;
        right: 7px;
    }

    .styleswitcher {
        bottom: 2px;
        top: 0;
        z-index: 100000;
    }

    .styleswitcher.ackapa {
        width: 100%;
        left: 0;
        overflow: auto;
    }

    .switch {
        text-align: center;
    }

    .styleswitcher a, .styleswitcher a:hover {
        font-size: 20px;
        line-height: 35px;
    }

    .ctools-modal-content {
	    overflow: hidden;
	}

	.seating-table {
		margin: 0;
	}

    #block-weds-weds-seating-block .col-md-3 {
    	width: 100%;
    	padding: 0;
    }

    .boxed-layout .container {
        padding-left: 15px;
        padding-right: 15px;
    }
	
}