<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center pt-20 pb-50 mt-sm-100">
      <h1 class="text-white">{{ groom_name }} <img src="/{{ directory }}/images/wedding-ring2.png" alt="">{{ bride_name }}</h1>
     <!--  <i class="fa fa-heart text-theme-colored font-48 mt-20"></i> -->
      <h4 class="text-white letter-space-2 mt-10 font-playfair">собираются пожениться</h4>
      <h2 class="text-white font-48">{{ wed_date.j }} {{ wed_date.F }} {{ wed_date.Y }} </h2>
    </div>
  </div>
</div>