<div class="row">
  <div class="col-md-6">
    <div class="border-1px p-25 container-bg">
      <h3 class="text-theme-colored m-0">Вы с нами?</h3>
      <div class="line-bottom mb-30"></div>
      <h4>Отмечайтесь здесь!</h4>
      {{ rsvp1_form }}
   </div>
  </div>
</div>
