<div class="section-title">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp animation-delay1">
              <h2 class="title pattern-bottom">Программа свадьбы</h2>
              <img src="/{{ directory }}/images/section-title-after-lavander.png" alt="">
              <p>Мы верим и надеемся, что этот день станет красивым началом
              долгой и счастливой жизни. Разделите с нами радость этого дня!</p>
            </div>
          </div>
        </div>
<div class="section-content">
  <div class="row">
  {% for i,event in program %}    
      <div class="col-sm-6 col-md-4 col-lg-4 wow fadeInUp animation-delay{{ i }}">
        <article class="post clearfix maxwidth600 bg-lightest mb-30">
          <div class="entry-header">
            <div class="post-thumb thumb"> <img class="img-responsive img-fullwidth" alt="" src="{{ event.event_picture.image_style_url }}"> </div>
            <div class="entry-meta meta-absolute text-center p-15">
            <div class="display-table">
              <div class="display-table-cell">
                <ul>
                  <li><a href="#" class="text-white"><strong>{{ event.event_time.M }}</strong> <br> {{ event.event_time.j }}</a></li>
                </ul>
              </div>
            </div>
            </div>
          </div>
          <div class="entry-content border-1px p-20">
            <h4 class="entry-title mt-0 pt-0"><a href="#"> {{ event.event_title }}</a></h4>
            <ul class="list-inline entry-date font-12 mt-5">
              <li><i class="fa fa-clock-o mr-5"></i> {{ event.event_time.Hi }}</li>
              <li><i class="fa fa-map-marker mr-5"></i> {{ event.event_address }} </li>
            </ul>
            <p class="mb-20 mt-15 font-15">{{ event.event_description }}</p>
          </div>
        </article>
      </div>
      {% if (i+1)%3==0 %}
      </div>
      <div class="row">
      {% endif %}
  {% endfor %}
  </div>
</div>