<div class="section-title">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp animation-delay1">
        <h2 class="title pattern-bottom">Фотоальбом</h2>
        <img src="/{{ directory }}/images/section-title-after.png" alt="">
      </div>
    </div>
  </div>
  <div class="section-content">
    <div class="portfolio-gallery grid-4 gutter-small clearfix" data-lightbox="gallery" style="position: relative; height: 428.5px;">
  {% for i,photo in photoalbum %} 
    <!-- Portfolio Item Start -->
    <div class="portfolio-item" style="position: absolute; left: 0px; top: 0px;">
      <a href="{{ photo.image_file_url }}" data-lightbox="gallery-item" title="{{ photo.title }}"><img src="{{ photo.image_style_url }}" alt=""></a>
    </div>
    <!-- Portfolio Item End -->
  {% endfor %}
  </div>
</div>
