<div class="body-overlay"></div>
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <div class="heart-preloader">
        <i class="fa fa-heart font-36 infinite animated pulse"></i>
      </div>
    </div>
  </div>
  
  <!-- Header -->
  <header id="header" class="header">                       
    <div class="header-nav navbar-fixed-top header-dark navbar-white navbar-transparent transparent-dark navbar-sticky-animated animated-active">
      <div class="header-nav-wrapper">
        <div class="container add-padding">
          <nav>
            <div id="menuzord-right" class="menuzord red menuzord-responsive" style=""><a class="menuzord-brand pull-left flip font-playball text-theme-colored font-32" href="javascript:void(0)">{{ weds.groom_name }} <i class="fa fa-heart-o font-25"></i> {{ weds.bride_name }}</a>
              <ul class="menuzord-menu menuzord-right menuzord-indented scrollable" style="max-height: 400px;">
                 {% for item in site_top_menu_items %}
                  <li>
                    {{ item }}
                  </li>                      
                {% endfor %}
                  <li>
                    {{ page.dropdownlogin }}
                  </li>
              <li class="scrollable-fix"></li></ul>

            </div>
          </nav>
        </div>
      </div>
    </div>
    
  </header>
  
  <!-- Start main-content -->
  <div class="main-content">
    {{ page.help }}
    <section id="home" class="divider parallax fullscreen" data-stellar-background-ratio="0.5" data-bg-img="{{ file_url(background_image_1) }}">
        {{ page.weds_home }}  
    </section>

    {% if page.weds_about %}
      <section id="about" class="bg-img-center-bottom" data-bg-img="/{{ directory }}/images/bg/bg9.png">
        <div class="container"> 
            {{ page.highlighted }}
            {{ page.weds_about }}
          </div>
        </div>
      </section>
    {% endif %}

    {% if page.weds_event %}
      <section id="event"  class="divider parallax layer-overlay overlay-lighter" data-bg-img="{{ file_url(background_image_2) }}">
        <div class="container">
            {{ page.weds_event }}
        </div>
      </section>
    {% endif %}

    {% if page.weds_dresscode %}
      <section  id="dresscode" class="bg-lighter">
        <div class="container">
            {{ page.weds_dresscode }}
        </div>
      </section>
    {% endif %}

    {% if page.weds_story %}
      <section id="story">
        <div class="container">
          {{ page.weds_story }}
        </div>
       </section>
    {% endif %}

    {% if page.weds_program %}
      <section id="program"  class="bg-img-center-bottom" data-bg-img="/{{ directory }}/images/bg/bg14.png">
        <div class="container">    
            {{ page.weds_program }}
        </div>
      </section>
    {% endif %}


    {% if page.weds_seating %}
      <section  id="seating"  class="divider parallax layer-overlay overlay-light" data-stellar-background-ratio="0.5" data-bg-img="/{{ directory }}/images/bg/bg-sm5.jpg">
      <div class="container pt-80 pb-80">
        <div class="col-md-12 text-center wow fadeInUp animation-delay1" style="visibility: visible;">
          <i class="fa fa-pied-piper-alt font-72 text-theme-colored"></i>
          <h2 class="mb-30">Добро пожаловать!</h2>
          <img src="/{{ directory }}/images/section-title-after.png" alt="">
          <div class="row pt-40 pb-0">
              {{ seating_link }}
          </div>
        </div>
      </div>
    </section>
     
    {% endif %}



     <!-- <section id="seating" class="divider parallax" data-bg-img="/{{ directory }}/images/bg/bg-sm5.jpg">
        <div class="container pt-40 pb-40">
          <i class="fa fa-pied-piper-alt font-72 text-theme-colored"></i>
          <div class="section-title">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="title pattern-bottom">Добро пожаловать!</h2>
                <img src="/{{ directory }}/images/section-title-after.png" alt="">
              </div>
            </div>
          </div>
          <div class="section-content pt-0 pb-40">
            <div class="section-content text-center">
              <div class="row">
              <?php
                  weds_features_popup_style();
                  $link = ctools_modal_text_button('Посмотреть рассадку гостей по столам', 'weds/'.arg(1).'/feature/seating/nojs', 'Посмотреть Столы!', 'ctools-modal-weds-features-popup-style btn btn-theme-colored');
                  print($link);
              ?>
              </div>
            </div>
          </div>
        </div>
      </section> -->

    {% if page.weds_rsvp %} 
    <section id="rsvp" class="divider layer-overlay overlay-light" data-bg-img="{{ file_url(background_image_3) }}">
      <div class="container pt-0 pb-0"> 
        {{ page.weds_rsvp }} 
      </div>
    </section>
    {% endif %}

    {% if page.weds_photoalbum %}
      <section id="photoalbum" class="inner-header divider parallax layer-overlay overlay-dark-5">
        <div class="container-fluid p-0 pt-50 pb-50">
          {{ page.weds_photoalbum }}
        </div>
      </section>
    {% endif %}
  <!-- end main-content -->
  
  <!-- Footer -->
  <footer id="footer" class="footer divider pb-0 bg-img-center-bottom" data-bg-img="/{{ directory }}/images/bg/bg10.png">
    <div class="container pt-70 pb-70">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center wow fadeInUp animation-delay1">
          <a id="happy4ever-logo" href="{{ url('<front>') }}" title="Главная">
                <img src="https://www.happy4ever.ru/sites/all/themes/mukam/logo.png" alt="Главная">
          </a>
          <h2>Cпасибо, что вы с нами!</h2>
          <ul class="social-icons flat medium list-inline mb-40">
            <li><a href="https://www.instagram.com/happy4ever.ru/"><i class="fa fa-instagram"></i></a> </li>
            <li><a href="https://vk.com/happy4ever_ru"><i class="fa fa-vk"></i></a> </li>
            <li><a href="https://www.facebook.com/happy4ever.ru/"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="https://ok.ru/group/54085960466506"><i class="fa fa-odnoklassniki"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

