{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
{# {{ kint(element.actions.submit) }} #}

  {# {{ element.elements.guest_name }}
  {{ element.actions }}
  {{ title_prefix }}
  {{ children }}
  {{ title_suffix }} #}
  {# $form['actions']['submit']['#value'] = 'Хочу присоединиться →'; #}
<form{{ attributes }}>
  <div class="container smaller">
    <div class="row">
            <div class="notification"></div>
            <div class="column six">
                <label>Имя</label>
                {{ element.elements.guest_name }}
            </div>
            <div class="column six">
                <label>События</label>
                {{ element.elements.event_select }}
            </div>
            <div class="column six">
                <label>Гостей</label>
                {{ element.elements.guest_qt }}
            </div>
            <div class="column six">
                <label>Сообщение</label>
                {{ element.elements.guest_msg }}
            </div>
            <div class="column six">
                {{ element.elements.guest_hotel }}
            </div>
            <div class="clearfix"></div>
                {{ element.actions.submit }}
            <div class="clearfix"></div>
    </div>
  </div>
</form>