<div class="section-title">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp animation-delay1">
      <h2 class="title pattern-bottom">Программа свадьбы</h2>
      <img src="/{{ directory }}/images/section-title-after.png" alt="">
      <p>Мы верим и надеемся, что этот день станет красивым началом
      долгой и счастливой жизни. Разделите с нами радость этого дня!</p>
    </div>
  </div>
</div>
<div class="section-content">
  <div class="row multi-row-clearfix">
    <div class="events">
      {% for i,event in program %}  

        <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp animation-delay1">
          <article class="event clearfix maxwidth500 mb-40 bg-lighter">
            <div class="col-xs-12 col-md-4 p-0{% if (i+1)%2==0 %} pull-right flip{% endif %}">
              <div class="entry-header">
                <div class="event-thumb">
                  <img class="img-responsive img-fullwidth" alt="" src="{{ event.event_picture.image_style_url }}">
                </div>
                <div class="entry-date text-center">
                  <span><b>{{ event.event_time.M }} </b></span><br>{{ event.event_time.j }}
                </div>
              </div>
            </div>
            <div class="col-md-8 p-0<?php print (($i+1)%2==0) ? ' pull-left flip' : '';?>">
              <div class="entry-content pl-50 pr-50 p-30 pl-xs-15 pr-xs-15">
                <h4 class="entry-title sm-inline-block mt-0 mt-sm-30 pt-0"><a href="#">{{ event.event_title }}</a></h4>
                <div class="entry-meta mt-10 mb-20">
                  <ul class="list-inline">
                    <li><i class="fa fa-clock-o mr-5"></i> {{ event.event_time.Hi }} </li>
                    <li><i class="fa fa-map-marker mr-5"></i> {{ event.event_address }}</li>
                  </ul>
                </div>
                <p class="mb-20">{{ event.event_description }}</p>
              </div>
            </div>
          </article>
        </div>
        {% if (i+1)%3==0 %}
        </div>
        <div class="row">
        {% endif %}
      {% endfor %}
      
    </div>
 
  </div>
</div>