<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center pb-30 wow fadeInUp animation-delay1" style="visibility: visible; animation-name: fadeInUp;">
      <h2>Наша история</h2>
      <img src="/{{ directory }}/images/section-title-after-lavander.png" alt="">
    </div>
  </div>
</div>
<div class="section-content">
  <div class="row">
    {% for i,event in story %} 
    <div class="each-story clearfix wow fadeInUp animation-delay1" style="visibility: visible; animation-name: fadeInUp;">
      <div class="col-md-4{% if (i+1)%2==0 %} pull-right flip{% endif %}">
        <h2 class="story-date p-sm-20 mt-sm-0 pt-40 pl-20"><em>{{ event.story_date.j }} {{ event.story_date.M }} {{ event.story_date.Y }}</em></h2>
      </div>
      <div class="col-md-8{% if (i+1)%2==0 %} pull-left{% endif %}">
        <div class="story-details border-radius-10px p-20 mb-20{% if (i+1)%2==0 %} bg-theme-colored{% endif %}">
          <div class="row">
            <div class="col-sm-9{% if not event.story_picture %} col-sm-12{% endif %}">
              <h4 class="title">{{ event.story_title }}</h4>
              <p>{{ event.story_description }}</p>
            </div>
            <div class="col-sm-3">
              {% if event.story_picture %}
                <div class="story-thumb">
                  <img alt="" src="{{ event.story_picture.image_style_url }}" class="img-circle">
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>