@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'Andantino script';
    font-style: normal;
    font-weight: 400;
    src: local('Andantino script'), local('Andantinoscript-Regular'),
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.woff) format('woff'),
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.ttf) format('truetype');
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.ttf) format('truetype');
}

@font-face {
    font-family: 'Bikham Cyr Script';
    font-style: normal;
    font-weight: 400;
    src: local('Bikham Cyr Script'), local('BikhamCyrScript-Regular'),
        url(../weds-fonts/fonts/bikham-cyr-script_61afe4b01dfe3e2b98ec512fe1aece7a.woff) format('woff'),
        url(../weds-fonts/fonts/bikham-cyr-script_61afe4b01dfe3e2b98ec512fe1aece7a.ttf) format('truetype');
}

@font-face {
    font-family: 'Mon Amour Two Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Mon Amour Two Medium'), local('MonAmourTwo-Medium'),
        url(../weds-fonts/fonts/mon-amour-two-medium_e1e08e58bef7387d2b137c9b149a18fd.woff) format('woff'),
        url(../weds-fonts/fonts/mon-amour-two-medium_e1e08e58bef7387d2b137c9b149a18fd.ttf) format('truetype');
}

@font-face {
    font-family: 'Avalon Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Avalon Medium'), local('AvalonMedium-Regular'),
        url(../weds-fonts/fonts/avalon-medium_c8c2795f70589a07979b7f61ce5bd443.woff) format('woff'),
        url(../weds-fonts/fonts/avalon-medium_c8c2795f70589a07979b7f61ce5bd443.ttf) format('truetype');
}

@font-face {
    font-family: 'Alexandra Script';
    font-style: normal;
    font-weight: 400;
    src: local('Alexandra Script'), local('AlexandraScript-Regular'),
        url(../weds-fonts/fonts/alexandra-script_a712c061dda4d9393f44c0864bb872b0.woff) format('woff'),
        url(../weds-fonts/fonts/alexandra-script_a712c061dda4d9393f44c0864bb872b0.ttf) format('truetype');
}

/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(../weds-fonts/fonts/Lobster-c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(../weds-fonts/fonts/Philosopher_OttjxgcoEsufOGSINYBGLTUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(../weds-fonts/fonts/Neucha_kfCpWUYjzqqtPFESHGr73_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'), url(../weds-fonts/fonts/MarckScript_O_D1NAZVOFOobLbVtW3bcpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 600;
  src: local('Cormorant Infant SemiBold Italic'), local('CormorantInfant-SemiBoldItalic'), url(../weds-fonts/fonts/CormorantInfant_PK34LKusK6SSQFR2m5-LZrUByeIJRy2r0VFtAeBYw1s.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url(../weds-fonts/fonts/Merriweather_EYh7Vl4ywhowqULgRdYwIDaggPqPUlqZtH2DnDrcMQE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

h1, h2, h5, h6, .h1, .h2, .h5, .h6 {

    font-family: 'Andantino script', 'Bikham Cyr Script', 'Mon Amour Two Medium', 'Avalon Medium', 'Alexandra Script', 'Lobster', 'Philosopher', 'Neucha', 'Marck Script', 'Cormorant Infant', 'Merriweather';
}

h4, .h4{
	font-family: 'Philosopher', 'Josefin Slab', serif;	
}

h3, .h3{
	font-family: 'Mon Amour Two Medium', 'Josefin Slab', serif;	
}

.font-playfair {

	font-family: 'Mon Amour Two Medium', 'Josefin Slab', serif;

}

#countdown-timer-soon-rev {

    font-family: 'Philosopher', 'Josefin Slab', serif;

}

#event, #event p{
	font-family: 'Mon Amour Two Medium', "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px;
	color: #000;
}

.social li {
  display: inline-block;
  font-size: 20px;
  padding: 0 6px;
}


/* RSVP */
#rsvp {
  text-align: center;
}


.font-playball {
    font-family: 'Andantino script', 'Bikham Cyr Script', 'Mon Amour Two Medium', 'Avalon Medium', 'Alexandra Script', 'Lobster', 'Philosopher', 'Neucha', 'Marck Script', 'Cormorant Infant', 'Merriweather';
}
h2{
 font-family: 'Andantino script', 'Bikham Cyr Script', 'Mon Amour Two Medium', 'Avalon Medium', 'Alexandra Script', 'Lobster', 'Philosopher', 'Neucha', 'Marck Script', 'Cormorant Infant', 'Merriweather';
}
#happy4ever-logo {
  display: block;
}
#happy4ever-logo img{
  display: block;
  width: 260px;
  height: auto;
  margin: 0 auto;
}

.g-map iframe {
  width: 100%;
}


/* Seating Block */
#block-weds-weds-seating-block {
     background: #FBFBFB;
}
.seating-table {
  padding: 20px;
  margin: 10px 0;
}
.seating-body {
  background: #fff url(../images/section-title-after.png) no-repeat bottom center;
  padding-bottom: 26px;
  margin: 10px 0;
}
.seating-title-line {
  text-align: center;
  background: url(../images/section-title-before.png) no-repeat bottom center;
  background-size: 200px;
  padding-bottom: 26px;
}
.seating-title-line h4{
  font-size: 24px;
}
.seating-guest-line {
    line-height: 32px;
}
.seating-guest-line p{
    text-align: center;
    line-height: 26px; 
}
#block-weds-weds-seating-block .col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
#home h3 {
  padding: 0 0 14px 0;
}
#seating {
  text-align: center;
}
a.view-seating{
  color: #000;
  border: 1px #d19c1c solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin: 5px 5px 0 0px;
  padding: 8px 25px;
  background: -moz-linear-gradient(top, #f3cb5f 0%, #d19c1c 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3cb5f), to(#d19c1c));
  margin: auto;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

/* Modal POP */
div.ctools-modal-content {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding-bottom: 24px;
}
div.ctools-modal-content .modal-header {
  background: inherit;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
div.ctools-modal-content .modal-title {
  font-size: 24px;
  color: #505050;
}

#modalContent,
#modalContent * {
  -webkit-box-sizing: content-box!important;
  -moz-box-sizing: content-box!important;
  box-sizing: content-box!important;
}
.modal-content {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border: none!important;
}

.menuzord .showhide em {
  background: #fff;
}

/* Dresscode */
.dresscode .dresscode-wrapper {
    background: #FEF4F5 url("../images/bg-flower6.png") no-repeat scroll right bottom;
}
/* Dresscode */
.dresscode.one .dresscode-wrapper {
    background: #FEF4F5 url("../images/bg-flower6_l.png") no-repeat scroll left bottom;
}
.dresscode img {
    display: inline-block;
    width: auto;
    /*max-width: 90px;*/
}
.dresscode-description {
  height: 66px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}