/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */
html, body {
    direction: ltr;
}
#event .weds-invite {
	margin: 10px 0;
}
.weds-invite{
	background: rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	padding: 12px;
}
#edit-submitted-guest-qt {
	width: 56px;
	margin: 0 auto;
}
.webform-submission-rsvp-1-form label{
	font-size: 24px;
	font-weight: normal;
	font-family: 'Mon Amour Two Medium', 'Josefin Slab', serif;
}
