{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 *
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<header id="mukam-header" class="mukam-header mukam-header-large header-7 fadein scaleInv anim_1">
  <div class="top-section-container2">
    <div class="top-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 hidden-xs">
          <div class="phone"><i class="mukam-mobile icon-3x pull-left"></i> +7 (903) 255 88 33</div>
          <div class="email"><i class="mukam-envelope icon-3x pull-left"></i> info@happy4ever.ru</div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="social">
              <div class="mini-menu">
                <a href="/premium">Premium</a>
                <!-- <a href="/faq">ЧаВо</a> -->
              </div>
              <a href="https://ok.ru/group/54085960466506" target="blank"><div class="social-box"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></div></a>
              <a href="https://vk.com/happy4ever_ru" target="blank"><div class="social-box"><i class="fa fa-vk" aria-hidden="true"></i></div></a>        
              <a href="https://www.facebook.com/happy4ever.ru/" target="blank"><div class="social-box"><i class="mukam-face"></i></div></a>       
              <a href="https://www.instagram.com/svadba.planner/" target="blank"><div class="social-box"><i class="fa fa-instagram"></i></div></a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Main Menu -->
        <nav class="navbar navbar-default header-7" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
              <a href="{{ url('<front>') }}" title="Home">
                <img class="logo" src="{{ logopath }}" alt="Home" />
              </a>
          
             
          </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse navbar-ex1-collapse">
                

              {{ secondary_nav }}

              {% if gbaccount %}

              {% endif %}
                    
            </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</header>
    
<section class="mukam-waypoint" data-animate-down="mukam-header mukam-header-small header-7" data-animate-up="mukam-header mukam-header-large header-7">

 <section id="static-header" class="divider layer-overlay overlay-light" data-bg-img="{{ directory }}/img/banner-background-2">
      <div class="container pt-140 pb-140 text-center">
        <div class="row">
          <div class="col-md-7 col-md-offset-6">
            <h2 class="text-white font-48">Создай свой свадебный сайт бесплатно</h2>
            <h3 class="text-white font-48">Классный сайт за пару минут с помощью Happy4ever!</h3>
            <div class="sign-up"><a href="/weds/register"><button class="buton b_inherit buton-2 buton-mini">СОЗДАТЬ САЙТ</button></a></div>
            <div class="log-in">
              <span>Уже с нами?</span><a href="/user/login">ВОЙТИ</a>
            </div>
          </div>
        </div>
      </div>
  </section>


  <div class="main-container"> 
    <section id="block-system-main">
        <div class="row">
          {% if page.sidebar_first %}
            <aside class="col-md-3" role="complementary">
              {{ page.sidebar_first }}
            </aside>  <!-- /#sidebar-first -->
          {% endif %} 

          <section>
            {% if page.highlighted %}
               <div class="highlighted">
                  {{ page.highlighted }}
               </div>
            {% endif %}
              {{ page.front_content }}
          </section>

           {% if page.sidebar_second %}
            <aside class="col-md-3" role="complementary">
              {{ page.sidebar_second }}
            </aside>
          {% endif %}
     </div>
  </div>

  {% if page.content_left or page.content_right %}
    <section class="bg-color white">          
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            {{ page.content_left }}        
          </div>
          <div class="col-md-5">
            {{ page.content_right }}     
          </div>
        </div>
      </div>
    </section>
  {% endif %} 
  </section>
</section>

  <div class="facts" id="footer_facts">
     <div class="container">
      <div class="row">
          <div class="col-md-3 timer-wrap footer-widget"> 
            {{ page.footer_facts_1 }}
          </div>
          <div class="col-md-3 timer-wrap">
            {{ page.footer_facts_2 }} 
          </div>
          <div class="col-md-3 timer-wrap"> 
            {{ page.footer_facts_3 }}
          </div>
          <div class="col-md-3 timer-wrap">
            {{ page.footer_facts_4 }} 
          </div>
        </div>
      </div>
  </div>

<footer id="footer" class="light"> 
   <div class="container">
    <div class="row">
      {{ page.footer }}
    </div>
  </div>
  {% if page.footer_bottom %}
    {{ page.footer_bottom }}
  {% endif %} 
</footer>