<div class="body-overlay"></div>
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <div class="heart-preloader">
        <i class="fa fa-heart font-36 infinite animated pulse"></i>
      </div>
    </div>
  </div>
  
  <!-- Header -->
  <header id="header" class="header navbar-scrolltofixed">
    <div class="header-nav">
      <div class="header-nav-wrapper">
        <div class="container">
          <nav>                   
            <div id="menuzord" class="menuzord red menuzord-center">
              <div class="text-center"><a class="font-playball text-theme-colored font-32" href="javascript:void(0)">{{ weds.groom_name }}  <i class="fa fa-heart-o font-25"></i> {{ weds.bride_name }}</a></div> 
              <ul class="menuzord-menu">
                {% for item in site_top_menu_items %}
                  <li>
                    {{ item }}
                  </li>                      
                {% endfor %}
                <li>
                  {{ page.dropdownlogin }}
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Start main-content -->
  <div class="main-content">
     {{ page.help }}
    <section id="home" class="divider" data-bg-img="{{ file_url(background_image_1) }}">
      <div class="container-fluid p-0">
        {{ page.weds_home }} 
      </div>
    </section>

    <!-- Section: Couple -->
    {% if page.weds_about %}
      <section id="about" class="bg-img-center-bottom"  data-bg-img="/{{ directory }}/images/bg/bg9.png">
        <div class="container">
          <div class="section-content">
            <div class="row">
            {{ page.highlighted }}
            {{ page.weds_about }}
            </div>
            </div>
        </div>
      </section>
    {% endif %}

    {% if page.weds_event %}
      <section id="event" class="divider layer-overlay overlay-lighter" data-stellar-background-ratio="0.5" data-bg-img="{{ file_url(background_image_2) }}">
        <div class="container">
         <div class="row mt-60">
            {{ page.weds_event }}
         </div>
        </div>
      </section>
    {% endif %}

    {% if page.weds_dresscode %}
      <section  id="dresscode" class="bg-lighter">
        <div class="container">
            {{ page.weds_dresscode }}
        </div>
      </section>
    {% endif %}

    {% if page.weds_story %}
      <section id="story">
        <div class="container">
          {{ page.weds_story }}
        </div>
       </section>
    {% endif %}

    {% if page.weds_program %}
    <section id="program" class="divider" data-bg-img="/{{ directory }}/images/bg/bg12.png">
      <div class="container">    
          {{ page.weds_program }}
      </div>
      {% if page.weds_seating %}
          <div id="seating">
            <div class="container pt-40 pb-40">
              <div class="section-title">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h2 class="title pattern-bottom">Добро пожаловать!</h2>
                    <img src="/{{ directory }}/images/section-title-after.png" alt="">
                  </div>
                </div>
              </div>
              <div class="pt-0 pb-40 text-center">
                <div class="text-center">
                   {{ seating_link }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

    </section>
    {% endif %}

    {% if page.weds_rsvp %}
    <section id="rsvp" class="divider layer-overlay overlay-light" data-bg-img="{{ file_url(background_image_3) }}">
      <div class="container pt-0 pb-0">
        {{ page.weds_rsvp }} 
      </div>
    </section>
    {% endif %}

    {% if page.weds_photoalbum %} 
      <section id="photoalbum" class="bg-lighter">
        <div class="container">
          {{ page.weds_photoalbum }}
        </div>
      </section>
    {% endif %}
  </div>
  <!-- end main-content -->
  
  <!-- Footer -->
  <footer id="footer" class="footer divider pb-0 bg-img-center-bottom" data-bg-img="/{{ directory }}//{{ directory }}/images/bg/bg10.png">
    <div class="container pt-70 pb-70">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center wow fadeInUp animation-delay1">
          <a id="happy4ever-logo" href="{{ url('<front>') }}" title="Главная">
                <img src="https://www.happy4ever.ru/sites/all/themes/mukam/logo.png" alt="Главная">
          </a>
          <h2>Cпасибо, что вы с нами!</h2>
          <ul class="social-icons flat medium list-inline mb-40">
            <li><a href="https://www.instagram.com/happy4ever.ru/"><i class="fa fa-instagram"></i></a> </li>
            <li><a href="https://vk.com/happy4ever_ru"><i class="fa fa-vk"></i></a> </li>
            <li><a href="https://www.facebook.com/happy4ever.ru/"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="https://ok.ru/group/54085960466506"><i class="fa fa-odnoklassniki"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->
