<div class="loaderOverlay"><i class="fa fa-heart animate-spin"></i></div>
    <!-- Hero Section -->

    
    <section id="top" class="hero" data-type="parallax" style="background-image: url({{ file_url(background_image_1) }})!important;">
        <div id="logo"> 
            <div class="hero-heart"></div>
            <span class="logo-boy">{{ weds.groom_name }}</span>
            <!-- <span>&amp;</span>  -->
            <span class="logo-girl">{{ weds.bride_name }}</span>
        </div>
        <header id="main-menu">
            <div class="container">
                <div class="row">
                    <div id="menu-logo" >N <span>&amp;</span> R</div>
                    <nav id="navigation" class="column twelve">
                        <ul>
                            {% for item in site_top_menu_items %}
                              <li>
                                {{ item }}
                              </li>                      
                            {% endfor %}
                            <li>
                              {{ page.dropdownlogin }}
                            </li>
                        </ul>
                    </nav>
                    <a href="#" id="menu-toggle-wrapper">
                        <div id="menu-toggle"></div>
                    </a>
                </div>
                <!-- close .ha-header-perspective -->
            </div>
            <!-- close grid container -->
        </header>
        <div class="overlay-dark"></div>
            {{ page.weds_home }}  
    </section>
    <!-- #Hero Section Ends -->

    <section id="home" class="top-menu">
        

         
        <div id="console" class="clearfix">
          {{ page.help }}
          {{ page.highlighted }}
        </div>
         

        {% if page.weds_about %}
            <section id="about" class="pattern">
               {{ page.weds_about }}
            </section>
        {% endif %}

        {% if page.weds_event %}
            <section id="event" class="page-content">
              {{ page.weds_event }}
            </section>
        {% endif %}

        {% if page.weds_dresscode %}
            <section id="dresscode" class="pattern">
              {{ page.weds_dresscode }}
            </section>
        {% endif %}

        {% if page.weds_story %}
            <section id="story">
              {{ page.weds_story }}
            </section>
        {% endif %}

        {% if page.weds_program %}
            <section id="program" class="pattern">
            {{ page.weds_program }}

             {% if page.weds_seating %}
              <section id="seating" class="pattern pt-0">
                <div class="container pt-0 pb-0">
                  <div class="section-content text-center">
                    <div class="row">
                      {{ seating_link }}
                    </div>
                  </div>
                </div>
              </section>
            {% endif %}
            </section>
        {% endif %}

        {% if page.weds_rsvp %}
            <section id="rsvp" class="bgcolor">
            {{ page.weds_rsvp }}
            </section>
        {% endif %}

        {% if page.weds_photoalbum %}
            <section id="photoalbum" class="pattern">
                {{ page.weds_photoalbum }}
            </section>
        {% endif %}
       

        <footer>
            <div class="container">
                <div class="row">
                   <a id="happy4ever-logo" href="{{ url('<front>') }}" title="Главная">
                       <img src="https://www.happy4ever.ru/sites/all/themes/mukam/logo.png" alt="Главная">
                  </a>
              <h2>Cпасибо, что вы с нами!</h2>
              <ul class="social-icons flat medium list-inline mb-40">
                <li><a href="https://www.instagram.com/happy4ever.ru/"><i class="fa fa-instagram"></i></a> </li>
                <li><a href="https://vk.com/happy4ever_ru"><i class="fa fa-vk"></i></a> </li>
                <li><a href="https://www.facebook.com/happy4ever.ru/"><i class="fa fa-facebook"></i></a> </li>
                <li><a href="https://ok.ru/group/54085960466506"><i class="fa fa-odnoklassniki"></i></a></li>
              </ul>
                </div>
            </div>
        </footer>
          <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</section>