
<div class="pages_title clr">
        <h2>Фотоальбом</h2>
      </div>
<div class="content">
  <ul class="portfolio_items">
  {% for i,photo in photoalbum %}
    <li class="gallery13 ceremony" data-id="id-1">
        <img src="{{ directory }}/images/gallery_frame.png" alt="{{ photo.title }}" title="{{ photo.title }}" class="frame" border="0">
        <img src="{{ photo.image_style_url }}" alt="" title="{{ photo.title }}" class="thumb" border="0">
        <span class="portfolio_caption" style="display: none;">
        <a href="{{ photo.image_file_url }}" rel="prettyPhoto[gallery]" title="Lorem ipsum sit amet"><img src="{{ directory }}/images/zoom.png" alt="" title="" border="0"></a>
        </span>  
        <h3>{{ photo.title }}</h3>
        </li>
      
  {% endfor %}
  </ul>
</div>