
<div class="title"><a href="index.html">{{ bride_name }}  &amp; {{ groom_name }} </a></div>
<div class="description"><h3>собираются пожениться</h3></div>
<div class="description"><span class="swirl_left"><span class="swirl_right">{{ wed_date.d }} {{ wed_date.F }} {{ wed_date.Y }}</span></span></div>