<div class="pages_title clr">
        <h2>Программа <span>свадьбы</span></h2>
      </div>
<div class="left_full">
    
    <div class="form_content">
      
      {% for i,event in program %} 
      <div class="form_rsvp">
        <h3 class="form_subtitle">
          {{ event.event_title }}</h3>
        <div class="event_picture">
          <img src="{{ event.event_picture.image_style_url }}" alt="">
        </div>

        <div class="event_text">
          <div class="form_row_rsvp">
          <span class="swirl_left">
            <span class="swirl_right event_date">с 
              {{ event.event_time.d }}.{{ event.event_time.m }}.{{ event.event_time.Y }} {{ event.event_time.H }}:{{ event.event_time.i }}
          </span>
          </div>
          <div class="form_row_rsvp">
            <span class="event_address">Адрес: {{ event.event_address }}</span>
          </div>
          
          <div class="form_row_rsvp">
           <span class="event_desc">{{ event.event_description }}</span>
           </div>         
        </div>
      </div>
      {% endfor %}
    </div>
                
</div>