<h2 class="title">Дресс-<span>код</span></h2>

<div class="content">

	{% if dresscode.1 %}
	<div class="left13 section_home one">
        <h2>{{ dresscode.0.dresscode_title }}</h2>
        <a href="#"><img src="{{ dresscode.0.dresscode_image.image_style_url }}" alt="" title=""></a>
        <p class="dresscode-description">
        	{{ dresscode.0.dresscode_description }}
        </p>
    </div>

    <div class="left13 section_home two">
        <h2>{{ dresscode.1.dresscode_title }}</h2>
        <a href="#"><img src="{{ dresscode.1.dresscode_image.image_style_url }}" alt="" title=""></a>
        <p class="dresscode-description">
        	{{ dresscode.1.dresscode_description }}
        </p>
    </div>

	{% else %}

        <div class="section_home">
        <h2>{{ dresscode.0.dresscode_title }}</h2>
        <a href="#"><img src="{{ dresscode.0.dresscode_image.image_style_url }}" alt="" title=""></a>
        <p class="dresscode-description">
            {{ dresscode.0.dresscode_description }}
        </p>
    </div>
	
    {% endif %}

</div>

