<div class="left12 about">
    <div class="about_pic">
     <img src="{{ bride_photo.image_style_url }}" alt="" title="" />
    </div>
    <div class="about_right">
    <h2>{{ bride_name }}</h2>
    <p>
        {{ bride_text }} 
    </p>
    {% if bride_social %}
    <div class="social">
        <ul>
        	{% if bride_social.social_vk %}
                <li><a target="blank" href="{{ bride_social.social_vk }}"><i class="fa fa-vk"></i></a></li>
            {% endif %}
            {% if bride_social.social_fb %}
                <li><a target="blank" href="{{ bride_social.social_fb }}"><i class="fa fa-facebook"></i></a></li>
            {% endif %}
            {% if bride_social.social_ok %}
                <li><a target="blank" href="{{ bride_social.social_ok }}"><i class="fa fa-odnoklassniki"></i></a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    </div>
</div>
<div class="left12 about">
    <div class="about_pic">
     <img src="{{ groom_photo.image_style_url }}" alt="" title="" />
    </div>
    <div class="about_right">
    <h2>{{ groom_name }}</h2>
    <p>
    {{ groom_text }}
    </p>
    {% if groom_social %}
    <div class="social">
        <ul>
        	{% if groom_social.social_vk %}
                <li><a target="blank" href="{{ groom_social.social_vk }}"><i class="fa fa-vk"></i></a></li>
            {% endif %}
            {% if groom_social.social_fb %}
                <li><a target="blank" href="{{ groom_social.social_fb }}"><i class="fa fa-facebook"></i></a></li>
            {% endif %}
            {% if groom_social.social_ok %}
                <li><a target="blank" href="{{ groom_social.social_ok }}"><i class="fa fa-odnoklassniki"></i></a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    </div>
</div>