<div class="form_content">
  <div class="pages_title clr">
          <h2>Наша <span>история</span></h2>
   </div>
  <div class="left_full">
  {% for i,event in story %} 
      <div class="each-story clearfix">
        <div class="story-date col-md-4{% if (i+1)%2==0 %} pull-right flip{% endif %}">
          <h4 class="p-sm-20 mt-sm-0 pt-40 pl-20">
          <em>{{ event.story_date.j }} {{ event.story_date.M }} {{ event.story_date.Y }}</em></h4>
        </div>

        <div class="story-details col-md-8{% if (i+1)%2==0 %} pull-left bg-theme-colored{% endif %}{% if not event.story_picture %} no-thumb{% endif %}">
          <div class="story-details-inner">
            <div class="row">
              <div class="story-text">
                <h4 class="title">{{ event.story_title }}</h4>
                <p>{{ event.story_description }}</p>
              </div>
              {% if event.story_picture %}
                <div class="story-thumb">
                  <img alt="" src="{{ event.story_picture.image_style_url }}" class="img-circle">
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
     