<div class="content">
    <div class="left_full">

        <div class="post">
             <div class="post_thumb">
             <a href="#"><img src="{{ file_url(theme_settings.invite_image) }}" alt="" title="" border="0" /></a>
             <h2>{{ zags }}</h2>
             </div>
             
             <div class="post_left">
                 <div class="date_line_blog">
                    <span class="day">{{ wed_date.j }} </span>
                    <span class="month">{{ wed_date.F }}</span>
                    <img class="date_line" src="{{ directory }}/images/date_line.png" alt="" title="" border="0" />
                 </div>
             </div>

             <div class="entry clr">
                <div class="invite">
                <h3>Приглашение</h3>
                {{ invite }}
                </div>
                 <div class="map">
                    {{ map }}
                </div>
                
             </div>
                              
         </div> 
    </div>
    
    <div class="clear"></div>
   
</div>