{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="menu nav navbar-nav secondary weds-user-menu">
    {% else %}<ul class="submenus"><li>
    {% endif %}
    {% for key,item in items %}

      </li><li {% if key=='weds.site' %} {{ attributes.addClass('our_site')}} {% endif %}>
        {% set title = item.title %}
        {% if key=='weds.site' %}
          {% set title = '<button class="btn btn-default">' ~ item.title ~ '</button>' %}
        {% endif %}
        <a href="{{ item.url }}">{% if key=='weds.site' %}<button class="btn btn-default">{% endif %}{{ item.title }}{% if key=='weds.site' %}</button>{% endif %}</a>
    {% endfor %}
    </li></ul>
  {% endif %}
{% endmacro %}

