/**
font-family: 'Lobster', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Bad Script', cursive;
font-family: 'Neucha', cursive;
font-family: 'Kelly Slab', cursive;
font-family: 'Marck Script', cursive;
*/
@import url(https://fonts.googleapis.com/css?family=Lobster|Philosopher|Bad+Script|Neucha|Kelly+Slab|Marck+Script&subset=latin,cyrillic);