/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/
/* Your custom css codes start here: */
@font-face {
    font-family: 'Andantino script';
    font-style: normal;
    font-weight: 400;
    src: local('Andantino script'), local('Andantinoscript-Regular'),
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.woff) format('woff'),
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.ttf) format('truetype');
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.ttf) format('truetype');
}

@font-face {
    font-family: 'Bikham Cyr Script';
    font-style: normal;
    font-weight: 400;
    src: local('Bikham Cyr Script'), local('BikhamCyrScript-Regular'),
        url(../weds-fonts/fonts/bikham-cyr-script_61afe4b01dfe3e2b98ec512fe1aece7a.woff) format('woff'),
        url(../weds-fonts/fonts/bikham-cyr-script_61afe4b01dfe3e2b98ec512fe1aece7a.ttf) format('truetype');
}

@font-face {
    font-family: 'Mon Amour Two Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Mon Amour Two Medium'), local('MonAmourTwo-Medium'),
        url(../weds-fonts/fonts/mon-amour-two-medium_e1e08e58bef7387d2b137c9b149a18fd.woff) format('woff'),
        url(../weds-fonts/fonts/mon-amour-two-medium_e1e08e58bef7387d2b137c9b149a18fd.ttf) format('truetype');
}

@font-face {
    font-family: 'Avalon Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Avalon Medium'), local('AvalonMedium-Regular'),
        url(../weds-fonts/fonts/avalon-medium_c8c2795f70589a07979b7f61ce5bd443.woff) format('woff'),
        url(../weds-fonts/fonts/avalon-medium_c8c2795f70589a07979b7f61ce5bd443.ttf) format('truetype');
}

@font-face {
    font-family: 'Alexandra Script';
    font-style: normal;
    font-weight: 400;
    src: local('Alexandra Script'), local('AlexandraScript-Regular'),
        url(../weds-fonts/fonts/alexandra-script_a712c061dda4d9393f44c0864bb872b0.woff) format('woff'),
        url(../weds-fonts/fonts/alexandra-script_a712c061dda4d9393f44c0864bb872b0.ttf) format('truetype');
}

/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(../weds-fonts/fonts/Lobster-c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(../weds-fonts/fonts/Philosopher_OttjxgcoEsufOGSINYBGLTUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(../weds-fonts/fonts/Neucha_kfCpWUYjzqqtPFESHGr73_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'), url(../weds-fonts/fonts/MarckScript_O_D1NAZVOFOobLbVtW3bcpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 600;
  src: local('Cormorant Infant SemiBold Italic'), local('CormorantInfant-SemiBoldItalic'), url(../weds-fonts/fonts/CormorantInfant_PK34LKusK6SSQFR2m5-LZrUByeIJRy2r0VFtAeBYw1s.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url(../weds-fonts/fonts/Merriweather_EYh7Vl4ywhowqULgRdYwIDaggPqPUlqZtH2DnDrcMQE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
body {
  font: 16px/28px Helvetica, Arial, sans-serif;
}
.clr {
  clear: both;
}
.box h2 {
    font-family: 'Kelly Slab', serif;
}
.details span {
  font-family: 'Neucha', serif;
}
.people-image img {
  max-width: 320px;
}
#story .quote {
    font: 26px/46px 'Playfair Display', serif;
    margin: 40px auto;
    padding: 60px 160px;
}
select {
  -webkit-appearance: menulist-button;
  -moz-appearance: menulist-button;
  appearance: menulist;
}
.hero .info .date {
  font-size: 60px;
}
#event .twelve {
  clear: both;
}
#event .box.quote{
  margin-top: 0;
  margin-bottom: 30px;
}
#event .content {
  margin-bottom: 0;
}
#logo {
  position: relative;
  overflow: hidden;
  height: 128px
}
#logo .hero-heart {
    position: absolute;
    background-image: url(../images/elements/hero-heart.png);
    width: 113px;
    height: 109px;
    top: 6px;
    left: 50%;
    margin-left: -56px;
    z-index: 9;
}
#logo .logo-boy {
  color: #FF8C89;
  display: inline-block;
  width: 200px;
  text-align: right;
  padding-right: 60px;
  padding-top: 20px;

}
#logo .logo-girl {
  color: #FF8C89;
  display: inline-block;
  width: 200px;
  text-align: left;
  padding-left: 60px;
  padding-top: 20px;
}

/* About block */
/*#about .arrow-down{
    bottom: -160px;
}
#about .timeline::before{
    height: 200%;
}*/
/*#about .right,
#about .left {
  position: relative;
  padding-bottom: 48px;
}
#about .left .social,
#about .right .social
{
    position: absolute;
    bottom: 8px;
}
#about .left .social{
    left: 80px;
}
#about .right .social{
    right: 80px;
}*/



.map .box.quote {
  padding: 44px;
}
.g-map iframe {
  width: 100%;
}

footer {
  text-align: center;
}
#happy4ever-logo {
  display: block;
}
#happy4ever-logo img{
  display: block;
  width: 260px;
  height: auto;
  margin: 0 auto;
}
footer h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}
footer ul.social-icons {
  text-align: center;
}
footer ul.social-icons li {
    display: inline-block;
    float: none;
    font-size: 24px;
    padding: 0 8px;
}

#event{
  background-image: url(../images/bgs/BG-subtle-white-feathers.png);
}

/* Seating Block */
#block-weds-weds-seating-block {
     background: #FBFBFB;
}
.seating-table {
  padding: 20px;
  margin: 10px 0;
}
.seating-body {
  background: #fff url(../images/section-title-after.png) no-repeat bottom center;
  padding-bottom: 26px;
  margin: 10px 0;
}
.seating-title-line {
  text-align: center;
  background: url(../images/section-title-before.png) no-repeat bottom center;
  background-size: 200px;
  padding-bottom: 26px;
}
.seating-title-line h4{
  font-size: 24px;
}
.seating-guest-line {
    line-height: 32px;
}
.seating-guest-line p{
    text-align: center;
    line-height: 26px; 
}
#block-weds-weds-seating-block .col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
#home h3 {
  padding: 0 0 14px 0;
}
#seating {
  text-align: center;
}
a.view-seating{
  color: #000;
  border: 1px #d19c1c solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin: 5px 5px 0 0px;
  padding: 8px 25px;
  background: -moz-linear-gradient(top, #f3cb5f 0%, #d19c1c 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3cb5f), to(#d19c1c));
  margin: auto;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
#seating .btn{
  position: relative;
  background-color: #FF8C89;
  padding: 15px 40px;
  border-radius: 45px;
  color: #fff;
  -webkit-box-shadow: 0px 3px 0px #D9C6B1;
  -moz-box-shadow: 0px 3px 0px #D9C6B1;
  box-shadow: 0px 3px 0px #D9C6B1;
  margin: 30px auto 0 auto;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  border: none;
}

/* RSVP */
#rsvp {
  padding: 120px 0 60px 0;
}
#rsvp h3{
  padding: 0;
}
#rsvp .section-tagline {
  margin: auto auto 40px auto;
}

#webform-client-form-9 ::-webkit-input-placeholder {opacity: 0;}
#webform-client-form-9 ::-moz-placeholder          {opacity: 0;}/* Firefox 19+ */
#webform-client-form-9 :-moz-placeholder           {opacity: 0;}/* Firefox 18- */
#webform-client-form-9 :-ms-input-placeholder      {opacity: 0;}

#webform-client-form-9 textarea{
  height: 48px;
  min-height: auto;
}
.webform-component--guest-qt {
  /*width: 100%;
  text-align: center;*/
}
#edit-submitted-guest-qt{
  margin: 0 auto;
}

/* Modal POP */
div.ctools-modal-content {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding-bottom: 24px;
}
div.ctools-modal-content .modal-header {
  background: inherit;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
div.ctools-modal-content .modal-title {
  font-size: 24px;
  color: #505050;
}

#modalContent,
#modalContent * {
  -webkit-box-sizing: content-box!important;
  -moz-box-sizing: content-box!important;
  box-sizing: content-box!important;
}
.modal-content {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border: none!important;
}
#seating .btn {
    display: inline-block;
    margin: 0 auto;
}
#menu-logo {
  display: none;
}

@media (max-width: 668px) {
  .hero .info .date {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  /*#logo span {
    font-size: 28px;
  }
  #logo .logo-boy {
    width: auto;

  }*/

  
}

