

.stylebutton {
    right: -50px;
}

.choose-theme {
    top: 25%;
    width: 100%;
}

.text-white a {
    color: #fff;
}

.choose-theme .conteiner {
    margin-left: 0;
    padding: 5px 0;
    background: transparent;
    border: 0;
    opacity: 0.9;
    text-align: center;
}

.choose-theme a.button {
    color: #0cadbe;
    background: #fff;
    border: 1px solid #0cadbe;
    padding: 5px 10px!important;
    font-weight: 400;
}

/* scroll to top */

.scrollToTop {
    background: rgba(0, 0, 0, 0.1);
    bottom: 15px;
    display: none;
    height: 50px;
    padding: 2px;
    position: fixed;
    right: 15px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 99999;
}

.scrollToTop i {
    color: #fff;
    font-size: 42px;
}


/* header */
#top>div {
    height: 100%;
}

div#logo {
    display: flex;
    align-items: center;
    z-index: 1008;
    background: #fff;
    height: 105px;
}

#logo .hero-heart {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 96px;
    height: 96px;
}

#logo .logo-boy,
#logo .logo-girl {
    width: 50%;
    display: inline;
    padding-top: 0;
}

#main-menu {
    position: relative;
}

div#block-wedshome--3 {
    display: block;
    height: 76%;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.hero #countdown,
.hero .info .date {
    position: static;
}

@media (max-width: 1024px) {
    div#logo {
        width: 90%;
        height: 58px;
        position: absolute;
        background: transparent;
    }

    #logo .hero-heart {
        width: 53px;
        height: 53px;
    }

    #logo span {
        font-size: 30px;
    }

    .hero h1 {
        font-size: 62px;
    }
}

@media (max-width: 768px) {

    #logo {
        height: 80px;
    }

   /* #logo .hero-heart {
        width: 67px;
        height: 66px;
    }

    #logo span {
        font-size: 30px;
    }*/
    #logo .logo-boy {
        padding-right: 40px;
    }

    #logo .logo-girl {
        padding-left: 40px;
    }

    .choose-theme {
        top: 70px;
    }
}

@media only screen and (max-device-width : 820px) and (orientation : landscape) {
    .ackapa .stylebutton {
        background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
        background-size: contain;
        border: 0;
        width: 20px;
        height: 20px;
        top: 12px;
        right: 7px;
    }

    .styleswitcher {
        bottom: 2px;
        top: 0;
        z-index: 100000;
    }

    .styleswitcher.ackapa {
        width: 100%;
        left: 0;
        overflow: auto;
    }

    .switch {
        text-align: center;
    }

    .styleswitcher a, .styleswitcher a:hover {
        font-size: 20px;
        line-height: 35px;
    }

    .stylebutton {
        bottom: 25px;
        top: initial;
    }

    .hero .info .date {
        font-size: 40px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero-inner .mouse {
        position: static;
    }

    #main-menu ul {
        padding-bottom: 100px;
    }
}



@media (max-width: 460px) {
    div#logo {
        width: 250px;
        height: 60px;
    }

    #logo .hero-heart {
        width: 36px;
        height: 36px;
    }

    #logo .logo-boy {
        padding-right: 20px;
    }

    #logo .logo-girl {
        padding-left: 20px;
    }

    #logo span {
        font-size: 16px;
    }

    .ackapa .stylebutton {
        background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
        background-size: contain;
        border: 0;
        width: 20px;
        height: 20px;
        top: 12px;
        right: 7px;
    }

    .styleswitcher {
        bottom: 0px;
        top: 0;
        z-index: 100000;
    }

    .styleswitcher.ackapa {
        width: 100%;
        left: 0;
        overflow: auto;
    }

    .switch {
        text-align: center;
    }

    .styleswitcher a, .styleswitcher a:hover {
        font-size: 20px;
        line-height: 35px;
    }

    .stylebutton {
        bottom: 25px;
        top: initial;
    }

    .ctools-modal-content {
        overflow: hidden;
    }

    .seating-table {
        margin: 0;
    }

    #block-weds-weds-seating-block .col-md-3 {
        width: 100%;
        padding: 0;
    }

    #seating .btn {
        font-size: 11px;
        padding: 7px 15px;
    }

    div#block-weds-weds-home-block {
        height: 85%;
    }

    .hero h1 {
        font-size: 42px;
    }

      #main-menu ul {
        padding-bottom: 100px;
    }
    
}


@media (max-width: 1024px) {
   #drop-down-login-wrapper {
    float: none;
     padding: 15px 20px;
    position: static;
    transform: initial;
}

#drop-down-login-wrapper .logout {
    margin: 0 auto;
} 
}



