/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Lavander
COLOR CODE: #c7adc8
----------------------------------------- */

/* body */

body {
  background-image: url(../../images/bg/pattern09.jpg);
}


#about,
#dresscode,
#program,
#photoalbum {
  background-repeat: repeat-x;
  background-size: 30%;
}

@media all and (max-width: 767px) {
    #about, #story, #program, #photoalbum {
      background-size: 70%;
  }
}

#dresscode {
  background-image: url(../../images/bg/lavander-top.png);
}

#story {
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23c7adc8' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: rgba(199, 173, 200, 0.37);
}

#program,
#photoalbum {
  background-image: url(../../images/bg/lavander-bottom.png);
  background-position: bottom center;
}

#event.mobile-parallax {
  background-position: top center;
}

#seating,
#footer {
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23c7adc8' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: rgba(199, 173, 200, 0.37);
  -webkit-box-shadow: inset 0px 0px 9px 0px rgba(99, 86, 99, 0.74);
    -moz-box-shadow: inset 0px 0px 9px 0px rgba(99, 86, 99, 0.74);
    box-shadow: inset 0px 0px 9px 0px rgba(99, 86, 99, 0.74);
}

.container-bg {
  background-color: rgba(255,255,255,0.5);
}

.container-bg h3.text-theme-colored {
    color: #333;
}

input.btn-theme-colored {
      padding: 21px 60px;
}

i.fa {
    color: #c7adc8;
}

#footer i.fa {
  color: #a8a8a8;
}

.border-1px {
    border: 1px solid #ececec !important;
}


    

/* header */

.header-nav.navbar-transparent.transparent-dark.animated-active {
  background-color: rgba(199, 173, 200, 0.85);
}


.text-theme-colored {
  color: #c7adc8;
}

.animated-active .text-theme-colored,
.animated-active i.fa {
  color: #fff;
}


.each-story .story-details {
    /*background: rgba(255, 216, 219, 0.26);*/
    background-color: #FEF4F5;
}


/* text-theme-color */
/*.text-theme-colored,*/
.best-people:hover .info .relation {
  color: #c7adc8 !important;
}
/* text-hover-theme-color */
.text-hover-theme-colored:hover {
  color: #c7adc8 !important;
}
/* background-theme-color */
.bg-theme-colored,
.event .entry-header .entry-date,
.blog-post .post .entry-header .entry-date {
  background-color: #c7adc8 !important;
}
/* bg-hover-theme-color */
.bg-hover-theme-colored:hover {
  background: #c7adc8 !important;
  border-color: #c7adc8 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
/* border-theme-color */
.border-theme-colored,
.causes .progress-item .progress-bar .percent {
  border-color: #c7adc8 !important;
}
.gift-logo {
  border: 7px solid rgba(255, 255, 255, 0.6);
}
.gift-logo:hover {
  border: 7px solid rgba(199, 173, 200, 0.6);
}
/* background-color-transparent */
.bg-theme-colored-transparent,
.quote,
.bg-theme-color-transparent {
  background-color: rgba(199, 173, 200, 0.75) !important;
}
.bg-theme-colored-transparent,
.best-people .best-people-details {
  background-color: rgba(199, 173, 200, 0.5) !important;
}
.bg-theme-colored-transparent,
.couple-frame .couple-details .title span {
  background-color: rgba(199, 173, 200, 0.95) !important;
}

.couple .couple-details .title span {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../images/bg/batton-bg3.png);
    background-color: transparent!important;
}

.couple .couple-details .title span {
  border-radius: 0;
  padding: 10px 80px;
}
/* border-theme-colored-transparent*/
.client-img.style2 a:hover img {
  border: 7px solid rgba(199, 173, 200, 0.6) !important;
}
/* Layeroverlay */
.layer-overlay.overlay-red::before,
.layer-overlay.overlay-theme-colored-deep::before,
.volunteer .overlay,
.bg-theme-colored-transparent-deep {
  background-color: rgba(199, 173, 200, 0.9) !important;
}

.post .entry-meta.meta-absolute {
      background-image: url(../../images/bg/bg-date2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    min-height: 95px;
}
.overlay-theme-colored::before {
  background-color: rgba(199, 173, 200, 0.65) !important;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper,
.zeus .tp-bullet::after {
  background-color: #c7adc8;
}
/*
 * background: theme-color
 * -----------------------------------------------
*/
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.title-icon::before,
.title-icon::after,
.testimonial .item::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.title-icon::after,
.title-icon::before,
.cd-timeline-img,
.portfolio-gallery .portfolio-item .overlay-shade {
  background: #c7adc8;
}
.ui-state-highlight {
  background: #c7adc8 !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i,
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.pricing-table .table-list li i,
.testimonial-carousel.boxed .content::after,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.attorney-carousel .content .contact-area i,
.attorney-address li i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.horizontal-contact-widget .each-widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.volunteer .info .name a,
.donation-form .form-group label,
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before,
.heart-preloader i {
  color: #c7adc8;
}
.star-rating span::before {
  color: #c7adc8 !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.icon-box.icon-rounded-bordered i,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid #c7adc8;
}
.border-theme-colored,
.owl-theme .owl-dots .owl-dot span {
  border-color: #c7adc8;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #c7adc8 transparent transparent;
}
.opening-hourse ul li {
  border-bottom: 1px dashed #c7adc8;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #c7adc8;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #69588a;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #c7adc8;
  color: #c7adc8;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
.attorney-address li {
  border-left: 1px solid #c7adc8;
}
.section-title.title-border {
  border-left: 4px solid #c7adc8;
}
/* border-top-color */
.member-info {
  border-top: 3px outset #c7adc8;
}
.cssload-tri {
  border-top: 27px solid #c7adc8;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #c7adc8;
}
.section-title.title-border.title-right {
  border-right: 4px solid #c7adc8;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #c7adc8;
}
.event {
  border-bottom-color: #c7adc8;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #c7adc8;
}
/* lebel */
.label-success {
  background-color: #c7adc8;
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #c7adc8;
  background-color: #fff;
  border-color: #c7adc8;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #c7adc8;
  background-color: #e6e6e6;
  border-color: #453a5b;
}
.btn-default.btn-theme-colored:hover {
  color: #c7adc8;
  background-color: #e6e6e6;
  border-color: #645483;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #c7adc8;
  background-color: #e6e6e6;
  border-color: #645483;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #c7adc8;
  background-color: #d4d4d4;
  border-color: #453a5b;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #c7adc8;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #c7adc8;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #c7adc8;
  border-color: #c7adc8;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #c7adc8;
  background-color: #fff;
  border-color: #c7adc8;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #c7adc8;
  background-color: #e6e6e6;
  border-color: #453a5b;
}
.btn-border.btn-theme-colored:hover {
  color: #c7adc8;
  background-color: #e6e6e6;
  border-color: #645483;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #c7adc8;
  background-color: #e6e6e6;
  border-color: #645483;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #c7adc8;
  background-color: #d4d4d4;
  border-color: #453a5b;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #c7adc8;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #c7adc8;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #69588a;
  border-color: #69588a;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #c7adc8;
  border-color: #c7adc8;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #69588a;
  border-color: #453a5b;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #69588a;
  border-color: #645483;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #69588a;
  border-color: #645483;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #584a74;
  border-color: #453a5b;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #c7adc8;
  border-color: #c7adc8;
}
.btn-dark.btn-theme-colored .badge {
  color: #c7adc8;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #9d8fb8;
  border-color: #9d8fb8;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #c7adc8;
  border-color: #5d4e7a;
}
.btn-gray.btn-theme-colored:hover {
  color: #fff;
  background-color: #c7adc8;
  border-color: #7d6aa0;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #c7adc8;
  border-color: #7d6aa0;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #705d93;
  border-color: #5d4e7a;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #9d8fb8;
  border-color: #9d8fb8;
}
.btn-gray.btn-theme-colored .badge {
  color: #9d8fb8;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
    background-color: transparent;
    border-color: transparent;
    background-image: url(../../images/bg/batton2.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-style: italic;
    font-weight: 600;
    color: #555555;
    padding: 16px 32px;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus,
.btn-theme-colored:hover,
.btn-theme-colored:active,
.btn-theme-colored.active,
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus, {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  background-image: url(../../images/bg/batton2.png) !important;
}

.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: rgba(176, 137, 156, 0.8);
  border-color: #b0899c;
}

.open > .dropdown-toggle.btn-theme-colored:hover,
.open > .dropdown-toggle.btn-theme-colored:focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #584a74;
  border-color: #453a5b;
}

.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #c7adc8;
  border-color: #c7adc8;
}
.btn-theme-colored .badge {
  color: #c7adc8;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #c7adc8;
  border-color: #c7adc8;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #69588a;
  border-color: #69588a;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #c7adc8;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #c7adc8;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #9d8fb8;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #69588a;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #c7adc8;
  border-color: #c7adc8;
  color: #fff;
}
/*
 * Shortcode: social-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #c7adc8;
}
.icon-theme-colored.icon-bordered a {
  border-color: #c7adc8;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #c7adc8;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #c7adc8;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #69588a;
  color: #e6e6e6;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #c7adc8;
  color: #c7adc8;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #c7adc8;
  border-color: #c7adc8;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #c7adc8;
}
.icon-theme-colored.icon-gray a:hover {
  color: #69588a;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #c7adc8;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #c7adc8;
}
.icon-theme-colored a:hover {
  color: #69588a;
}
.icon-hover-theme-colored a:hover {
  background-color: #c7adc8;
  border-color: #c7adc8;
  color: #fff;
}
.social-icons.icon-hover-theme-colored a:hover {
  background-color: #c7adc8;
  border-color: #c7adc8;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #c7adc8;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #c7adc8;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #c7adc8;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #c7adc8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #c7adc8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #c7adc8;
  border-color: #c7adc8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #c7adc8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #c7adc8;
  color: #c7adc8;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #c7adc8;
  border-color: #c7adc8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #c7adc8;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #c7adc8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #c7adc8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #c7adc8;
  border-color: #c7adc8;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #c7adc8;
}
/*----------- Title-Border -------------*/
.section-title.title-border {
  border-left: 2px solid #c7adc8;
}
.section-title.title-border.title-right {
  border-right: 4px solid #c7adc8;
}
.title-border::before {
  background-color: #c7adc8;
}
/*----------- Switcher -------------*/
.icon-switcher {
  background: rgba(199, 173, 200, 0.5);
}
