<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="41001228728326">
    <input type="hidden" name="short-dest" value="Happy4Ever: Оплата Премиум-аккаунта">
    <input type="hidden" name="label" value="{{ uid }}">
    <input type="hidden" name="quickpay-form" value="shop">
    <input type="hidden" name="targets" value="Happy4Ever: Оплата Премиум-аккаунта">
    <input type="hidden" name="sum" value="2" data-type="number">
    <input type="hidden" name="need-fio" value="false">
    <input type="hidden" name="need-email" value="false">
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
    <input type="hidden" name="successURL" value="{{ success_url }}">
    <div><label><input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</label></div>
    <div><label><input type="radio" name="paymentType" value="AC">Банковской картой</label></div>
    <input type="submit" value="Оплатить">
</form>