#subdomain-check {
  margin-left: 1em;
  color: green;
  font-weight:bold;
}

#subdomain-check.malformed,
#subdomain-check.duplicate {
  color: red;
}

#subdomain-check.checking {
  color: gray;
}

#edit-weds-subdomain {
	display: inline-block;
	width: 220px;
}
#weds-subdomain-suffix {
	display: inline-block;
}