.stylebutton {
    right: -50px;
}

.header-nav.navbar-fixed-top {
	z-index: 999;
}

.choose-theme {
    top: 20%;
    width: 100%;
}

.choose-theme .conteiner {
    margin-left: 0;
    padding: 5px 0;
    background: transparent;
    border: 0;
    opacity: 0.9;
    text-align: center;
}

.choose-theme a.button {
    color: #0cadbe;
    background: #fff;
    border: 1px solid #0cadbe;
}

/* spinner */

	#spinner {
	    left: 50%;
	    transform: translateX(-50%);
	}

	.heart-preloader {
	    text-align: center;
	}

	@media only screen and (max-width: 767px) {
		#spinner {
	    	left: 50%;
	    	transform: translateX(-50%);
		}
	}

/* spinner end */


@media all and (max-width: 1279px) and (min-width: 768px) { 
	.couple-details.p-20 {
    	position: relative;
    	bottom: 100px;
	}

	#about .container {
		padding-bottom: 0;
	}
}

@media (max-width: 900px) {
	.menuzord-responsive .showhide {
	    margin: 0;
	    position: relative;
	    bottom: -50%;
	    padding: 0;
	    transform: translateY(50%);
	    height: auto;
	}
}


@media (max-width: 768px) {
	#menuzord-right {
	    max-height: 100vh;
	    overflow: auto;
	}

    .choose-theme {
        top: 70px;
    }

}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
    .bg-heart {
        margin-top: 0!important;
        margin-left: 50px!important;
        margin-right: 50px!important;
        padding-top: 60px!important;
        padding-bottom: 50px!important;
    }
}




@media (max-width: 600px) and (min-width: 480px) {
    #home h1 {
        font-size: 40px;
    }
}

@media (max-width: 460px) {

    .divider .container {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
	
}