.stylebutton {
    right: -50px;
}

.header-nav.navbar-fixed-top {
	z-index: 999;
}

.choose-theme {
    top: 13%;
    width: 100%;
}

.choose-theme .conteiner {
    margin-left: 0;
    padding: 5px 0;
    background: transparent;
    border: 0;
    opacity: 0.9;
    text-align: center;
}

.choose-theme a.button {
    color: #0cadbe;
    background: #fff;
    border: 1px solid #0cadbe;
}

/* spinner */

	#spinner {
	    left: 50%;
	    transform: translateX(-50%);
	}

	.heart-preloader {
	    text-align: center;
	}

	@media only screen and (max-width: 767px) {
		#spinner {
	    	left: 50%;
	    	transform: translateX(-50%);
		}
	}

/* spinner end */


@media all and (max-width: 1279px) and (min-width: 768px) { 
	.couple-details.p-20 {
    	position: relative;
    	bottom: 100px;
	}

	#about .container {
		padding-bottom: 0;
	}
}

@media (max-width: 900px) {
	.menuzord-responsive .showhide {
	    margin: 0;
	    position: relative;
	    bottom: -50%;
	    padding: 0;
	    transform: translateY(50%);
	}
}


@media (max-width: 768px) {
	#menuzord-right {
	    max-height: 100vh;
	    overflow: auto;
	}

    .choose-theme {
        top: 70px;
    }

}

@media only screen and (max-device-width : 820px) and (orientation : landscape) {
    .ackapa .stylebutton {
        background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
        background-size: contain;
        border: 0;
        width: 20px;
        height: 20px;
        top: 12px;
        right: 7px;
    }

    .styleswitcher {
        bottom: 2px;
        top: 0;
        z-index: 100000;
    }

    .styleswitcher.ackapa {
        width: 100%;
        left: 0;
        overflow: auto;
    }

    .switch {
        text-align: center;
    }

    .styleswitcher a, .styleswitcher a:hover {
        font-size: 20px;
        line-height: 35px;
    }

    .stylebutton {
        bottom: 25px;
        top: initial;
    }

     #block-weds-weds-home-block .pt-200 {
        padding-top: 70px !important;
    }

    #block-weds-weds-home-block .pb-200 {
        padding-bottom: 70px !important;
    }


}

@media (max-width: 460px) {

    #block-weds-weds-home-block .pt-200 {
        padding-top: 110px !important;
    }

    #block-weds-weds-home-block .pb-200 {
        padding-bottom: 110px !important;
    }

    .menuzord-responsive .showhide {
        height: auto;
        width: 40px;
    }

    .stylebutton {
    	bottom: 25px;
    	top: initial;
    }

    .ackapa .stylebutton {
	    background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
	    background-size: contain;
	    border: 0;
	    width: 20px;
	    height: 20px;
	    top: 12px;
    	right: 7px;
	}

    .styleswitcher {
    	bottom: 2px;
    	top: 0;
    	z-index: 100000;
    }

    .styleswitcher.ackapa {
	    width: 100%;
	    left: 0;
	    overflow: auto;
	}

	.switch {
    	text-align: center;
	}

	.styleswitcher a, .styleswitcher a:hover {
		font-size: 20px;
		line-height: 35px;
	}

    .couple .couple-details {
    	position: relative;
    	bottom: 100px;
    	padding-bottom: 0!important;
    }

    #about .container {
		padding-bottom: 0;
	}

    .ctools-modal-content {
	    overflow: hidden;
	}

	.seating-table {
		margin: 0;
	}

    #block-weds-weds-seating-block .col-md-3 {
    	width: 100%;
    	padding: 0;
    }

    .menuzord-responsive .menuzord-brand {
    	margin: 0px;
        font-size: 26px!important;
	}

    .menuzord .showhide em {
        float: left;
    }
	
}