/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : White-green
COLOR CODE: #009644
----------------------------------------- */
#home {
  background-image: url(../../images/bg/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* navigation hover */

.menuzord.red .menuzord-menu > li.active > a, .menuzord.red .menuzord-menu > li:hover > a, .menuzord.red .menuzord-menu ul.dropdown li:hover > a {
    color: #00d05e !important;
}

.menuzord.red .menuzord-menu > li.active > a:before, .menuzord.red .menuzord-menu > li:hover > a:before {
    background: #00d05e;
}

.each-story .story-date {
    color: #00d05e;
}

h2.text-white>a {
  color: #fff;
}

/*#home h1, #home h2, #home h4 {
  color: #009644 !important;
}*/
/* text-theme-color */
.text-theme-colored,
.best-people:hover .info .relation {
  color: #009644 !important;
}
/* text-hover-theme-color */
.text-hover-theme-colored:hover {
  color: #009644 !important;
}
/* background-theme-color */
#rsvp .bg-theme-colored {
  background-color: rgba(0, 150, 68, 0.5) !important;
  border: 1px solid #eeeeee !important;
}
.bg-theme-colored, 
.event .entry-header .entry-date,
.blog-post .post .entry-header .entry-date {
  background-color: #009644 !important;
}
/* bg-hover-theme-color */
.bg-hover-theme-colored:hover {
  background: #009644 !important;
  border-color: #009644 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
/* border-theme-color */
.border-theme-colored,
.causes .progress-item .progress-bar .percent {
  border-color: #009644 !important;
}
.gift-logo {
  border: 7px solid rgba(255, 255, 255, 0.6);
}
.gift-logo:hover {
  border: 7px solid rgba(0, 150, 68, 0.6);
}
/* background-color-transparent */
.bg-theme-colored-transparent,
.quote,
.bg-theme-color-transparent {
  background-color: rgba(0, 150, 68, 0.75) !important;
}
.bg-theme-colored-transparent,
.best-people .best-people-details {
  background-color: rgba(0, 150, 68, 0.5) !important;
}
.bg-theme-colored-transparent,
.couple .couple-details .title span,
.couple-frame .couple-details .title span {
  background-color: rgba(0, 150, 68, 0.95) !important;
}
/* border-theme-colored-transparent*/
.client-img.style2 a:hover img {
  border: 7px solid rgba(0, 150, 68, 0.6) !important;
}
/* Layeroverlay */
.layer-overlay.overlay-red::before,
.layer-overlay.overlay-theme-colored-deep::before,
.post .entry-meta.meta-absolute,
.volunteer .overlay,
.bg-theme-colored-transparent-deep {
  background-color: rgba(0, 150, 68, 0.9) !important;
}
.overlay-theme-colored::before {
  background-color: rgba(0, 150, 68, 0.65) !important;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper,
.zeus .tp-bullet::after {
  background-color: #009644;
}
/*
 * background: theme-color
 * -----------------------------------------------
*/
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.title-icon::before,
.title-icon::after,
.testimonial .item::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.title-icon::after,
.title-icon::before,
.cd-timeline-img,
.portfolio-gallery .portfolio-item .overlay-shade {
  background: #009644;
}
.ui-state-highlight {
  background: #009644 !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i,
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.pricing-table .table-list li i,
.testimonial-carousel.boxed .content::after,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.attorney-carousel .content .contact-area i,
.attorney-address li i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.horizontal-contact-widget .each-widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.volunteer .info .name a,
.donation-form .form-group label,
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before,
.heart-preloader i {
  color: #009644;
}
.star-rating span::before {
  color: #009644 !important;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.icon-box.icon-rounded-bordered i,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid #009644;
}
.border-theme-colored,
.owl-theme .owl-dots .owl-dot span {
  border-color: #009644;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #009644 transparent transparent;
}
.opening-hourse ul li {
  border-bottom: 1px dashed #009644;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #009644;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #1d6a6e;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #009644;
  color: #009644;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
.attorney-address li {
  border-left: 1px solid #009644;
}
.section-title.title-border {
  border-left: 4px solid #009644;
}
/* border-top-color */
.member-info {
  border-top: 3px outset #009644;
}
.cssload-tri {
  border-top: 27px solid #009644;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #009644;
}
.section-title.title-border.title-right {
  border-right: 4px solid #009644;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #009644;
}
.event {
  border-bottom-color: #009644;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #009644;
}
/* lebel */
.label-success {
  background-color: #009644;
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #009644;
  background-color: #fff;
  border-color: #009644;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #009644;
  background-color: #e6e6e6;
  border-color: #0d3032;
}
.btn-default.btn-theme-colored:hover {
  color: #009644;
  background-color: #e6e6e6;
  border-color: #009644;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #009644;
  background-color: #e6e6e6;
  border-color: #009644;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #009644;
  background-color: #d4d4d4;
  border-color: #0d3032;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #009644;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #009644;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #009644;
  border-color: #009644;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #009644;
  background-color: #fff;
  border-color: #009644;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #009644;
  background-color: #e6e6e6;
  border-color: #0d3032;
}
.btn-border.btn-theme-colored:hover {
  color: #009644;
  background-color: #e6e6e6;
  border-color: #009644;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #009644;
  background-color: #e6e6e6;
  border-color: #009644;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #009644;
  background-color: #d4d4d4;
  border-color: #0d3032;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #009644;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #009644;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #1d6a6e;
  border-color: #1d6a6e;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #009644;
  border-color: #009644;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #1d6a6e;
  border-color: #0d3032;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #1d6a6e;
  border-color: #009644;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #1d6a6e;
  border-color: #009644;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #154f52;
  border-color: #0d3032;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #009644;
  border-color: #009644;
}
.btn-dark.btn-theme-colored .badge {
  color: #009644;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #31b8c0;
  border-color: #31b8c0;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #009644;
  border-color: #17575a;
}
.btn-gray.btn-theme-colored:hover {
  color: #fff;
  background-color: #009644;
  border-color: #25898f;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #009644;
  border-color: #25898f;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #20767b;
  border-color: #17575a;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #31b8c0;
  border-color: #31b8c0;
}
.btn-gray.btn-theme-colored .badge {
  color: #31b8c0;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #009644;
  border-color: #009644;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #1d6a6e;
  border-color: #0d3032;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #1d6a6e;
  border-color: #009644;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #1d6a6e;
  border-color: #009644;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #154f52;
  border-color: #0d3032;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #009644;
  border-color: #009644;
}
.btn-theme-colored .badge {
  color: #009644;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #009644;
  border-color: #009644;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #1d6a6e;
  border-color: #1d6a6e;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #009644;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #009644;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #31b8c0;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #1d6a6e;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #009644;
  border-color: #009644;
  color: #fff;
}
/*
 * Shortcode: social-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #009644;
}
.icon-theme-colored.icon-bordered a {
  border-color: #009644;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #009644;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #009644;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #1d6a6e;
  color: #e6e6e6;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #009644;
  color: #009644;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #009644;
  border-color: #009644;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #009644;
}
.icon-theme-colored.icon-gray a:hover {
  color: #1d6a6e;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #009644;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #009644;
}
.icon-theme-colored a:hover {
  color: #1d6a6e;
}
.icon-hover-theme-colored a:hover {
  background-color: #009644;
  border-color: #009644;
  color: #fff;
}
.social-icons.icon-hover-theme-colored a:hover {
  background-color: #009644;
  border-color: #009644;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #009644;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #009644;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #009644;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #009644;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #009644;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #009644;
  border-color: #009644;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #009644;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #009644;
  color: #009644;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #009644;
  border-color: #009644;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #009644;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #009644;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #009644;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #009644;
  border-color: #009644;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #009644;
}
/*----------- Title-Border -------------*/
.section-title.title-border {
  border-left: 2px solid #009644;
}
.section-title.title-border.title-right {
  border-right: 4px solid #009644;
}
.title-border::before {
  background-color: #009644;
}
/*----------- Switcher -------------*/
.icon-switcher {
  background: rgba(39, 145, 151, 0.5);
}
