.stylebutton {
    right: -50px;
}

.header-nav.navbar-fixed-top {
	z-index: 999;
}

.choose-theme {
    top: 20%;
    width: 100%;
}

.choose-theme .conteiner {
    margin-left: 0;
    padding: 5px 0;
    background: transparent;
    border: 0;
    opacity: 0.9;
    text-align: center;
}

.choose-theme a.button {
    color: #0cadbe;
    background: #fff;
    border: 1px solid #0cadbe;
}

/* spinner */

	#spinner {
	    left: 50%;
	    transform: translateX(-50%);
	}

	.heart-preloader {
	    text-align: center;
	}

	@media only screen and (max-width: 767px) {
		#spinner {
	    	left: 50%;
	    	transform: translateX(-50%);
		}
	}

/* spinner end */


@media all and (max-width: 1279px) and (min-width: 768px) { 
	.couple-details.p-20 {
    	position: relative;
    	bottom: 100px;
	}

	#about .container {
		padding-bottom: 0;
	}
}

@media (max-width: 900px) {
	.menuzord-responsive .showhide {
	    margin: 0;
	    position: relative;
	    bottom: -50%;
	    padding: 0;
	    transform: translateY(50%);
	    height: auto;
	}
}

@media screen and (orientation: landscape) and (max-height: 768px) {
	.container.pt-150.pb-150 {
    	padding-top: 30px !important;
	}

	.text-center.pt-20.pb-50.mt-sm-100 {
    	margin-top: 0 !important;
	}
}


@media (max-width: 768px) {
	#menuzord-right {
	    max-height: 100vh;
	    overflow: auto;
	}

    .choose-theme {
        top: 70px;
    }

}

@media only screen and (max-device-width: 820px) and (orientation: landscape) {
    .bg-heart {
        margin-top: 0!important;
        margin-left: 50px!important;
        margin-right: 50px!important;
        padding-top: 60px!important;
        padding-bottom: 50px!important;
    }

    .ackapa .stylebutton {
	    background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
	    background-size: contain;
	    border: 0;
	    width: 20px;
	    height: 20px;
	    top: 12px;
    	right: 7px;
	}

    .styleswitcher {
    	bottom: 2px;
    	top: 0;
    	z-index: 100000;
    }

    .styleswitcher.ackapa {
	    width: 100%;
	    left: 0;
	    overflow: auto;
	}

	.switch {
    	text-align: center;
	}

	.styleswitcher a, .styleswitcher a:hover {
		font-size: 20px;
		line-height: 35px;
	}

	.stylebutton {
    	bottom: 25px;
    	top: initial;
    }
}




@media (max-width: 600px) and (min-width: 480px) {
    #home h1 {
        font-size: 40px;
    }
}

@media (max-width: 460px) {

	h2, .h2, .inner-header .title {
    	font-size: 3.5rem;
	}

	h3, .h3 {
    	font-size: 34px;
	}

    .divider .container {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .couple .couple-details.p-20 {
    	position: relative;
    	bottom: 100px;
    	padding-bottom: 0!important;
    }


	.mt-sm-100 {
    	margin-top: 0px !important;
	}

	.menuzord-responsive .menuzord-brand {
    	margin: 8px 0px 10px 0px;
    }    

    .stylebutton {
    	bottom: 25px;
    	top: initial;
    }

    .ackapa .stylebutton {
	    background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
	    background-size: contain;
	    border: 0;
	    width: 20px;
	    height: 20px;
	    top: 12px;
    	right: 7px;
	}

    .styleswitcher {
    	bottom: 2px;
    	top: 0;
    	z-index: 100000;
    }

    .styleswitcher.ackapa {
	    width: 100%;
	    left: 0;
	    overflow: auto;
	}

	.switch {
    	text-align: center;
	}

	.styleswitcher a, .styleswitcher a:hover {
		font-size: 20px;
		line-height: 35px;
	}

    #about .container {
		padding-bottom: 0;
	}

    .ctools-modal-content {
	    overflow: hidden;
	}

	.seating-table {
		margin: 0;
	}


    #block-weds-weds-seating-block .col-md-3 {
    	width: 100%;
    	padding: 0;
    }
	
}