/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Dark Green
COLOR CODE: #0a3931

#e4b661

#e4e0c5
----------------------------------------- */

body.dark-green {
  background-color: #0a3931 !important;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23e4b661' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
}

.menuzord.red .menuzord-menu > li.active > a:before, 
.menuzord.red .menuzord-menu > li:hover > a:before
 {
    background-color: #e4b661 !important;
}

.menuzord.red .menuzord-menu > li.active > a, 
.menuzord.red .menuzord-menu > li:hover > a, 
.menuzord.red .menuzord-menu ul.dropdown li:hover > a {
  color: #e4b661;
}

#program {
  background-color: #e4e0c5!important;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23e4b661' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E") !important; 
}

#program .section-title p,
#seating h2,
.dark-title>h3 {
  color: rgba(10, 57, 49, 0.9) !important;
}

h2 {
  font-weight: 600;
}

.each-story .story-details {
    background: #e4e0c5 !important;
}

.weds-invite,
.post .entry-meta.meta-absolute,
.event .entry-header .entry-date {
  background: rgba(10, 57, 49, 0.9) !important;
}

h3.name,
.weds-wed-date,
.weds-zags,
.weds-address {
  color: #0a3931 !important;
}

#edit-submitted-guest-msg::-webkit-input-placeholder {color: rgba(255,255,255,0.8);}
#edit-submitted-guest-msg::-moz-placeholder          {color: rgba(255,255,255,0.8);}/* Firefox 19+ */
#edit-submitted-guest-msg:-moz-placeholder           {color: rgba(255,255,255,0.8);}/* Firefox 18- */
#edit-submitted-guest-msg:-ms-input-placeholder      {color: rgba(255,255,255,0.8);}

.section-title p,
.each-story .story-date,
.invite-content p,
.footer a {
  color: #e4e0c5 !important;
}

.each-story .story-details.bg-theme-colored {
  background-color: #e4b661 !important;
}
/* text-theme-color */
.text-theme-colored,
.best-people:hover .info .relation,
.footer a:hover,
#home h1,
h3,
h2 {
  color: #e4b661 !important;
}
/* text-hover-theme-color */
.text-hover-theme-colored:hover {
  color: #00a3c8 !important;
}
/* background-theme-color */
.bg-theme-colored,
.blog-post .post .entry-header .entry-date {
  background-color: #e4b661 !important;
}
/* bg-hover-theme-color */
.bg-hover-theme-colored:hover {
  background: #00a3c8 !important;
  border-color: #00a3c8 !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
/* border-theme-color */
.border-theme-colored,
.causes .progress-item .progress-bar .percent {
  border-color: #00a3c8 !important;
}
.gift-logo {
  border: 7px solid rgba(255, 255, 255, 0.6);
}
.gift-logo:hover {
  border: 7px solid rgba(0, 163, 200, 0.6);
}
/* background-color-transparent */
.bg-theme-colored-transparent,
.quote,
.bg-theme-color-transparent {
  background-color: rgba(0, 163, 200, 0.75) !important;
}
.bg-theme-colored-transparent,
.best-people .best-people-details {
  background-color: rgba(0, 163, 200, 0.5) !important;
}
.bg-theme-colored-transparent,
.couple .couple-details .title span,
.couple-frame .couple-details .title span {
  background-color: rgba(228, 182, 97, 0.95) !important;
}
/* border-theme-colored-transparent*/
.client-img.style2 a:hover img {
  border: 7px solid rgba(0, 163, 200, 0.6) !important;
}
/* Layeroverlay */
.layer-overlay.overlay-red::before,
.layer-overlay.overlay-theme-colored-deep::before,
.volunteer .overlay,
.bg-theme-colored-transparent-deep {
  background-color: rgba(228, 182, 97, 0.9) !important;
}
.overlay-theme-colored::before {
  background-color: rgba(0, 163, 200, 0.65) !important;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper,
.zeus .tp-bullet::after {
  background-color: #00a3c8;
}
/*
 * background: theme-color
 * -----------------------------------------------
*/
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.title-icon::before,
.title-icon::after,
.testimonial .item::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.list-icon.theme-colored.square li i,
.list-icon.theme-colored.rounded li i,
.working-process.theme-colored a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-colored .owl-controls .owl-dot span,
.pagination.theme-colored li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.title-icon::after,
.title-icon::before,
.cd-timeline-img,
.portfolio-gallery .portfolio-item .overlay-shade {
  background: #00a3c8;
}
.ui-state-highlight {
  background: #00a3c8 !important;
  color: #fff !important;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
ul.list.theme-colored li:before,
ul.list.theme-colored.angle-double-right li:before,
ul.list.theme-colored.angle-right li:before,
ul.list.theme-colored.check-circle li:before,
ul.list.theme-colored.check li:before,
.list-icon.theme-colored li i,
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.pricing-table .table-list li i,
.testimonial-carousel.boxed .content::after,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.attorney-carousel .content .contact-area i,
.attorney-address li i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.horizontal-contact-widget .each-widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-colored li a,
.pager.theme-colored a,
.widget .post-title a:hover,
.volunteer .info .name a,
.donation-form .form-group label,
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before
 {
  color: #00a3c8;
}
.star-rating span::before {
  color: #00a3c8 !important;
}

.heart-preloader i {
  color: #0a3931;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.line-bottom:after,
.icon-box.icon-rounded-bordered i,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-colored a {
  border: 1px solid #e4e0c5;
}
.border-theme-colored,
.owl-theme .owl-dots .owl-dot span {
  border-color: #00a3c8;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #00a3c8 transparent transparent;
}
.opening-hourse ul li {
  border-bottom: 1px dashed #00a3c8;
}
/* border-left-color */
blockquote.theme-colored {
  border-left: 3px solid #00a3c8;
}
blockquote.bg-theme-colored {
  border-left: 3px solid #007995;
  color: #fff;
}
blockquote.bg-theme-colored footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-colored {
  background-color: #eeeeee !important;
  border-left: 3px solid #00a3c8;
  color: #00a3c8;
}
blockquote.gray.bg-theme-colored footer {
  color: #777777;
}
.attorney-address li {
  border-left: 1px solid #00a3c8;
}
.section-title.title-border {
  border-left: 4px solid #00a3c8;
}
/* border-top-color */
.member-info {
  border-top: 3px outset #00a3c8;
}
.cssload-tri {
  border-top: 27px solid #00a3c8;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #00a3c8;
}
.section-title.title-border.title-right {
  border-right: 4px solid #00a3c8;
}
/* border-bottom-color */
.border-bottom {
  border-bottom: 1px solid #00a3c8;
}
.event {
  border-bottom-color: #00a3c8;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #00a3c8;
}
/* lebel */
.label-success {
  background-color: #00a3c8;
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #00a3c8;
  background-color: #fff;
  border-color: #00a3c8;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #00a3c8;
  background-color: #e6e6e6;
  border-color: #003b49;
}
.btn-default.btn-theme-colored:hover {
  color: #00a3c8;
  background-color: #e6e6e6;
  border-color: #00718b;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #00a3c8;
  background-color: #e6e6e6;
  border-color: #00718b;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #00a3c8;
  background-color: #d4d4d4;
  border-color: #003b49;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #00a3c8;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #00a3c8;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #00a3c8;
  border-color: #00a3c8;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #00a3c8;
  background-color: #fff;
  border-color: #00a3c8;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #00a3c8;
  background-color: #e6e6e6;
  border-color: #003b49;
}
.btn-border.btn-theme-colored:hover {
  color: #00a3c8;
  background-color: #e6e6e6;
  border-color: #00718b;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #00a3c8;
  background-color: #e6e6e6;
  border-color: #00718b;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #00a3c8;
  background-color: #d4d4d4;
  border-color: #003b49;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #00a3c8;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #00a3c8;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #007995;
  border-color: #007995;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #e4e0c5;
  background-color: #0a3931;
  border-color: #e4e0c5;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #0a3931;
  border-color: #e4e0c5;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #0a3931;
  border-color: #e4e0c5;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #007995;
  border-color: #00718b;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #005c71;
  border-color: #003b49;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #00a3c8;
  border-color: #00a3c8;
}
.btn-dark.btn-theme-colored .badge {
  color: #00a3c8;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #00cdfb;
  border-color: #00cdfb;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #00a3c8;
  border-color: #00657b;
}
.btn-gray.btn-theme-colored:hover {
  color: #fff;
  background-color: #00a3c8;
  border-color: #009bbe;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #00a3c8;
  border-color: #009bbe;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #0086a4;
  border-color: #00657b;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #00cdfb;
  border-color: #00cdfb;
}
.btn-gray.btn-theme-colored .badge {
  color: #00cdfb;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #e4b661;
  border-color: #e4b661;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #007995;
  border-color: #003b49;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #007995;
  border-color: #00718b;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #007995;
  border-color: #00718b;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #005c71;
  border-color: #003b49;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #00a3c8;
  border-color: #00a3c8;
}
.btn-theme-colored .badge {
  color: #00a3c8;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #00a3c8;
  border-color: #00a3c8;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #007995;
  border-color: #007995;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #00a3c8;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #00a3c8;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #00cdfb;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #007995;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #00a3c8;
  border-color: #00a3c8;
  color: #fff;
}
/*
 * Shortcode: social-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #00a3c8;
}
.icon-theme-colored.icon-bordered a {
  border-color: #00a3c8;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #00a3c8;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #00a3c8;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #007995;
  color: #e6e6e6;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #00a3c8;
  color: #00a3c8;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #00a3c8;
  border-color: #00a3c8;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #00a3c8;
}
.icon-theme-colored.icon-gray a:hover {
  color: #007995;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #00a3c8;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #00a3c8;
}
.icon-theme-colored a:hover {
  color: #007995;
}
.icon-hover-theme-colored a:hover {
  background-color: #00a3c8;
  border-color: #00a3c8;
  color: #fff;
}
.social-icons.icon-hover-theme-colored a:hover {
  background-color: #00a3c8;
  border-color: #00a3c8;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #00a3c8;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #00a3c8;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #00a3c8;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #00a3c8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #00a3c8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #00a3c8;
  border-color: #00a3c8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #00a3c8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #00a3c8;
  color: #00a3c8;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #00a3c8;
  border-color: #00a3c8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #00a3c8;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #00a3c8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #00a3c8;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #00a3c8;
  border-color: #00a3c8;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #00a3c8;
}
/*----------- Title-Border -------------*/
.section-title.title-border {
  border-left: 2px solid #00a3c8;
}
.section-title.title-border.title-right {
  border-right: 4px solid #00a3c8;
}
.title-border::before {
  background-color: #00a3c8;
}
/*----------- Switcher -------------*/
.icon-switcher {
  background: rgba(0, 163, 200, 0.5);
}
