<div class="pane-themelist-field">
<div class="bg-color">
<div class="container">
<h2>ВЫБЕРИ <span>ОФОРМЛЕНИЕ</span></h2>
<p>Выбранную тему потом можно будет изменить.</p>
<div class="view-content container">
	<div class="col-md-12 portfolio-wrapper portfolio-grid">
		<div class="portfolio-style-3 row">
			<div class="portfolio-3-wrapper">
			{% set i=0 %}
			{% for item in items %}
				<article class="col-md-4 portfolio-item-3 class_item_margin_grid{% if item.premium %} premium-theme{% endif %}" data-category="web-design">
					<div>
						{% if item.golg_link %}
							 {{ item.golg_link }}
						{% endif %}
						<div>
							<div class="portfolio-thumbnail">
								<img src="{{ item.thumbnail_url }}" width="331" height="207" alt="">
								<span class="overthumb"></span>
								<div class="carousel-icon">
									<!-- <a href="{{ item.fullimage_url }}" data-rel="prettyPhoto" class="prettyPhoto lightzoom"> <i class="mukam-search"></i>
									</a> -->
									<a href="{{ item.sample_path }}?preview&theme={{ item.theme_name }}" class="postlink"> <i class="fa fa-eye"></i>
									</a>
								</div>
							</div>
							
						</div>
					</div>
					<div></div>
					<div class="portfolio-content">
						<span class="">
						{% if item.premium %}
							 <a href="/weds/get-vip" class="use-ajax" data-dialog-type="modal" title="UpGrade!"><button class="buton b_inherit buton-2 buton-mini">Premium</button></a>
						{% else %}
							<a href="{{ choose_theme_url }}?theme={{ item.theme_name }}"><button class="buton b_inherit buton-2 buton-mini">Выбрать</button></a>
						{% endif %}


 						
						</span>
					</div>
				</article>

				{% set i = i + 1 %}
			{% endfor %}	
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>

