{#{ theme_hook_original }}
{{ user.account.id }#}

<div class="col-md-12 portfolio-wrapper portfolio-grid">
	<div class="portfolio-style-3 row">
		<div class="portfolio-3-wrapper">
		{% set i=0 %}
		{% for item in items %}
			<article class="theme-list-field-item col-md-3 portfolio-item-3 class_item_margin_grid{% if item.premium %} premium-theme{% endif %}">
				<div>
					{% if item.premium %}
						 {{ golg_link }}
					{% endif %}
					<div>
						<div class="portfolio-thumbnail">
							<img src="{{ item.thumbnail_url }}" width="331" height="207" alt="">
							<span class="overthumb"></span>
							<div class="carousel-icon">
								<a href="{{ item.sample_path }}?preview&theme={{ item.theme_name }}" class="postlink"> <i class="fa fa-eye"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div></div>
				<div class="portfolio-content">
					{{ item.radio_button }}
				</div>
			</article>
			{% set i = i + 1 %}
		{% endfor %}
		</div>

	</div>
	{% if user_is_vip != true %}
	<div class="weds-premium-themes-info">
		<p>Эти шаблоны доступны для Premium-аккаунтов</p> 
		<div><a href="/start-premium"><button class="buton b_asset buton-2">Купить Premium</button></a></div>
	</div>
	{% endif %}
</div>
