<div class="display-table">
  <div class="display-table-cell">
    <div class="container pt-150 pb-150">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center pt-20 pb-50 mt-sm-100">
            <div class="tp-resizeme text-white font-playball rs-parallaxlevel-1" id="rs-1-layer-1">
              <img src="/{{ directory }}/images/frame2.png" alt="">
            </div>
            <h1 class="text-white">{{ bride_name }} & {{ groom_name }}</h1>
            <h4 class="text-white">собираются пожениться</h4>
            <h2 class="text-white font-48">{{ wed_date.j }} / {{ wed_date.m }} / {{ wed_date.Y }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>