{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
{# {{ kint(element.actions.submit) }} #}

  {# {{ element.elements.guest_name }}
  {{ element.actions }}
  {{ title_prefix }}
  {{ children }}
  {{ title_suffix }} #}

<form{{ attributes }}>
	<div id="rsvp_form" name="rsvp_form" class="rsvp-form">
	  <div class="row">
	    <div class="col-sm-12">
	      <div class="form-group">
	        {{ element.elements.guest_name }}
	      </div>
	    </div>
	    <div class="col-sm-12 text-center">
	      <div class="form-group">
	        <label for="form_guest_qt">Гостей</label>
	         {{ element.elements.guest_qt }}
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-sm-12">
	      <div class="form-group">
	          {{ element.elements.event_select }}
	      </div>
	    </div>
	    <div class="col-sm-12">
	      <div class="form-group mb-20">
	        {{ element.elements.guest_msg }}
	      </div>
	    </div>
	    <div class="col-sm-12">
	      <div class="form-group mb-20">
	        {{ element.elements.guest_hotel }}
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    {{ element.actions }}
	  </div>
	</div>
</form>