<div class="display-table">
    <div class="display-table-cell">
      <div class="container pt-150 pb-150">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="text-center pt-160 pb-160 pl-50 pr-50 bg-heart">
              <h1 class="">{{ groom_name }} & {{ bride_name }}</h1>
              <h4 class="mt-10 font-playfair">собираются пожениться<br>{{ wed_date.j }} {{ wed_date.F }} {{ wed_date.Y }} </h4>  
            </div>
          </div>
        </div>
    </div>
  </div>
</div>