<div class="row">
  <div class="col-md-7">
    <div class="bg-theme-colored p-40">
      <h3 class="text-white text-center">Вы с нами?</h3>
      <div class="line-bottom mb-30"></div>
      <h4 class="text-white text-center">Отмечайтесь здесь!</h4>
      	<div class="row">
          <div class="col-md-12">
		       {{ rsvp1_form }}
  			  </div>
		</div>
   	</div>
  </div>
</div>