<div class="section-content">
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-sm-offset-1 wow fadeInUp animation-delay1">
		  <div class="couple">
		    <div class="couple-thumb">                    
		      <img class="img-fullwidth" src="{{ groom_photo.image_style_url }}" alt="">
		    </div>
		    <div class="couple-details p-20">
		      <h3 class="name">{{ groom_name }}</h3>
		      <h4 class="title"><span class="bg-theme-colored">Жених</span></h4>
		      <div class="pt-0">
		        <p>{{ groom_text }}</p>
		      </div>
		      {% if groom_social %}
            	<div class="social">
	                <ul>
	                    {% if groom_social.social_vk %}
	                        <li><a target="blank" href="{{ groom_social.social_vk }}"><i class="fa fa-vk"></i></a></li>
	                    {% endif %}
	                    {% if groom_social.social_fb %}
	                        <li><a target="blank" href="{{ groom_social.social_fb }}"><i class="fa fa-facebook"></i></a></li>
	                    {% endif %}
	                    {% if groom_social.social_ok %}
	                        <li><a target="blank" href="{{ groom_social.social_fb }}"><i class="fa fa-odnoklassniki"></i></a></li>
	                    {% endif %}
	                </ul>
            	</div>
            {% endif %}
		    </div>
		  </div>
		</div>
		<div class="col-xs-12 col-sm-5 wow fadeInUp animation-delay2">
		  <div class="couple">
		    <div class="couple-thumb">                    
		      <img class="img-fullwidth" src="{{ bride_photo.image_style_url }}" alt="">
		    </div>
		    <div class="couple-details p-20">
		      <h3 class="name">{{ bride_name }}</h3>
		      <h4 class="title"><span class="bg-theme-colored">Невеста</span></h4>
		      <div class="pt-0">
		        <p>{{ bride_text }}</p>
		      </div>
		      {% if bride_social %}
                <div class="social">
                    <ul>
                    	{% if bride_social.social_vk %}
                            <li><a target="blank" href="{{ bride_social.social_vk }}"><i class="fa fa-vk"></i></a></li>
                        {% endif %}
                        {% if bride_social.social_fb %}
                            <li><a target="blank" href="{{ bride_social.social_fb }}"><i class="fa fa-facebook"></i></a></li>
                        {% endif %}
                        {% if bride_social.social_ok %}
                            <li><a target="blank" href="{{ bride_social.social_ok }}"><i class="fa fa-odnoklassniki"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
               {% endif %} 
		    </div>
		  </div>
		</div>
	</div>
</div>