<div id="shadow_bg">
<div id="main_container">

  <a class="show_menu" href="#">menu</a>
    <a class="hide_menu" href="#">close menu</a>
  
    <div class="menu">                                                                   
        <ul id="main_menu">
        {% for item in site_top_menu_items %}
          <li>
            {{ item }}
          </li>                      
        {% endfor %}
        <li>
          {{ page.dropdownlogin }}
        </li>
        </ul>
     </div>
  

<div id="center_container">
  <div id="home">
     {{ page.weds_home }}  
  </div><!-- End of Header-->
  
   <div class="slider_container">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <a href="#"><img src="{{ file_url(background_image_1) }}" alt="" title=""/></a>
          <div class="flex-caption">
                     <div class="caption_title_line"><h2>Мы верим и надеемся, что этот день станет красивым началом
долгой и счастливой жизни. Разделите с нами радость этого дня!</h2></div>
                </div>
        </li>
      </ul>
    </div>
   </div>
   
   
   <div class="home_title">
       <h2>Добро пожаловать на наш <span>свадебный сайт</span></h2>
       <div class="clear"></div>
   </div>
   
   <div class="content">
  
        {{ page.help }}
        {{ page.highlighted }}

      {% if page.weds_about %}
        <div id="about">
          {{ page.weds_about }}
        </div>
      {% endif %}

      <div class="name_divider">{{ weds.groom_name|slice(0, 1) }}{{ weds.bride_name|slice(0, 1) }}</div> 

      {% if page.weds_event %}   
        <div id="event">
          {{ page.weds_event }}
        </div>
      {% endif %}

      {% if page.weds_dresscode %}
        <div id="dresscode">
          {{ page.weds_dresscode }}
        </div>
      {% endif %}

      {% if page.weds_story %}
        <div id="story">
          {{ page.weds_story }}
        </div>
      {% endif %}

      {% if page.weds_program %}                                                    
        <div id="program">
          {{ page.weds_program }}
        </div> 
      {% endif %}

      {% if page.weds_seating %}
        <div id="seating">
          <div class="content">
          {{ seating_link }}
          </div>
        </div>
      {% endif %}

      {% if page.weds_rsvp %}
        <div id="rsvp">
          {{ page.weds_rsvp }}
        </div> 
      {% endif %}

      {% if page.weds_photoalbum %}
        <div id="photoalbum">
          {{ page.weds_photoalbum }}
        </div>
      {% endif %}        
   </div>
   
   <div class="clear"></div> 

   <div class="bottom">
      <a id="happy4ever-logo" href="{{ url('<front>') }}" title="Главная">
                <img src="https://www.happy4ever.ru/sites/all/themes/mukam/logo.png" alt="Главная">
      </a>
      <h2>Cпасибо, что вы с нами!</h2>
      <div class="socials">
           <ul>
           <li><a href="https://www.instagram.com/happy4ever.ru/"><i class="fa fa-instagram"></i></a> </li>
            <li><a href="https://vk.com/happy4ever_ru"><i class="fa fa-vk"></i></a> </li>
            <li><a href="https://www.facebook.com/happy4ever.ru/"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="https://ok.ru/group/54085960466506"><i class="fa fa-odnoklassniki"></i></a></li>
           </ul>
       </div>
     </div>
</div>

</div>
</div>

   
   <div class="footer">
       <div class="footer_content">

       <div id="footer_menu" class="footer_menu">
           <ul>
           {% for item in site_top_menu_items %}
            <li>{{ item }}</li>
           {% endfor %}              
           </ul>
       </div>
       <div class="clear"></div>
       </div>
       
   </div>
   <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

