<div class="section-title">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp animation-delay1" style="visibility: visible;">
      <h2>Дресс-код</h2>
      <img src="{{ directory }}/images/section-title-after.png" alt="">
    </div>
  </div>
</div>


<div class="section-content">
  <div class="row">
    <div class="col-md-12">
    	{% if dresscode.1 %}
    	<div class="col-xs-12 col-sm-5 col-sm-offset-1 wow fadeInUp animation-delay1" style="visibility: visible;">
		  <div class="dresscode one">
		  	<div class="dresscode-wrapper text-center border-radius-20px p-30">
		  		 <p class="dresscode-description">{{ dresscode.0.dresscode_description }}</p>
			    <div class="thumb m-0"><img class="img-circle" alt="" src="{{ dresscode.0.dresscode_image.image_style_url }}"></div>
			    <div class="content">
		        <h4 class="author text-capitalize mb-0">{{ dresscode.0.dresscode_title }}</h4>
		      </div>
			</div>
		  </div>
		</div>

		<div class="col-xs-12 col-sm-5 wow fadeInUp animation-delay2" style="visibility: visible;">
		  <div class="dresscode two">
		  	<div class="dresscode-wrapper text-center border-radius-20px p-30">
		  		 <p class="dresscode-description">{{ dresscode.1.dresscode_description }}</p>
			    <div class="thumb m-0"><img class="img-circle" alt="" src="{{ dresscode.1.dresscode_image.image_style_url }}"></div>
			    <div class="content">
		        <h4 class="author text-capitalize mb-0">{{ dresscode.1.dresscode_title }}</h4>
		      </div>
			</div>
		  </div>
		</div>

		{% else %}
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 wow fadeInUp animation-delay1" style="visibility: visible;">
		  <div class="dresscode">
		  	<div class="dresscode-wrapper text-center border-radius-20px p-30">
		  		 <p class="dresscode-description">{{ dresscode.0.dresscode_description }}</p>
			    <div class="thumb m-0"><img class="img-circle" alt="" src="{{ dresscode.0.dresscode_image.image_style_url }}"></div>
			    <div class="content">
		        <h4 class="author text-capitalize mb-0">{{ dresscode.0.dresscode_title }}</h4>
		      </div>
			</div>
		  </div>
		</div>

		{% endif %}

     </div>
  </div>
</div>