<div class="section-title">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp animation-delay1">
        <h2 class="title">Фотоальбом</h2>
        <img src="/{{ directory }}/images/section-title-after.png" alt="">
      </div>
    </div>
  </div>

<div class="section-content">
  <div class="row">
    <div class="col-md-12"> 
      
      <!-- Portfolio Gallery Grid -->
      <div id="grid" class="portfolio-gallery masonry grid-4 clearfix" data-lightbox="gallery">
        {% for i,photo in photoalbum %}   
        <!-- Portfolio Item Start -->
        <div class="portfolio-item">
          <a href="{{ photo.image_file_url }}" data-lightbox="gallery-item" title="{{ photo.title }}">
            <div class="thumb">
              <img class="img-fullwidth photo" src="{{ photo.image_style_url }}" alt="project">
              <div class="overlay-shade"></div>
              <div class="text-holder">
                <div class="title text-center">{{ photo.title }}</div>
              </div>
              <div class="icons-holder">
                <div class="icons-holder-inner">
                  <div class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
                    <i class="fa fa-plus text-white"></i>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- Portfolio Item End -->
        {% endfor %}
        
        
      </div>
      <!-- End Portfolio Gallery Grid --> 
    </div>
  </div>
</div>