<div class="display-table">
  <div class="display-table-cell">
    <div class="container pt-200 pb-200">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center pt-20 pb-50">
          <img src="/{{ directory }}/images/birds-icon.png" alt="">
          <h2 class="text-white font-48 font-playball">{{ bride_name }} & {{ groom_name }}</h2>
          <h2 class="text-white font-playfair font-weight-600 font-48 mt-0">собираются пожениться</h2>
          <h2 class="text-white font-48">{{ wed_date.j }} / {{ wed_date.m }} / {{ wed_date.Y }} </h2>
        </div>
      </div>
    </div>
  </div>
</div>