<div class="section-content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
		  <h3>Мы собираемся пожениться</h3>
		  <div class="title-icon">
		    <img src="/{{ directory }}/images/section-title-after.png" alt="">
		  </div>
		  <div class="weds-wed-date">
		    {{ wed_date.j }} {{ wed_date.F }}
		  </div>
		  <div class="weds-zags">
		    {{ zags }}
		  </div>
		  <div class="weds-address">
		  	<strong>{{ address }}</strong>
		  </div>
		  <div class="weds-invite">
		  	<h3>Приглашение</h3>
		  	<div class="invite-content">
		  		<p>{{ invite }}</p>
		  	</div>
		  	{{ map }}
		  </div>
		</div>
	</div>
</div>