<div class="choose-theme">
	<div class="conteiner">
		<a href="{{ back_url }}" class="button back">Назад</a>
		{% if not premium %}
			<a href="{{ choose_theme_url }}?theme={{ theme_name }}" class="button choose">Выбрать тему</a>
		{% else %}
			<a href="/start-premium" class="button choose">Premium</a>
		{% endif %}
	</div>
</div>