<div class="switcher shareswitcher">
    <div class="switch">
      <h5>Поделиться</h5>
    </div> 
    
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
    <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,tumblr"></div>
    <div class="sharebutton">
          <i class="client-settings icon-2x"></i>
    </div>
</div>