<div class="switcher toolsswitcher">
    <div class="switch">
      <h5>НАСТРОЙКИ</h5>
    </div>   



     {% for item in toolbar_menu_list %}  

    
    <div class="switch">{# {{ item.class }} #}
      <div>{{ item.link }}</div>
    </div> 

    {% endfor %}

      <div class="stylebutton toolsbutton">
          <i class="client-settings icon-2x"></i>
      </div>
</div>

