{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
{# {{ kint(element.actions.submit) }} #}

  {# {{ element.elements.guest_name }}
  {{ element.actions }}
  {{ title_prefix }}
  {{ children }}
  {{ title_suffix }} #}


<form{{ attributes }}>
  <h3 class="form_subtitle">Выберите событие</h3>
  <div class="form_rsvp">
      {{ element.elements.event_checkbox }}
  </div>
  <h3 class="form_subtitle">Информация о госте</h3>
  <div class="form_row">
    <label>Ваше имя:</label>
    {{ element.elements.guest_name }}
  </div>
  <div class="form_row">
    <label>Сообщение:</label>
    {{ element.elements.guest_msg }}
  </div>
  <div class="form_row">
  {{ element.actions.submit }}
  </div>
</form>