.toolsswitcher { 
	position: fixed; 
	width: 220px; 
	background: #ffffff; 
	color: #595959; 
	top:150px; 
	left:-223px;
	z-index:899; 
	border: 1px solid #e1e1e1; 
}
.switcher.ackapa { left:0;}
.switcher .switch {

}
.switcher .switch div {
	border-bottom: 1px solid #e1e1e1;
	padding: 12px 0 12px 15px;
}
.switcher .switch h5 { 
	color: #fff;
	margin: 0;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	background: #0CADBE;
	padding: 8px 0 8px 14px; 
}
.switcher .switch p { margin-top: 10px;}
.stylebutton, .sharebutton { cursor: pointer; position: absolute; text-align: center; line-height: 62px; background-color: #fff; width: 50px; height: 50px; top:-1px; right: -50px; border: 1px solid #e1e1e1;}

.switcher select { margin-top: 10px; width: 180px;}

.asset-change, .green-change, .lightbrown-change, .lightyellow-change, .orange-change, .purple-change, .red-change, .yellow-change { width: 24px; height: 24px; float: left;  margin-right: 7px; margin-bottom: 10px; cursor: pointer; }


.toolsbutton{
	display: block;
	background: #fff url(../images/settings.png) no-repeat center;
}
.sharebutton{
	display: block;
	background-image: url(../images/share.png);
	background-repeat: no-repeat;
	background-position: center;
}

.switcher {
	background: #fff;
}
.switcher h5 {
}
.switcher a, 
.switcher a:hover{
	color: #515151;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.shareswitcher { 
	position: fixed; 
	width: 220px; 
	background-color: #ffffff; 
	color: #595959; 
	top:220px; 
	left:-223px;
	z-index:890; 
	border: 1px solid #e1e1e1; 
}
.ya-share2 {
	padding: 40px;
}

@media only screen and (max-device-width : 820px) and (orientation : landscape) {
	.ackapa .stylebutton {
	    background: url(../images/../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
	    background-size: contain;
	    border: 0;
	    width: 20px;
	    height: 20px;
	    top: 12px;
    	right: 7px;
	}

    .toolsswitcher {
    	bottom: 0px;
    	top: 0;    	
    }

    .toolsswitcher.ackapa {
	    width: 100%;
	    left: 0;
	    top: 0;
	    overflow: auto;
	    z-index: 1200;
	}

	.switch {
    	text-align: center;
	}

	.toolsswitcher a, .toolsswitcher a:hover {
		font-size: 20px;
		line-height: 35px;
	}

	.stylebutton {
    	bottom: 25px;
    	top: initial;
    }

    .shareswitcher {
		bottom: 90px;
    	top: initial;
	}

	.sharebutton {
		top: initial;
	    z-index: 899;
	    bottom: -1px;
	}

/*	.ya-share2 {
    	padding: 40px 25px;
	}

	.ya-share2__container_size_m .ya-share2__icon {
	    height: 34px;
	    width: 34px;
	}

	.ya-share2__container_size_m .ya-share2__item {
	    margin: 5px 10px 5px 0;
	}*/


}

@media (max-width: 460px) {

    .stylebutton {
    	bottom: 25px;
    	top: initial;
    }

    .ackapa .stylebutton {
	    background: url(../images/../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
	    background-size: contain;
	    border: 0;
	    width: 20px;
	    height: 20px;
	    top: 12px;
    	right: 7px;
	}

    .toolsswitcher {
    	bottom: 0px; 
    	top: 0px;  	
    }

    .toolsswitcher.ackapa {
	    width: 100%;
	    left: 0;
	    overflow: auto;
	    z-index: 1200;
	}

	.switch {
    	text-align: center;
	}

	.toolsswitcher a, .toolsswitcher a:hover {
		font-size: 20px;
		line-height: 35px;
	}

	.shareswitcher {
		bottom: 90px;
    	top: initial;
	}

	.sharebutton {
		top: initial;
	    z-index: 899;
	    bottom: -1px;
	}


/*	.ya-share2 {
    	padding: 40px 25px;
	}

	.ya-share2__container_size_m .ya-share2__icon {
	    height: 34px;
	    width: 34px;
	}

	.ya-share2__container_size_m .ya-share2__item {
	    margin: 5px 10px 5px 0;
	}*/


	
}
