.weds-vip-field {
	background: #CCCCCC;
}
/*.weds-vip-field .field-type-field-collection,
.weds-vip-field .field-type-text,
.weds-vip-field .field-type-text,
 {

}*/
.weds-vip-field div,
.weds-vip-field legend,
.weds-vip-field .panel-default{
	background: #CCCCCC!important;
}
.weds-vip-field .notice{
	color: #0CADBE;
	font-size: 16px;
	/*text-shadow: 1px 1px 2px #F1E767;*/
	margin: 0 auto;
	width: 300px;
	text-align: center;
}
.premium .btn-gold {
	background: #D6A627;
}
.weds-vip-field .gold {
	/*padding: 14px 0;*/
}
.weds-vip-field .gold a{
	display: inline-block;
	width: 31px;
    height: 27px;
    /*float: left;*/
    margin-right: 8px; 
    background: url('../premium.png') 100% 100% no-repeat;
	background-size: cover;
}
.weds-vip-field .premium{
	padding: 10px 0 20px 0;
	text-align: center;
}
.weds-vip-field .premium a{
	display: inline-block;
	width: 178px;
    height: 34px;
    background: url('../premium.png') 100% 100% no-repeat;
}


article.premium-theme{
	background: #ccc;
}

.weds-client-menu-vip {
	background: #E4E4E4;
  position: relative;
}
.weds-client-menu-vip span{
	color: inherit;
}
.weds-client-menu-vip a{
    
    /*float: right;*/
   
    background: url('../premium.png') no-repeat right;

background-size: 34px;
}

.menu-widget ul li.weds-client-menu-vip:hover  {
  background: inherit;
  border-left: 3px solid #0cadbe;
  cursor:inherit;
  color: inherit;
}
/* main.css */
