#drop-down-login-wrapper {
	padding: 15px 0;
}
#drop-down-login-wrapper .dropdown {
	padding: 10px 20px 20px;
}
#drop-down-login-wrapper form label {
	font-weight: normal;
}
#drop-down-login-wrapper .first{
	display: none;
}
#drop-down-login-wrapper .button {
    width: 30px;
    height: 30px;
	overflow: hidden;
	background-color: transparent;
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
}

#drop-down-login-wrapper .login {
	background-image: url('../images/user-login.png');
}

#drop-down-login-wrapper .logout {
	background-image: url('../images/user-logout.png');
}

#shadow_bg #drop-down-login-wrapper .logout,
#shadow_bg #drop-down-login-wrapper .logout:hover {
	background-image: url(../images/user-logout-w.png);
	background-position: center;
	background-repeat: no-repeat;
}

#shadow_bg #drop-down-login-wrapper .login,
#shadow_bg #drop-down-login-wrapper .login:hover {
	background-image: url(../images/user-login-w.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.menuzord-menu {
	position: relative;
}

#drop-down-login-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}

@media (max-width: 900px) { 
	#drop-down-login-wrapper {
	    padding: 15px 20px;
	    float: left;
	    position: static;
	    transform: initial;
	}
}

@media (min-width: 901px) {

	.header-nav.navbar-transparent.animated-active .menuzord-menu #drop-down-login-wrapper .logout {
	    background-image: url(../images/user-logout-w.png);
	}

	.header-nav.navbar-transparent.animated-active .menuzord-menu #drop-down-login-wrapper .login {
	    background-image: url(../images/user-login-w.png);
	} 

} 