<header class="section-header">
    <h3 class="section-title">Фотоальбом</h3>
</header>

<div id="gallery-wrapper" style="position: relative; overflow: hidden; height: 606px;" class="isotope">
    {% for i,photo in photoalbum %}

    <div class="block wedding isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
        <div class="image-holder">
            <img src="{{ photo.image_style_url }}" alt="image">
        </div>
        <a href="{{ photo.image_file_url }}" class="video-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">
                    {{ photo.title }}
                </h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>