<div class="hero-outer container">
 <div class="hero-inner">
    <h1>Мы собираемся<br>пожениться</h1>
    <div class="info">
       <div id="countdown" data="12/06/2017 12:00 AM"></div> 
        <span class="date">{{ wed_date.d }} {{ wed_date.F }} {{ wed_date.Y }}</span>
    </div>
    <a href="#about" class="mouse scrollTo"><i class="fa fa-long-arrow-down"></i></a>
 </div>
</div>