<header class="section-header">
    <h3 class="section-title">Программа свадьбы</h3>
    <p class="section-tagline">Мы верим и надеемся, что этот день станет красивым началом
долгой и счастливой жизни. Разделите с нами радость этого дня!</p>
</header>
<div class="container timeline">
    <span class="arrow-up"></span>
    <span class="arrow-down"></span>
    <div class="row">
    {% for i,event in program %} 

      <div class="column six heart{% if (i+1)%2==1 %} right{% else %} left{% endif %}{% if (i+1)%2==0 %} movetop{% endif %}">
        <div class="box center corner">
            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
            <h2>{{ event.event_title }}</h2>
            <div class="details">
                <span class="waddress">{{ event.event_address }}/span>
                <span class="wdate">{{ event.event_time.l }}, {{ event.event_time.d }} {{ event.event_time.F }} {{ event.event_time.Y }}</span>
                <span class="wtime">{{ event.event_time.g }}:{{ event.event_time.i }} {{ event.event_time.A }}</span>
            </div>                        
        </div>
      </div>
    {% endfor %}

    <div class="clearfix"></div>
    </div>
</div>

{# <img src="{{ event.event_picture.image_style_url }}" alt="">
 #}
