<div class="container smaller">
    <div class="row">
        <div class="twelve">
            <div class="box corner quote">
                <div class="corners-topleft"></div>
                <div class="corners-bottomleft"></div>
                <div class="corners-topright"></div>
                <div class="corners-bottomright"></div>
                <span class="waddress">{{ zags }}</span>
                <span>{{ address }}</span>
                <span class="wdate">{{ wed_date.l }}, {{ wed_date.d }} {{ wed_date.F }} {{ wed_date.Y }}</span>
                <span class="wtime">{{ wed_date.Hi }}</span>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container smaller">
        <div class="row">
            <div class="twelve text-center">
                <h3 class="section-title">Приглашение</h3>
                {{ invite }}
            </div>
        </div>
    </div>
</div>

<div class="container smaller">
    <div class="row">
        <div class="twelve map">
            <div class="box corner quote">
                <div class="corners-topleft"></div>
                <div class="corners-bottomleft"></div>
                <div class="corners-topright"></div>
                <div class="corners-bottomright"></div>
                <div class="g-map">
                    {{ map }}
                </div>
            </div>
        </div>
    </div>
</div>