<header class="section-header">
    <h3 class="section-title">НАША ИСТОРИЯ</h3>
</header>
<div class="container timeline">
    <span class="arrow-up"></span>
    <span class="arrow-down"></span>
    <div class="row">
      {% set year = 0 %}
      {% set c = 1 %}
      {% for i,event in story %}
        {% if year !=  event.story_date.Y  %}
          {% set year = event.story_date.Y %}
          {% set c = 1 %}
          <div class="clearfix"></div>
          <div class="timeline-year start"><span>{{ event.story_date.Y }}</span></div>
        {% endif %}

        <div class="column six heart{% if c%2==1 %} right{% else %} left{% endif %}{% if c%2==0 %} movetop{% endif %}">
            <div class="box pattern">
                <span class="date">{{ event.story_date.d }} {{ event.story_date.F }} {{ event.story_date.Y }}</span>
                <h2>{{ event.story_title }}</h2>
                <div class="box-content">
                    <img src="{{ event.story_picture.image_style_url }}" alt="">
                    <p>{{ event.story_description }}</p>
                </div>
            </div>
        </div>
        {% set c = c+1 %}
      {% endfor %}


        <div class="clearfix"></div>
        <div class="timeline-button"></div>
    </div>
</div>
