<header class="section-header">
    <h3 class="section-title">Дресс код</h3>
</header>

{% if dresscode.1 %}
<div class="container timeline">
    <span class="arrow-up"></span>
    <span class="arrow-down"></span>
    <div class="row">
        <div class="column six right">
            <h2 class="vibe">{{ dresscode.0.dresscode_title }}</h2>
            <div class="tabs people-image">
                <li class="active"><a href="#person1" class="active"><img src="{{ dresscode.0.dresscode_image.image_style_url }}" alt=""></a></li>
            </div>
            <div class="tab-content-wrap">
                <div id="person1" class="tab-content" style="display: block;">
                    <div class="story">
                        <p class="dresscode-description">{{ dresscode.0.dresscode_description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column six left">
            <h2 class="vibe">{{ dresscode.1.dresscode_title }} </h2>
            <div class="tabs people-image">
                <li class="active"><a href="#person4" class="active"><img src="{{ dresscode.1.dresscode_image.image_style_url }}" alt=""></a></li>
            </div>
            <div class="tab-content-wrap">
                <div id="person4" class="tab-content" style="display: block;">
                    <div class="story">
                        <p class="dresscode-description">{{ dresscode.1.dresscode_description }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% else %}

<div class="container timeline dresscode-one">
    <span class="arrow-up"></span>
    <span class="arrow-down"></span>
    <div class="row">
        <div class="seven">
            <h2 class="vibe">{{ dresscode.0.dresscode_title }}</h2>
            <div class="tabs people-image">
                <li class="active"><a href="#person1" class="active"><img src="{{ dresscode.0.dresscode_image.image_style_url }}" alt=""></a></li>
            </div>
            <div class="tab-content-wrap">
                <div id="person1" class="tab-content" style="display: block;">
                    <div class="story">
                        <p class="dresscode-description">{{ dresscode.0.dresscode_description }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endif %}