<div class="container timeline">
    <span class="arrow-up"></span>
    <span class="arrow-down"></span>
    <div class="row">
        <div class="column six right">
            <h2 class="vibe">Жених</h2>
            <div class="tabs people-image">
                <li><a href="#person1" class="active"><img src="{{ groom_photo.image_style_url }}" alt="" /></a></li>
            </div>
            <div class="tab-content-wrap">
                <div id="person1" class="tab-content">
                    <h2>{{ groom_name }}</h2>
                    <div class="social">
                        <ul>
                            {% if groom_social.social_vk %}
                                <li><a target="blank" href="{{ groom_social.social_vk }}"><i class="fa fa-vk"></i></a></li>
                            {% endif %}
                            {% if groom_social.social_fb %}
                                <li><a target="blank" href="{{ groom_social.social_fb }}"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if groom_social.social_ok %}
                                <li><a target="blank" href="{{ groom_social.social_ok }}"><i class="fa fa-odnoklassniki"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="story">
                        <p>{{ groom_text }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column six left">
            <h2 class="vibe">Невеста</h2>
            <div class="tabs people-image">
                <li><a href="#person4" class="active"><img src="{{ bride_photo.image_style_url }}" alt="" /></a></li>
            </div>
            <div class="tab-content-wrap">
                <div id="person4" class="tab-content">
                    <h2>{{ bride_name }}</h2>
                    <div class="social">
                        <ul>
                            {% if bride_social.social_vk %}
                                <li><a target="blank" href="{{ bride_social.social_vk }}"><i class="fa fa-vk"></i></a></li>
                            {% endif %}
                            {% if bride_social.social_fb %}
                                <li><a target="blank" href="{{ bride_social.social_fb }}"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}
                            {% if bride_social.social_ok %}
                                <li><a target="blank" href="{{ bride_social.social_ok }}"><i class="fa fa-odnoklassniki"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="story">
                        <p>{{ bride_text }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>