/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */
@font-face {
    font-family: 'Andantino script';
    font-style: normal;
    font-weight: 400;
    src: local('Andantino script'), local('Andantinoscript-Regular'),
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.woff) format('woff'),
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.ttf) format('truetype');
        url(../weds-fonts/fonts/andantino-script_5cd3e3d54a5926ef75b2af691fee655e.ttf) format('truetype');
}

@font-face {
    font-family: 'Bikham Cyr Script';
    font-style: normal;
    font-weight: 400;
    src: local('Bikham Cyr Script'), local('BikhamCyrScript-Regular'),
        url(../weds-fonts/fonts/bikham-cyr-script_61afe4b01dfe3e2b98ec512fe1aece7a.woff) format('woff'),
        url(../weds-fonts/fonts/bikham-cyr-script_61afe4b01dfe3e2b98ec512fe1aece7a.ttf) format('truetype');
}

@font-face {
    font-family: 'Mon Amour Two Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Mon Amour Two Medium'), local('MonAmourTwo-Medium'),
        url(../weds-fonts/fonts/mon-amour-two-medium_e1e08e58bef7387d2b137c9b149a18fd.woff) format('woff'),
        url(../weds-fonts/fonts/mon-amour-two-medium_e1e08e58bef7387d2b137c9b149a18fd.ttf) format('truetype');
}

@font-face {
    font-family: 'Avalon Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Avalon Medium'), local('AvalonMedium-Regular'),
        url(../weds-fonts/fonts/avalon-medium_c8c2795f70589a07979b7f61ce5bd443.woff) format('woff'),
        url(../weds-fonts/fonts/avalon-medium_c8c2795f70589a07979b7f61ce5bd443.ttf) format('truetype');
}

@font-face {
    font-family: 'Alexandra Script';
    font-style: normal;
    font-weight: 400;
    src: local('Alexandra Script'), local('AlexandraScript-Regular'),
        url(../weds-fonts/fonts/alexandra-script_a712c061dda4d9393f44c0864bb872b0.woff) format('woff'),
        url(../weds-fonts/fonts/alexandra-script_a712c061dda4d9393f44c0864bb872b0.ttf) format('truetype');
}

/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(../weds-fonts/fonts/Lobster-c28rH3kclCLEuIsGhOg7evY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(../weds-fonts/fonts/Philosopher_OttjxgcoEsufOGSINYBGLTUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'), url(../weds-fonts/fonts/Neucha_kfCpWUYjzqqtPFESHGr73_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'), url(../weds-fonts/fonts/MarckScript_O_D1NAZVOFOobLbVtW3bcpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Cormorant Infant';
  font-style: italic;
  font-weight: 600;
  src: local('Cormorant Infant SemiBold Italic'), local('CormorantInfant-SemiBoldItalic'), url(../weds-fonts/fonts/CormorantInfant_PK34LKusK6SSQFR2m5-LZrUByeIJRy2r0VFtAeBYw1s.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url(../weds-fonts/fonts/Merriweather_EYh7Vl4ywhowqULgRdYwIDaggPqPUlqZtH2DnDrcMQE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}



.clr {
	clear: both;
}
.title, h2 {
    font-family: 'Mon Amour Two Medium', 'Marck Script', cursive;
}
.description {
    font-family: 'Mon Amour Two Medium', 'Marck Script', cursive;
}

h1, h4{
	font-family: 'Neucha', 'Ovo', 'Philosopher', serif; color:#53462e;
}

h3 {
	font-family: 'Lobster', 'Cormorant Infant', cursive;
	
}
.about_right, .flex-caption {
	font-family: 'Neucha', 'Marck Script', cursive;
	font-size: 20px;
}
.left_full {
  float: none;
}
ul#main_menu li a {
    font-family: 'Neucha', 'Philosopher', serif;
}
.post_thumb {
	/*width: 496px;*/
	width: 800px;
}
.entry {
	width: 800px;
}
.entry .invite{
	font-family: 'Neucha', 'Philosopher', serif;
	font-size:18px;
  float: left;
  width: 500px;
}
.entry .map{
	float: right;
	width: 266px;
}
.entry .map iframe {
	width: 266px!important;
}
.entry h3 {
	padding: 0 0 8px 0;
}
.name_divider{
	font-family: 'Marck Script', cursive;
	font-size: 24px;
}

.event_picture {
	width: 266px;
	float: right;
}
.event_text {
	margin-right: 300px;
}
.form_row_rsvp {
	clear: none;
	padding: 4px 0 4px 20px;
	font-family: 'Neucha', 'Ovo', 'Philosopher', serif; color:#53462e;
	font-size: 18px;
}

.form_rsvp .form-item {
  clear: none;
  padding: 6px 0 6px 20px;
  font-family: 'Neucha', 'Ovo', 'Philosopher', serif; color:#53462e;
  font-size: 18px;

}

span.event_desc{
	padding: 8px 20px 0 0px;
	float: none;
	display: block;
}
.form_rsvp {
	float: none;
	overflow: hidden;
	padding: 0px 20px 30px 30px;
}
.event_date {
	color: #e8a900;
}
.event_address {
	padding: 18px 0 0 0;
	text-decoration: underline;
}

.footer_content {
	text-align: center;
}
.footer_menu {
	float: none;
}

/* Story */


.each-story {
  margin-bottom: 30px;
}
.each-story .story-details .title {
  font-size: 22px;
  padding: 10px;
  text-align: left;
}
.each-story .story-date h4{
  padding-left: 20px !important;
  padding-top: 40px !important;
  font-size: 2.5rem;
  text-align: left;
}
.each-story .story-details {
  float: left;
  border-radius: 10px;
  background: #eeeeee;
  width: 60%;
  padding-bottom: 20px;
}
.each-story .story-details.bg-theme-colored {
    color: #fff;
    background: #D19D1D;
}
.each-story .story-details.bg-theme-colored .title{
    color: #fff;
}
.pull-right{
  float: right !important;
}
.pull-right{
  float: right !important;
}
.each-story .story-details-inner {
  margin-bottom: 20px !important;
  padding: 20px !important;
}
.each-story .story-date {
  padding-left: 20px;
  padding-top: 40px;
  float: left;
  width: 30%;
}
.each-story .story-text {
  width: 75%;
  float: left;
}
.each-story.no-thumb .story-text {
  width: 100%;
}
.each-story .story-thumb{
  width: 25%;
  float: left;
}
.each-story .story-thumb img{
  border: 6px double #fff;
  border-radius: 50%;
  float: left;
}

@media screen and (max-width: 1000px) {
  .each-story {
    margin-bottom: 0!important;
  }
  .story-details,
  .story-date {
    width: 90%!important;
    /*float: left;*/
    padding: 5% 0 0 5%;
  }
  .story-date {
    padding-top: 0!important;
  }
  #event .entry {
    width: 90%!important;
    text-align: center;
  }
  #event .invite {
    width: 90%;
    clear: unset;
  } 
  .entry {
    margin: 0;
  }

  .event_picture {
    float: none;
  }
  .event_text {
    margin-right: 0;
  }
}


#about {
  position: relative;
}
.about {
    padding-bottom: 50px;
}
.social {
  position: absolute; bottom: 0;
  width: 270px;
}
.social ul{
  margin-top: 20px;
  text-align: center;
}
.social li {
  display: inline-block;
  font-size: 20px;
  /*border: 2px solid #E8A900;
  border-radius: 22px;*/
  height: 30px;
  line-height: 32px;
  text-align: center;
  min-width: 30px;
}


.bottom {
  text-align: center;
}
.bottom h2 {
  padding: 20px 0 25px 0;
}
#happy4ever-logo {
    display: block;
}
#happy4ever-logo img {
    display: block;
    width: 220px;
    height: auto;
    margin: 0 auto;
}

.socials {
  float: none;
  padding: 0;
}
.socials ul {
  text-align: center;
}
.socials ul li {
    display: inline-block;
    float: none;
}
.bottom .socials a {
  font-size: 24px;
}
.pp_social {
  display: none;
}



/* RSVP */

#rsvp .form-text {
  width: 400px;
  height: 39px;
  background-color: #ffffff;
  border: 1px #e8e1d0 solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  color: #000;
  float: left;
  padding: 0px 0 0 10px;
}

#rsvp .form-textarea {
  width: 400px;
  height: 96px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  border: 1px #e8e1d0 solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  color: #000;
  float: left;
  padding: 10px 0 0 10px;
  font-size: 12px;
} 

#rsvp ::-webkit-input-placeholder {display: none;}
#rsvp ::-moz-placeholder          {display: none;}/* Firefox 19+ */
#rsvp :-moz-placeholder           {display: none;}/* Firefox 18- */
#rsvp :-ms-input-placeholder      {display: none;}


#rsvp .form-submit {
  color: #000;
  border: 1px #d19c1c solid;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin: 5px 5px 0 0px;
  padding: 8px 25px;
  background: -moz-linear-gradient(top, #f3cb5f 0%, #d19c1c 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3cb5f), to(#d19c1c));
  margin: auto;
  text-align: center;
  display: block;
  font-size: 16px;
}
.form_rsvp .form-item {
  width: auto;
  float: none;
}


/* Seating Block */
#block-weds-weds-seating-block {
     background: #FBFBFB;
}
.seating-table {
  padding: 20px;
  margin: 10px 0;
}
.seating-body {
  background: #fff url(../images/section-title-after-yellow.png) no-repeat bottom center;
  padding-bottom: 26px;
  margin: 10px 0;
}
.seating-title-line {
  text-align: center;
  background: url(../images/section-title-before.png) no-repeat bottom center;
  background-size: 200px;
  padding-bottom: 26px;
}
.seating-title-line h4{
  font-size: 24px;
}
.seating-guest-line {
    line-height: 32px;
}
.seating-guest-line p{
    text-align: center;
    line-height: 26px; 
}
#block-weds-weds-seating-block  .col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
#home h3 {
  padding: 0 0 14px 0;
}
#seating {
  text-align: center;
}
a.button-rsvp{
  color: #000;
  border: 1px #d19c1c solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin: 5px 5px 0 0px;
  padding: 8px 25px;
  background: -moz-linear-gradient(top, #f3cb5f 0%, #d19c1c 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3cb5f), to(#d19c1c));
  margin: auto;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}


ul.portfolio_items li span.portfolio_caption a {
    padding: 35px 0 0 30px;
}


/* Dresscode */
#dresscode {
  text-align: center;
}
#dresscode .content{
  margin: 0 auto;
  display: inline-block;
  padding: 0 0 30px 0;
}
#dresscode h2.title {
    color: #e8a900;
    font-family: 'Mon Amour Two Medium', 'Great Vibes', cursive;
    font-size: 30px;
    padding: 0 0 10px 0;
    margin: 0px;
}


/* Modal POP */
div.ctools-modal-content {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding-bottom: 24px;
}
div.ctools-modal-content .modal-header {
  background: inherit;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
div.ctools-modal-content .modal-title {
  font-size: 24px;
  color: #505050;
}

#modalContent,
#modalContent * {
  -webkit-box-sizing: content-box!important;
  -moz-box-sizing: content-box!important;
  box-sizing: content-box!important;
}
.modal-content {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border: none!important;
}



@media (max-width: 668px) {
  .post_thumb {
    width: 100%;
  }
  h3.form_subtitle {
    text-align: center;
  }
}

ul#main_menu li {
  padding: 0 12px;
}

/* Dresscode */
#dresscode h2.title {
    color: #e8a900;
    font-family: 'Mon Amour Two Medium', 'Great Vibes', cursive;
    font-size: 30px;
    padding: 0 0 10px 0;
    margin: 0px;
}
.dresscode p {
  text-align: center;
}