


.choose-theme {
    top: 5px;
    width: 100%;
}

.choose-theme .conteiner {
    margin-left: 0;
    padding: 0;
    background: transparent;
    border: 0;
    opacity: 0.5;
    text-align: center;
}

.choose-theme .conteiner {
    margin-left: 0;
    padding: 5px 0;
    background: transparent;
    border: 0;
    opacity: 0.9;
    text-align: center;
}

.choose-theme a.button {
    padding: 0px!important;
    color: #0cadbe;
    background: #fff;
    border: 1px solid #0cadbe;
}

#drop-down-login-wrapper .dropdown .form-submit {
    margin-top: 16px;
    position: static;
}

/* scroll to top */

.scrollToTop {
    background: rgba(0, 0, 0, 0.1);
    bottom: 15px;
    display: none;
    height: 50px;
    padding: 2px;
    position: fixed;
    right: 15px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 99999;
}

.scrollToTop i {
    color: #fff;
    font-size: 42px;
}

/* spinner */

	#spinner {
	    left: 50%;
	    transform: translateX(-50%);
	}

	.heart-preloader {
	    text-align: center;
	}

	@media only screen and (max-width: 767px) {
		#spinner {
	    	left: 50%;
	    	transform: translateX(-50%);
		}
	}

/* spinner end */


@media (max-width: 768px) {
	    /* image */

    .post {
    	padding: 0;
    	box-sizing: border-box;    	
    }

    .post_thumb {
    	box-sizing: border-box;
    	width: 100%;
    }

    .home_title h2 {
	    float: none;
	    text-align: center;
	}

	#rsvp {
	    padding: 0 7px;
	}

	ul.portfolio_items {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-around;
	}

	.left_full {
	    width: 100%;
	    box-sizing: border-box;
	    padding: 15px;
	    margin: 0 auto;
	}

	h3.form_subtitle {
	    margin-top: 15px;
	}

	.event_picture {
	    margin: 0 auto;
	}

	.event_text .form_row_rsvp:first-child {
		text-align: center;
		padding: 4px 0;
	}
}

@media only screen and (max-device-width : 820px) and (orientation : landscape) {
    .ackapa .stylebutton {
        background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
        background-size: contain;
        border: 0;
        width: 20px;
        height: 20px;
        top: 12px;
        right: 7px;
    }

    .styleswitcher {
        bottom: 2px;
        top: 0;
        z-index: 100000;
    }

    .styleswitcher.ackapa {
        width: 100%;
        left: 0;
        overflow: auto;
    }

    .switch {
        text-align: center;
    }

    .styleswitcher a, .styleswitcher a:hover {
        font-size: 20px;
        line-height: 35px;
    }

    .stylebutton {
        bottom: 25px;
        top: initial;
    }
}

@media (max-width: 460px) {

    .stylebutton {
    	bottom: 25px;
    	top: initial;
    }

    .ackapa .stylebutton {
	    background: url(../../../modules/weds/modules/weds_client_toolbar/close-w.svg) no-repeat center;
	    background-size: contain;
	    border: 0;
	    width: 20px;
	    height: 20px;
	    top: 12px;
    	right: 7px;
	}

    .styleswitcher {
    	bottom: 2px;
    	top: 0;
    	z-index: 100000;
    }

    .styleswitcher.ackapa {
	    width: 100%;
	    left: 0;
	    overflow: auto;
	}

	.switch {
    	text-align: center;
	}

	.styleswitcher a, .styleswitcher a:hover {
		font-size: 20px;
		line-height: 35px;
	}

    .ctools-modal-content {
	    overflow: hidden;
	}

	.seating-table {
		margin: 0;
	}

    #block-weds-weds-seating-block .col-md-3 {
    	width: 100%;
    	padding: 0;
    }





    /* map */

    .entry .map {
	    float: right;
	    width: 100%;
	    text-align: left;
	}

	.entry .map iframe {
	    width: 90%!important;
	}


    /* form */

    .form_row label {
	    box-sizing: border-box;
	    max-width: 240px;
	}

    .webform-submission-rsvp-2-form .form-text {
	    padding: 0 10px;
	    width: 100%;
	    box-sizing: border-box;
	    float: none;
	}


	.webform-submission-rsvp-2-form .form-textarea {
	    width: 100%;
	    padding: 10px 10px 0;
	}

	/* form end */

	.pages_title h2 {
    	font-size: 16px;
	}

	a.view-seating {
		font-size: 14px;
	}

	.form_rsvp {
	    padding: 0px 5px 30px 5px;
	}

	.content img {
	    margin: 0 auto;
	}

	.home_title h2 {
	    font-size: 21px;
	    text-align: center;
	}

	.each-story .story-details .title {
    	padding: 10px 0;
	}

	
	
}


@media (max-width: 1000px) { 
	#shadow_bg #drop-down-login-wrapper {
	    padding: 0;
	    float: none;
	    position: static;
	    transform: initial;
	}
}