/* CSS Reset 
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/* General Setup
/*-----------------------------------------------------------------------------------*/
html{ background:url(../images/bg-texture1.jpg) repeat #e6e6e6;}
body{font-family:Arial, Helvetica, sans-serif;padding:0;font-size:12px;margin:0 auto;color:#48402c;background:url(../images/top_bg.jpg) repeat-x top;}
.clear{clear:both;}
p{padding:0;margin:0px;text-align:left;line-height:20px;}

a{color:#e8a900; text-decoration:none;}
a img{border:none;}
a:hover{ text-decoration:none;}
a.more{ display:block;background:url(../images/bullet.gif) no-repeat left; padding:0 0 0 20px; margin:15px 0 0 0; float:right;}
a.details{ display:block;background:url(../images/bullet.gif) no-repeat left; padding:0 0 0 15px; margin:5px 0 0 0;}
img.left_pic{ float:left; margin:0 20px 20px 0; border:5px #e6e2d8 solid;}
a.button{width:103px; height:41px; background:url(../images/more_about_bg.png) no-repeat center; text-align:center; line-height:41px; margin:0 20px 0 20px; color:#564926; text-shadow:1px 1px #f8d67f;}
.right{ float:right;}
.left{ float:left;}

h1{font-weight: normal;font-size:26px;margin:0;padding:0 0 25px 0;}
h2{font-weight: normal;font-size:20px;margin:0;padding:0 0 25px 0;}
h3{font-weight: normal;font-size:24px;margin:0;padding:0 0 25px 0;}
h4{font-weight: normal;font-size:16px;margin:0;padding:0 0 25px 0;}
h5{font-weight: normal;font-size:14px;margin:0;padding:0 0 25px 0;}
h6{font-weight: normal;font-size:12px;margin:0;padding:0 0 25px 0;}

h1, h2, h3, h4{color:#53462e;}
h1 span, h2 span, h3 span, h4 span{color:#e8a900;}

/* Layout
/*-----------------------------------------------------------------------------------*/
.left_full {padding:40px 40px 0 40px; float:left;}
.left14{ width:200px; float:left; padding:40px 0 0 40px;}
.left13{ width:280px; float:left; padding:40px 0 0 40px;}
.left23{ width:600px; float:left; padding:40px 0 0 40px;}
.left12{ width:440px; float:left; padding:40px 0 0 40px;}


/* Main Content Structure
/*-----------------------------------------------------------------------------------*/
#shadow_bg{ width:100%; background:url(../images/shadow_bg.png) no-repeat top center;}
#main_container{margin:auto;width:1000px;padding:0; position:relative;}
#center_container{margin:auto;width:1000px;padding:0 0 35px 0; /*position:relative;*/ background-color:#FFFFFF;}

/* Header Structure
/*-----------------------------------------------------------------------------------*/
#home{width:100%; height:190px; background:url(../images/header_texture.jpg) no-repeat center top;}
.title{ text-align:center;margin:0px; padding:55px 0 10px 0px;font-family: 'Great Vibes', cursive;font-size:72px; color:#4c402b;}
.title a{ color:#4c402b;}
.description{ color:#e8a900;font-family: 'Great Vibes', cursive;font-size:24px; margin:auto; display:block; text-align:center;}
.swirl_left{ background:url(../images/swirl_left.png) no-repeat left; padding:0 0 0 50px;}
.swirl_right{ background:url(../images/swirl_right.png) no-repeat right; padding:0 50px 0 0px;}
/* Menu Structure
/*-----------------------------------------------------------------------------------*/
.show_menu{ display:none;}
.hide_menu{ display:none;}
.menu{padding:0; text-align:center; width:100%; background:url(../images/menu_bg.jpg) no-repeat center bottom; height:70px;}
ul#main_menu {list-style:none; margin:0; padding:0px;}
ul#main_menu * {margin:0; padding:0;}
ul#main_menu li {position:relative; padding:0 22px 0 22px; display:inline-block;}

ul#main_menu li a{font-family: 'Ovo', serif; color:#ffffff; font-size:16px;height:70px; line-height:70px; display:inline-block;}
ul#main_menu li a.selected {font-family: 'Ovo', serif;color:#e8a900; font-size:16px;height:70px; line-height:70px; display:inline-block; background:url(../images/menu_bullet.gif) no-repeat bottom center;}
ul#main_menu li>a:hover{color:#e8a900;background:url(../images/menu_bullet.gif) no-repeat bottom center;}

ul#main_menu ul {position:absolute; top:70px; left:0; background:#ededed; display:none; opacity:0; list-style:none;}
ul#main_menu ul li {position:relative; width:140px; margin:0; padding:0px;height:40px; line-height:40px; text-align:left;}
ul#main_menu ul li a {display:block; padding:0 20px 0 20px; font-size:14px;color:#434343;height:40px; line-height:40px;}
ul#main_menu ul li a:hover {background-color:#e5e5e5; background-image:none;color:#434343;}

/* Slider
/*-----------------------------------------------------------------------------------*/
.slider_container{ width:920px; margin:auto; clear:both; background:url(../images/shadow_top.png) no-repeat top center; padding:30px 0 0 0;}
.flex-caption{ position: absolute; right:11px; bottom:20px;}
.caption_title_line{ width:450px; height:75px; padding:5px 15px 10px 15px;background:url(../images/slider_caption_bg.png) repeat;color: #303030;}
.flex-caption h2{ color:#303030;font-size:20px; padding:5px 0 5px 0; margin:0px;}

.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0 0 30px 0;background:url(../images/shadow_bottom.png) no-repeat center bottom;}
/*.flexslider .slides > li {display: none;}*/ /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; border:10px #ededed solid;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}

/* Direction Nav */
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:11px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(../images/next.png) no-repeat center; bottom:184px;}
.flex-direction-nav li a.prev {background:url(../images/prev.png) no-repeat center;bottom:141px;}
.flex-direction-nav li a.next:hover {background:url(../images/next_a.png) no-repeat center;}
.flex-direction-nav li a.prev:hover {background:url(../images/prev_a.png) no-repeat center;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}


.home_title{ width:920px; background:url(../images/divider.jpg) no-repeat center bottom; padding:0 0 80px 0; margin:10px auto auto auto;}
.home_title h2{ float:left;font-size:24px; padding:5px 0 0 0; margin:0px; letter-spacing:-0.5px;}
.home_title h2 span{color:#e8a900;}
.socials{ float:right;}
.socials ul{ display:inline; padding:0px; margin:0px;}
.socials ul li{ display:inline; padding:0 0 0 5px; float:left;}

/* About
/*-----------------------------------------------------------------------------------*/

.about{ padding-top:0px; padding-bottom:10px;}
.about_pic{ width:147px; height:147px; background:url(../images/about_pic_bg.jpg) no-repeat center; float:left;}
.about_pic img{ width:135px; height:135px;border-radius:70px;-moz-border-radius:70px;-webkit-border-radius:70px;-khtml-border-radius:70px; margin:6px 0 0 6px;}
.about_right{ width:270px; float:left; padding:0 0 0 20px;}
.about_right h2{color:#e8a900;font-family: 'Mon Amour Two Medium', 'Great Vibes', cursive;font-size:30px; padding:0 0 10px 0; margin:0px;} 
a.more_about{ width:103px; height:41px; background:url(../images/more_about_bg.png) no-repeat center; text-align:center; line-height:41px; float:right; display:block; margin:15px 0 0 0; color:#564926; text-shadow:1px 1px #f8d67f;}

.section_home h2{ width:264px; height:38px; background:url(../images/title_bg.gif) no-repeat center; line-height:38px; padding:0 0 0 15px; margin:0 0 25px 0;}
.section_home h2 span{ color:#FFFFFF; text-shadow:1px 1px #b48a38;}
.section_home img{ border:5px #e6e2d8 solid; margin:0 0 0 10px;}
.section_home p{ padding:10px;}
a.section_more{margin:10px auto auto auto; display:block; text-align:center;}

.fdivider{ background:url(../images/footer_divider.gif) no-repeat right top; padding:20px 0 0 40px; margin:20px 0 0 0; min-height:180px;}
.widget_post{ border-bottom:1px #dec278 dotted; padding:0 0 10px 0; margin:0 40px 10px 0;}
.divider{width:100%; height:56px; clear:both; float:left; margin:25px 0 0 0; background:url(../images/divider.jpg) no-repeat center top;}

.content img {max-width: 100%; display: block;}
.videocontainer{ width:100%;}


.name_divider{ height:58px; width:100%; background:url(../images/name_divider.gif) no-repeat center; clear:both; margin:40px 0 5px 0px; float:left; clear:both; text-align:center; line-height:58px; color:#FFFFFF;font-family: 'Great Vibes', cursive;font-size:16px;}

ul.list{ padding:0 0 45px 0; margin:0px; list-style:none; display:block;clear:both; float:left;}
ul.list li{ padding:0 0 10px 0; margin:0px; display:block;}
ul.list li a{ display:block; padding:0 0 0 20px;color:#000000;}
ul.list li a:hover{ color:#EF502C;}

.pages_title{height:77px; width:902px; background:url(../images/page_titles_bg.jpg) no-repeat center; clear:both; float:left; margin:0 0 0 38px; padding:0 0 0 20px; line-height:100px;}
.pages_title h2{ font-size:25px;}
.pages_title h2 span{ color:#ca7700;}

.tweet{ background-color:#eeece6;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px; padding:10px; margin:0 40px 0 0; border:1px #e4e1d7 solid;}
.tweet ul, .tweet ul li{ padding:0px; margin:0px; list-style:none;line-height:20px; font-style:italic;}
.tweet ul li a{ font-weight:bold;}
img.tweet_icon{ padding:0 0 0 20px; position:relative; top:-1px;}
/* Portfolio
/*-----------------------------------------------------------------------------------*/
ul.portfolio_items {list-style:none;padding:0 0 40px 20px;margin:0;overflow:hidden; clear:both;}
ul.portfolio_items li {float:left;display:inline-block;overflow: hidden; position:relative;}
ul.portfolio_items li img {display:block;}
ul.portfolio_items li span.portfolio_caption{ position:absolute; width:124px; height:126px; top:50px; left:80px;background:url(../images/heart.png) repeat; z-index:999; padding:0 0 0 20px; display:none;}
ul.portfolio_items li span.portfolio_caption a{ display:block; float:left; padding:35px 0 0 8px;}


ul.filter_portfolio {float:left;margin:20px 0 0px 38px; width:919px; background:url(../images/filter_bg.jpg) no-repeat center; height:31px; padding:5px 0 0 5px;}
ul.filter_portfolio li {float: left;display:inline;}
ul.filter_portfolio li a {display: block;font-size: 15px; padding:5px 10px; color: #ca7700;margin:0 10px 0 0; }
ul.filter_portfolio li.selected a{border: 0;background:#f2e7cf;color: #53462e;display: block;margin:0 10px 0 0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px; border:1px #e6d6b3 solid;}
ul.filter_portfolio li a:hover{background:#f2e7cf;color: #53462e;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px; border:1px #e6d6b3 solid;}
ul.filter_portfolio a:focus {outline: 0;}

.gallery13{ width:305px; height:260px;float:left; margin:40px 5px 0 10px; position:relative;}
.gallery13 img.frame{ position:absolute; top:0px; left:0px; z-index:888;}
.gallery13 img.thumb{ position:absolute; top:13px; left:13px; z-index:777; border:1px #d7cdb4 solid; padding:6px;}

.gallery13 h3{ color:#d29a09; font-size:16px; width:290px; padding:220px 0 30px 15px; background:url(../images/gallery_title_bg.jpg) no-repeat center bottom; float:left;}

/* Blog
/*-----------------------------------------------------------------------------------*/
.post{ padding:0 0 40px 0; margin:0; float:left; clear:both; width:100%;}

.post_left{width:78px; float:left; margin:0px 25px 0 0;}
.date_line_blog{ width:78px; height:70px; background:url(../images/date_bg.png) no-repeat center; position:relative; text-align:center; padding:18px 0 0 0; margin:0 0 10px 0;}
.date_line_blog span.day{ font-size:55px; color:#765a1d;width:78px; text-align:center; padding:0;font-family: 'Great Vibes', cursive; line-height:45px;}
.date_line_blog span.month{ font-size:14px; color:#765a1d;width:78px; text-align:center; padding:0px;font-family: 'Ovo', serif;}
img.date_line{position:absolute; z-index:888; top:0px; left:0px;}

.post_thumb{ float:right; border:5px #e6e2d8 solid; position:relative; width:486px;}
.post_thumb h2{ position:absolute; bottom:10px; right:10px; z-index:999;background:url(../images/slider_caption_bg.png) repeat;color: #303030; padding:15px; margin:0px;}
.post_thumb h2 a{color: #303030; font-size:20px;}


.comm_line_blog{padding:2px 0 2px 0; border-bottom:1px #e8a900 dotted; margin:0; line-height:18px;}
.comm_line_blog a{ font-size:11px;}
.icon_comm{ background:url(../images/icon_comm.png) no-repeat left; padding-left:25px;}
.icon_category{ background:url(../images/icon_category.png) no-repeat left; padding-left:25px;}


.entry{ clear:both; margin:20px 0 20px 0px; float:right;width:496px;}
a.read_more{margin:auto; display:block; text-align:center; clear:both; padding:0 0 0 100px;}


.navigation{clear:both; padding:0px 0 0 0px;}
a.blog_next{float:right; padding:0 0px 2px 0; display:block;font-family: 'Ovo', serif; font-size:14px;margin:0px; border-bottom:1px #e8a900 dotted;}
a.blog_prev{float:left; padding:0 0 2px 0px; display:block;font-family: 'Ovo', serif; font-size:14px; margin:0px;border-bottom:1px #e8a900 dotted;}
a.blog_next:hover, a.blog_prev:hover{color:#000;}


/* Sidebar
/*-----------------------------------------------------------------------------------*/
.sidebar h2{ clear:both;}
.sidebar ul{ padding:0 0 45px 0; margin:0px; list-style:none; display:block;clear:both; float:left;}
.sidebar ul li{ padding:0 0 10px 0;display:block; border-bottom:1px #e8a900 dotted; margin:0 0 10px 0;}
.sidebar ul li a{ background:url(../images/bullet.gif) no-repeat left; display:block; padding:0 0 0 20px;color:#000000;}
.sidebar ul li a:hover{ color:#e8a900;}
.sidebar_testimonial{padding:20px 0 45px 20px; margin:0px; clear:both; float:left; background:url(../images/quotes.png) no-repeat top left;}

.sidebar .flickr_photos ul{ padding:0 0 45px 0; margin:0px; list-style:none; display:block; float:left; clear:both;}
.sidebar .flickr_photos ul li{ padding:4px; margin:0px; display:block; width:70px; float:left; border:1px #DFDFDF solid; background-color:#FFFFFF; margin:0 10px 10px 0;}
.sidebar .flickr_photos ul li a{ background:none; display:block; padding:0;}
.sidebar .flickr_photos ul li a img{ background:none; padding:0px; margin:0px;}

.sidebar .tweet{background-color:#eeece6;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px; padding:10px 10px 0 10px; margin:0 0px 0 0; border:1px #e4e1d7 solid; float:left;}
.sidebar .tweet ul{ padding:0px 0 10px 0;}
.sidebar .tweet ul li{ padding:0 0 10px 0;display:inline; border-bottom:none; margin:0 0 10px 0;}
.sidebar .tweet ul li a{ background:none; display: inline; padding:0 0 0 0px;color:#e8a900;}
.sidebar .tweet ul li a:hover{ color:#000;}
.sidebar img.tweet_icon{ margin-bottom:40px;}

.bgs ul{ padding:0px; margin:0px; list-style:none;}
.bgs ul li{ width:100%;padding:0 0 10px 0;display:block; border-bottom:1px #e8a900 dotted; margin:0 0 10px 0; float:left; clear:both; line-height:18px;}
.bgs ul li a{ float:left; padding:0px; font-weight:bold;}
img.bg_thumb{ float:left;border:3px #e6e2d8 solid; margin:0 10px 0 0;}

.search_bar{margin:0 0 45px 0; clear:both; float:left;background-color:#f6f3ec; border:1px #ede7d8 solid;float:left;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;}
input.sidebar_input{ width:180px; height:30px; float:left; background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px; margin:5px;}
input.sidebar_submit{float:left; color:#000; border:1px #d19c1c solid; cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px; margin:5px 5px 0 0px; padding:6px 5px 6px 5px;
background: -moz-linear-gradient(top, #f3cb5f 0%, #d19c1c 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3cb5f), to(#d19c1c));
}
input.sidebar_input:focus{ border-color:#a2a2a2; }

/* Forms Section
/*-----------------------------------------------------------------------------------*/
.form_content{width:100%;float:left;padding:0px 0px 30px 0px;}
h3.form_subtitle{font-size:24px;color:#ca7700;padding:10px 0 10px 3%; margin:0 0 10px 0; font-weight:normal; background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px; float:left; width:97%;}

.form_rsvp{ padding:10px 0 30px 30px; float:left;}
.form{ padding:10px 0 30px 0; float:left; width:100%;}
.form_row{width:100%;clear:both;float:left;padding:5px 0 5px 0; margin:0 0 5px 0;
background:url(../images/lines.gif) repeat; border:none;float:left;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px;
}
.form_row_rsvp{width:560px;clear:both;float:left;padding:4px 0 4px 5px;}

.form_row label{width:100px;float:left;font-size:13px;text-align:right;padding:5px 20px 0 0; color:#4c402b;font-weight:bold;height:30px;line-height:30px; text-transform:capitalize;}
.form_row label.small{width:80px;float:left;font-size:13px;text-align:right;padding:5px 20px 0 0; color:#4c402b;font-weight:bold;height:30px;line-height:30px; text-transform:capitalize;}
input.form_input{width:400px;height:39px;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;color:#000;float:left;padding:0px 0 0 10px;}
textarea.form_textarea{width:400px;height:96px;font-family:Arial, Helvetica, sans-serif;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;color:#000;float:left;padding:10px 0 0 10px;font-size:12px;}
input.form_submit_contact{color:#000; border:1px #d19c1c solid; cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px; margin:5px 5px 0 0px; padding:8px 25px;
background: -moz-linear-gradient(top, #f3cb5f 0%, #d19c1c 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3cb5f), to(#d19c1c)); margin:auto; text-align:center; display:block; font-size:16px;}

.select_container{width:411px;height:39px;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;color:#e8a900;float:left;padding:0px 0 0 0px;}
select.form_select{ width:390px; height:30px; background:none; border:none; padding:5px 0 5px 10px; margin:5px 0 0 5px;}
.checkbox_container{ width:24px; height:23px; background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:25px; -webkit-border-radius:25px;-khtml-border-radius:25px;float:left; padding:5px 0 0 4px;}
span.checkbox_value{font-size:13px;padding:7px 0 0 20px; color:#4c402b;font-weight:bold; float:left;}
span.date_value{font-size:13px;padding:7px 0 0 10px; color:#e8a900;font-weight:bold; float:left; font-style:italic;}
label.error { width:450px; display: block; float: right; color: red; padding:5px 0 0 0px; background:none; text-align:left; font-size:12px; font-weight:normal; }

.gmap{ margin:0 0 40px 0; background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:8px; -webkit-border-radius:8px;-khtml-border-radius:8px; padding:10px;}
.contact_info_blocks{ clear:both; width:100%; margin:40px 0 40px 0; float:left;}
.contact_info{ width:45%; float:left; padding:0 5% 0 0}


.icon{width:80px;height:80px;display:block;border-radius:40px;-moz-border-radius:40px;-webkit-border-radius:40px;-khtml-border-radius:40px;float:left;margin:0px 20px 0px 0px;
background-color:#f6d683; border:1px #ecc373 solid;text-align:center;}
.icon img{display:block; margin:15px auto auto auto;}


/* Footer
/*-----------------------------------------------------------------------------------*/
.footer{padding:25px 0 25px 0; margin:0;}

.footer_content{ width:1000px; margin:auto;}
.footer_text{ float:left; line-height:22px; padding:0 0 0 40px;}
.footer_text a{ font-weight:bold;}
.footer_text a:hover{ border-bottom:1px dotted #ebc04f; }
.footer_menu{ float:right;padding:0 40px 0 0;}
.footer_menu ul{ display:inline;padding:0px; margin:0px;}
.footer_menu ul li{ display:inline;}
.footer_menu ul li a{ color:#564d35; margin:0 0 0 10px; padding:3px 6px; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;}
.footer_menu ul li.selected a{ color:#564d35; margin:0 0 0 10px; padding:3px 6px; background-color:#ebc04f;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;}
.footer_menu ul li a:hover{ background-color:#ebc04f;}


/* Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) {
body{background:none;}
#main_container{margin:0 auto;width:98%;}
#center_container{margin:0 auto;width:98%;}
#home{ height:auto; position:relative;}
.title{ text-align:center;margin:0px; padding:55px 0 10px 0px;font-family: 'Great Vibes', cursive;font-size:40px; color:#4c402b;}

.show_menu{ display:block; position:absolute; top:0px; right:20px; z-index:999;background-color:#ebc04f; padding:4px 13px 7px 13px;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-khtml-border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;-khtml-border-bottom-right-radius:8px; color:#000000;
}
.hide_menu{ display:none; position:absolute; top:0px; right:20px; z-index:999;background-color:#ebc04f; padding:4px 13px 7px 13px;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;-khtml-border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;-khtml-border-bottom-right-radius:8px;color:#000000;
}
.menu{padding:25px 0 15px 0; text-align:left; width:98%; background-image:none; background-color:#000000; height:auto; display:none;margin:0 auto 0 auto;}
ul#main_menu {list-style:none; margin:0; padding:0px;}
ul#main_menu * {margin:0; padding:0;}
ul#main_menu li {width:95%; position:relative;padding:10px 0px 10px 5%; display:block; border-bottom:1px dotted #373737;}
ul#main_menu li:last-child{ border-bottom:none;}

ul#main_menu li a{font-family: 'Ovo', serif; color:#ffffff; font-size:16px;height:20px; line-height:20px; display:inline-block;}
ul#main_menu li a.selected {font-family: 'Ovo', serif;color:#e8a900; font-size:16px;height:20px; line-height:20px; display:inline-block; background:none;}
ul#main_menu li>a:hover{color:#e8a900;background:none;}

ul#main_menu ul {position:absolute; top:40px; left:5%; background:#ededed; display:none; opacity:0; list-style:none;}
ul#main_menu ul li {position:relative; width:100%; margin:0; padding:0px;height:30px; line-height:30px; text-align:left;}
ul#main_menu ul li a {display:block; padding:0 20px 0 20px; font-size:14px;color:#434343;height:30px; line-height:30px;}
ul#main_menu ul li a:hover {background-color:#e5e5e5; background-image:none;color:#434343;}

.slider_container{ width:90%; margin:0 0 0 2%; clear:both; background:none; padding:30px 0 0 0;}
.flexslider {width: 100%; margin: 0; padding:0 0 30px 0;background:none;}
.flex-direction-nav li a {width:45px; height:42px; margin:0; display: block; position: absolute; right:-10px; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li a.next {background:url(../images/next.png) no-repeat center; bottom:85px;}
.flex-direction-nav li a.prev {background:url(../images/prev.png) no-repeat center;bottom:40px;}
.flex-caption { display:none;}

.home_title{ width:100%; background:url(../images/divider.jpg) no-repeat center bottom; padding:0 0 80px 0; margin:10px auto auto auto;}
/* .home_title h2{ float: none;font-size:24px; padding:0px 0 0 0; margin:0px; letter-spacing:-0.5px; text-align:center; line-height:30px;}
.home_title h2 span{color:#e8a900;}/**/
.socials{ float:none; text-align:center; display:block; padding:10px 0 0 0;}
.socials ul{ display:inline; padding:0px; margin:0px;}
.socials ul li{ display:inline; padding:0 0 0 5px; float:none;}

.about_pic{ width:147px; height:147px; background:url(../images/about_pic_bg.jpg) no-repeat center; float:none; margin:auto;}
.about_right{ width:95%; float:left; padding:0 0 0 5%;}
/*.about_right h2{color:#e8a900;font-family: 'Mon Amour Two Medium', 'Great Vibes', cursive;font-size:30px; padding:10px 0 10px 0; margin:0px; text-align:center;}/**/

.left_full, .left13, .left23, .left12, .left14{ width:90%; float:left; padding:5% 0 0 5%;}

.fdivider{ background:none;}



.pages_title{height:40px; width:94%; background-color:#f6d683; background-image:none; clear:both; float:left; margin:20px 0 0 2%; padding:0 0 0 2%; line-height:40px; border:1px #ecc373 solid;}
.pages_title h2{ font-size:20px;}

.gallery13{ width:305px; height:260px;float:left; margin:40px 5px 0 0; position:relative;}

ul.portfolio_items {list-style:none;padding:0 0 40px 0px;margin:0;overflow:hidden; clear:both;}
ul.filter_portfolio {float:left;margin:10px 0 0px 2%; width:92%; background:none; height:auto; padding:2% 0 0 2%;}
ul.filter_portfolio li {float: left;display:inline; width:100%;}
ul.filter_portfolio li a {display: block;font-size: 15px; padding:10px 10px; color: #ca7700;margin:0 0 0 0;background:#f2e7cf;color: #53462e;display: block;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px; border:1px #e6d6b3 solid; margin:0 0 10px 0;}
ul.filter_portfolio li.selected a{display: block;font-size: 15px; padding:10px 10px; color: #ca7700;margin:0 0 0 0;background:#e9cc8c;color: #53462e;display: block;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px; border:1px #cca54f solid; margin:0 0 10px 0;}
ul.filter_portfolio li a:hover{background:#e9cc8c;color: #53462e;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px; border:1px #cca54f solid;}

.post_left{width:100%; float:left; margin:0px 0 0 0;}
.date_line_blog{ width:100%; height:auto; background:none; position:relative; text-align:center; padding:18px 0 0 0; margin:0 0 10px 0;}
.date_line_blog span.day{ font-size:55px; color:#765a1d;width:78px; text-align:center; padding:0;font-family: 'Great Vibes', cursive; line-height:45px;}
.date_line_blog span.month{ font-size:14px; color:#765a1d;width:78px; text-align:center; padding:0px;font-family: 'Ovo', serif;}
img.date_line{ display:none;}

.post_thumb{ float:left; border:5px #e6e2d8 solid; position:relative; width:97%;}
.entry{ clear:both; margin:20px 0 20px 0px; float:right;width:100%;}
.post_thumb h2{ position:absolute; bottom:0px; left:0px; z-index:999;background:url(../images/slider_caption_bg.png) repeat;color: #303030; padding:5px; margin:0px;}
.post_thumb h2 a{color: #303030; font-size:14px;}
a.read_more{margin:auto; display:block; text-align:center; clear:both; padding:0 0 0 0px;}

.navigation{clear:both; padding:0px 0 40px 0px;}

.form_content{width:100%;float:left;padding:20px 0px 30px 0px;}
.form_rsvp{ padding:10px 0 20px 0px; float:left;}
.form_row_rsvp{width:100%;clear:both;float:left;padding:4px 0 4px 5px;}
.form_row label{width:95%;float:left;font-size:13px;text-align:left;padding:5px 0 0 5%; color:#4c402b;font-weight:bold;height:30px;line-height:30px; text-transform:capitalize;}
.form_row label.small{width:100%;float:left;font-size:13px;text-align:left;padding:5px 20px 0 0; color:#4c402b;font-weight:bold;height:30px;line-height:30px; text-transform:capitalize;}
input.form_input{width:94%;height:39px;margin:0 3% 0 3%;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;color:#000;float:left;padding:0px;}
textarea.form_textarea{width:94%;height:96px;font-family:Arial, Helvetica, sans-serif;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;color:#000;float:left;margin:0 3% 0 3%; padding:0px;font-size:12px;}
input.form_submit_contact{color:#000; border:1px #d19c1c solid; cursor:pointer;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px; margin:5px 5px 0 0px; padding:8px 25px;
background: -moz-linear-gradient(top, #f3cb5f 0%, #d19c1c 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3cb5f), to(#d19c1c)); margin:auto; text-align:center; display:block; font-size:16px;}

.select_container{width:94%;height:39px;background-color:#ffffff; border:1px #e8e1d0 solid;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;color:#e8a900;float:left;margin:0px 3% 0 3%;}
select.form_select{ width:95%; height:30px; background:none; border:none; padding:5px 0 5px 0; margin:5px 0 0 0;}
.checkbox_container{ width:24px; height:23px; background-color:#f6f3ec; border:1px #ede7d8 solid;-moz-border-radius:25px; -webkit-border-radius:25px;-khtml-border-radius:25px;float:left; padding:5px 0 0 4px;}
span.checkbox_value{font-size:12px;padding:7px 0 0 10px; color:#4c402b;font-weight:bold; float:left;}
span.date_value{font-size:13px;padding:7px 0 0 10px; color:#e8a900;font-weight:bold; float:left; font-style:italic;}
label.error { width:100%; display: block; float: right; color: red; padding:5px 0 0 0px; background:none; text-align:left; font-size:12px; font-weight:normal; }


.footer_content{ width:100%; margin:auto;}
.footer_text{padding:0 0 0 20px;}
.footer_menu{ float:right;padding:20px 0 0 10px;}
.footer_menu ul li a{ font-size:14px; margin:0 0 10px 10px; display:block; float:left; padding:5px 10px; }
.footer_menu ul li.selected a{ font-size:14px; margin:0 0 10px 10px; display:block; float:left; padding:5px 10px;background-color:#ebc04f;}
}