.themelist-field .jcarousel-container-horizontal {
  height: 260px;
}
.themelist-field .jcarousel-skin-default .jcarousel-item {
  width: 294px;
  height: 260px;
}
.theme-list-field-item {
	position: relative;
}
.weds-premium-theme {
    background: url('../weds/weds_vip/premium.png') no-repeat right;
	background-size: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 888;
}
.weds-premium-themes-info {
	text-align: center;
	color: #0CADBE;
	font-size: 18px;
}
.weds-premium-themes-info p {
	background: url('../weds/weds_vip/premium.png') no-repeat left center;
	padding: 8px 0;
	margin: 0;
	background-size: 50px;
	padding-left: 50px;
    display: inline-block;
}