@import url('https://fonts.googleapis.com/css?family=Pattaya');

body {
    position: static;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: sans-serif;
}

.error {
    color: #b94a48;
}
.navbar-default {
    background-color: inherit;
 }
.main-container.container {
    padding-bottom: 80px;
}

.tabledrag-toggle-weight {
    display: none;
}

.clr{clear: both}
/*margin*/
.m_left_80{margin-left: 80px;}
.m_20{
    margin: 20px 0;
}
.m_bottom_10{
    margin-bottom: 10px;
}
.m_bottom_15{
    margin-bottom: 15px;
}
.m_bottom_20{
    margin-bottom: 20px;
}
.m_bottom_30{
    margin-bottom: 30px;
}
.m_bottom_50{
    margin-bottom: 50px;
}
.m_top_10{
    margin-top: 10px;
}
.m_top_20{
    margin-top: 20px;
}
.m_top_25{
    margin-top: 25px;
}
.m_top_30{
    margin-top: 30px;
}
.m_top_50{
    margin-top: 50px;
}
.m_top_40{
    margin-top: 40px;
}

.md-slide-wrap *{
    font-family: Arial!important;
}
.md-slide-wrap .md-layer-1-1-1,
.md-slide-wrap .md-layer-1-0-1{
    font-family: Pattaya!important;
}
.md-slide-wrap .md-layer-1-1-2,
.md-slide-wrap .md-layer-1-0-2
{
    font-family: Arial!important;
}
.view-service a,
.view-service a:hover,
.view-service a:active {
    cursor: default;
}
.header-7 .social-box {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid #fff;
}
.mukam-header-large.header-7 ul {
    padding-top: 7px;
}
.mukam-header-small .header-7 ul{
    padding-top: 0;
}
li.our_site .btn{
    border-color: #0CADBE;
}
.notification .alert-info {
    background-color: #CAEBEE;
}

/* Facts */
.facts h2 {
   font-size: 20px;
    font-family: 'Arial'; 
}
.facts h4 {
    font-size: 20px;
    font-family: 'Arial';
}
.buton a:link{
    display: block;
    width: 100%;
    height: 100%;
}
.footer-widget .contact-widget p,
.footer-widget .widget-icon,
.footer-widget .socialbox i {
    color: #fff;
}
.footer-widget .socialbox {
    /*border: 1px solid #fff;*/
}
.footer-widget .socialbox i{
    line-height: inherit;
}
.facts .owl-carousel {
    background: #0CADBE;
}
.facts .owl-theme .owl-controls .owl-page span {
    background: #fff!important;
}
#footer_facts .view-content.container {
    width: 100%!important;
}

.block-views-blockpartners-block-1 .view-content.container {
    padding: 0;
}
.testimonial {
    /*color: #53526B;*/
    margin-top: 0;
    /*padding: 10px 30px 20px 40px;*/
    /*background: url(../img/coma.png) no-repeat 10px 0px, 
    url(../img/coma-rotate.png) no-repeat bottom 40px right 20px;*/
    background: none;
    padding: 0;
    text-align: left;
}
.happyclientslider {
    background: none!important;
}
.happyclientslider .clientphoto {
    float: left;
    width: 25%;
}
.clientphoto img {
    float: none;
}
.happyclientslider .byclient {
    font-size: 14px;
    width: 75%;
}
.view-partners .view-content {
    width: 260px;
    /*background: #fff;*/
}
.view-partners .owl-theme .owl-controls .owl-page span {
    background: #fff;
}
#block-system-main {
	padding-bottom: 80px;
}
/*
.weds-subdomain {
    overflow: hidden;
}
.weds-subdomain .form-type-textfield{
    width: 256px;
    float: left;
    height: 100px;
}
.weds-subdomain .weds-subdomain-suffix{
    padding-top: 24px;
    margin-left: 260px;
}
.weds-subdomain .help-block {
    position: absolute;
    padding-top: 20px;
}
#subdomain-check{
    position: absolute;
    margin: 0;
}*/
.weds-subdomain label{
    display: block;
}
.weds-subdomain .weds-subdomain-suffix{
    display: inline;
}
.weds-subdomain .form-type-textfield input{
    display: inline-block;
    width: 180px;
    margin-right: 4px;
}
#subdomain-check{
    display: block;
    margin: 0;
}



.pp_social {
    display: none;
}
.well {
    border-radius: 8px;
}
.mukam-header-small img {
    max-width: 50%;
}
.panel {
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.weds-vip-field-groom-social {
    float: left;
    width: 50%;
}
.weds-vip-field-bride-social {
    float: right;
    width: 50%;
}
.filter-wrapper {
    display: none;
}
#weds-edit-form .weds-group-fieldset  {
    border: 1px solid #0CADBE!important;
    border-radius: 8px;
}
#weds-edit-form .weds-vip-group-fieldset  {
    border: 1px solid #707070!important;
}
#weds-edit-form .weds-vip-group-fieldset .panel-body:first-child {
    padding: 0!important;
}

#weds-edit-form td:nth-child(2),
#weds-wizard td:nth-child(2)
{
    width: 100%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: inherit;
}
#weds-edit-form .field--type-field-collection .table tbody tr,
#weds-wizard .field--type-field-collection .table tbody tr {
    border: 1px solid #0CADBE;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    display: block;
    margin: 10px;
}
#weds-edit-form .field--type-field-collection .table .table tbody tr,
#weds-wizard .field--type-field-collection .table .table tbody tr {
    border: none;
}
#weds-edit-form .field--type-field-collection .table td, 
#weds-edit-form .field--type-field-collection .table th,
#weds-edit-form .field--type-field-collection .table tbody thead tr,
#weds-edit-form .field--type-field-collection .table > thead > tr > th,
#weds-wizard .field--type-field-collection .table td, 
#weds-wizard .field--type-field-collection .table th,
#weds-wizard .field--type-field-collection .table tbody thead tr,
#weds-wizard .field--type-field-collection .table > thead > tr > th {
    border: none;
}

/* Image crop area */
.image-data__crop-wrapper .vertical-tabs-list {
    display: none;
}
.crop-preview-wrapper {
    width: 70%;
    margin: 0 auto;
}


.btn{
  white-space: normal;  
}
.btn-default {
    padding: 5px;
    border-radius: 5px!important;
}
.btn-info,
.btn-danger,
.btn-primary,
.btn-success{
    padding: 8px;
    border-radius: 5px!important;
}

#field-event-values table > tbody > tr > td {
    border-top: 1px solid #0CADBE!important;
}
/*.table>thead>tr>th, #field-event-values tbody tr
{
 border-bottom: 2px solid #0CADBE!important;  
}*/

.pane-themelist-field {
    text-align: center;
}

.social-box i {
    line-height: 1.8;
}
/* Weds Edit form */

#weds-wizard .alert-success {
    display: none;
}
#weds-edit-form .alert-success {
    /*display: none;*/
}

 


#weds-edit-form {
    padding-bottom: 40px;
}
#weds-edit-form #edit-actions {
    display: inline-block;
}
#weds-edit-form .form-item-block-desabled {
    display: inline-block;
    margin-left: 100px;
} 
#weds-edit-form .form-item-feachure-seating-show {
    display: inline-block;
    margin-left: 100px;
} 
/* Weds Wizard form */
#weds-wizard {
    padding-bottom: 40px;
}
/*#weds-reg-form-wrapper #progress-info .step{
    background-color: #A0A0A0;
}
#weds-reg-form-wrapper #progress-info .step.active{
    background-color: #fff;
}
#weds-reg-form-wrapper #progress-info .step.complete{
    background-color: #505050;
}*/


#weds-reg-form-wrapper .tabledrag-toggle-weight-wrapper,
#weds-edit-form .tabledrag-toggle-weight-wrapper {
    display: none;
}

.header-7 .navbar-default a .entypo-dot {
    visibility: hidden;
}


/*ul.navbar-nav.secondary li {
    padding: 23px 20px;
}
ul.navbar-nav.secondary a {
    padding: 0;
}
ul.navbar-nav.secondary .last a:{
    border: 2px solid #0CADBE;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}*/

#weds-reg-form-wrapper .nav-tabs>li>a:hover,
#weds-reg-form-wrapper .nav-tabs>li.active>a:focus{
    background-color:#ffffff;
}

#weds-wizard #edit-field-groom-photo-0--description,
#weds-wizard #edit-field-bride-photo-0--description {
    display: none;
}

.services-1 .holder {                                                                                           
    color: #0CADBE;
}

.view-service h4{
    color: #0CADBE;
}
.view-service p{
    color: #0CADBE;
}

.view-client-say {
    padding-bottom: 40px;
}
.view-client-say h3 {
    text-align: center;
}
.happyclients-2  {
    background: none;

}
.happyclients-2-inner {
    background: none;
    opacity: 1;
}
.happyclients-2-inner {
    background: none!important;
}
.happyclientslider {width: 260px}
.happyclientslider {
    color: inherit!important;
}
.happyclientslider .byclient {
    color: inherit!important;
}
.happyclientslider .byclient span{
    color: #0CADBE!important;
}
.testimonial {
    border: none;
    outline: none;
}

/* Seating Block */
#block-weds-weds-seating-block {
     background: #FBFBFB;
}
.seating-title-line {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    border-radius: 5px 5px 0 0;
    background: #0CADBE;
}
.seating-guest-line {
    background: #fff;
    border-bottom: 1px dashed #e1e1e1;
    color: #535252;
    line-height: 54px;
    text-align: center;
}

/* Copyright */
.copyright img{
    display: inline!important;
}

/* Modal POP */
#modal-content {
    padding: 1em 1em 0 1em;
    overflow: auto;
    position: relative;
}
.modal-content {
    overflow: hidden;
}


/* */
input[placeholder]          {color:#C9C9C9;}
input::-moz-placeholder     {color:#C9C9C9;} 
input:-moz-placeholder      {color:#C9C9C9;} 
input:-ms-input-placeholder {color:#C9C9C9;} 
.form-control {color: #505050!important;}

#weds-wizard .help-block {
    color: #0CADBE;
}
#weds-wizard .description {
    color: #0CADBE;
}
#weds-wizard #edit-field-invite-und-0-format,
#weds-edit-form #edit-field-invite-und-0-format{
    display: none;
}
li.step a{
   border-radius: 8px 8px 0 0; 
}
#progress-info li.active .step-title{
    border-bottom: 3px solid #0cadbe;
}
li.complete a,
li.complete a:hover,
li.complete a:focus{
    border: 1px solid #dddddd;
    background: #fff!important;
}
li.complete a span{
    color: #B5B5B5;
}
li.coming a,
li.coming a:hover{
    background: #CBCBCB!important;
}
li.coming a span {
    color: #505050;
}

    /* fix authorization form */

.confirm-parent, .password-parent { 
    width: 100%;
    max-width: 36.3em;
}


/* Menu */
.menu-widget a.active{
    border-left: none!important;
}
.menu-widget ul li{
    padding: 0;
}
.menu-widget a{
    display: block;
    padding: 14px 0 14px 15px;
}


#static-header {
    background-image: url(../img/banner-background-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    
}
#static-header .container {
    padding: 140px 0 200px 0;
}
#static-header h2 {
    color: #0cadbe;
    font-size: 40px;
    font-family: 'Pattaya';
    text-shadow: 0 0 1px rgba(255,255,255,1);
}
#static-header h3 {
    color: #686969;
    font-size: 26px;
    padding: 10px 0;
}
#static-header .sign-up{
    padding: 16px 0;
    font-size: 
}
#static-header .sign-up button {
    font-size: 16px !important;
}
#static-header .log-in{
    font-size: 18px;
}
#static-header .log-in span{
    color: #787070;
}
#static-header .log-in a{
    display: inline-block;
    margin: 0 10px;
    letter-spacing: 0.16em;
    font-weight: 600;
}

/**/
.mini-menu{
    line-height: 1.2;
    float: right;
    margin-left: 6px;
}
.mini-menu a{
    color: #fff;
    display: block;
}

.price-line .price .money {
    font-size: 46px;
}
.price-line .premium{
    display: inline-block;
    position: relative;
}
.price-line .gold {
    width: 34px;
    position: absolute;
    right: -6px;
    top: -28px;
    z-index: 999;
}

.oferta{
}
.oferta a {
    display: block;
    font-size: 14px;
    color: #6f6f6f;
}
.oferta a:hover {
    color: #fff;
}

#checkout {
    width: 480px;
    margin: 0 auto;
}
#checkout_wrapper {
    height: 600px;
}
.form-group-recurring { /*Временно!*/
    display: none!important;
}

li.our_site {
    padding-top: 20px;
}
.our_site a{
    padding: 18px 0!important;
}
.our_site i{
    display: none!important;
}
.mukam-header-small li.our_site {
    padding-top: 6px;
}

#address {
    display: none;
}

/* Cropp field ! */
#edit-field-groom-photo div.image-preview,
#edit-field-bride-photo div.image-preview{
   float: none; 
}
#edit-field-groom-photo .file,
#edit-field-groom-photo .file-size,
#edit-field-bride-photo .file,
#edit-field-bride-photo .file-size {
    display: none;
}
#edit-field-groom-photo button,
#edit-field-bride-photo button {
    display: inline-block;
}
.epsacrop-presets-menu {
    display: none;
}
.epsacrop-image-crop {
    float: none;
}


/* Pages */
.premium-info .services-1 {

}

.suggestions-promo{
    display: none!important;
}

/*.premium-info .services-1:hover {
    background: inherit;
}

.premium-info .services-1:hover p {
    color: inherit;
}

.premium-info .services-1:hover h4 {
    color: inherit;
    text-shadow: inherit;
}

.premium-info .services-1:hover .holder {
    background: inherit;
    color: inherit;
}*/


 .form-type-managed-file .js-hide {
    display: inline-block!important;
 }
 .form-type-managed-file input[type="file"] {
    display: inline-block;
    width: 60%;
    height: auto;
    padding: 0;
}

/* Override bootstrap styles*/
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: inherit;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th,
.table-hover > tbody > tr:hover {
  background-color: inherit;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: inherit;
}

/* Вручную для мобильных ! */
@media (max-width: 992px){
   .password-strength {
        float: none;
    }
    #edit-weds-background-image-1-upload .input-group-btn{
        display: block;
        margin-top: 2px;
    }

    .choose-theme {
        right: 0;
    }
    .choose-theme a.button {
        padding: 4px !important;
        /*display: block!important;*/
        font-size: 11px;
    }
}