/* mukam theme */

#static-header .container {
	padding: 140px 15px 200px 15px;
}

.mukam-header {
	z-index: 999!important;
}


.choose-theme {
    top: 50%;
    transform: translateY(-50%);
}


.choose-theme .conteiner {
    margin-left: 0;
    padding: 0;
    background: transparent;
    border: 0;
    opacity: 0.5;
}

.facts a {
	color: #fff;
}

.social-widget {
    visibility: hidden;
}

@media (max-width: 767px) {

	.mukam-header-small .header-7 .logo {
		width: 200px;
		padding: 5px 0;
	}

	.mukam-header-small .top-section-container2 {
	    margin-top: -63px;
	}

	.header-7 .logo {
	    max-width: 300px;
	    padding-top: 10px;
    	padding-bottom: 10px;
	}

	.navbar-toggle {
	    margin-top: 18px;
	    margin-right: 0px;
	}

	.navbar-collapse.navbar-ex1-collapse {
	    padding: 0;
	}

	.header-7 ul li {
	    display: inline-block;
	}

	.header-7 .navbar-default a .entypo-dot,
	.header-7 .navbar-default a:hover .entypo-dot {
		display: none;
	}

	.header-7 button.btn.btn-default,
	.header-7 .navbar-nav>li>a {
		line-height: 35px;
	}


	.header-7 button.btn.btn-default {	    
	    padding-top: 0;
	    padding-bottom: 0;
	}

	ul.menu.nav.navbar-nav.secondary {
	    padding: 0;
	    margin: 0;
	}

	.header-7 .navbar-nav>li>a {
	    padding-top: 7px!important;
	    padding-bottom: 7px!important;
	}

	.mukam-header-small .header-7 .navbar-nav>li>a {
	    padding-top: 7px!important;
    	padding-bottom: 7px!important;
    	line-height: 35px;
	}

	.mukam-header-small li.our_site,
	li.our_site {
	    padding-top: 0;
	}

}

@media (max-width: 460px) {

	

	/* top menu */

	.header-7 .logo {
	    max-width: 250px;
	    padding-top: 5px;
    	padding-bottom: 5px;
	}

	.blogeffect4 {
    -webkit-backface-visibility: initial;
    -webkit-animation-name: initial;
    -moz-backface-visibility: initial;
    -moz-animation-name: initial;
    -o-backface-visibility: initial;
    -o-animation-name: initial;
    backface-visibility: initial;
    animation-name: initial;
    animation: initial;
}
	
}


/***************************************************/

/* header */

.header-7 .navbar-default a:hover .entypo-dot, 
.header-7 .navbar-default .navbar-nav>.active>a .entypo-dot,
.header-7 .navbar-default a .entypo-dot {
	visibility: hidden;
}


/* tabs */

#progress-info .step {
	padding: 0;
}

.step-num {
	display: none;
}

@media (max-width: 991px) {

	#progress-info .step.coming,
	#progress-info .step.complite {
    	display: none;
	}

	.step-num {
		display: inline;
	}

	.timer-wrap:not(:last-child) {
    	border-right: none;
	}
}

/* footer */

.view-content.container.happyclientslider,
.view-partners .view-content {
    width: 100%;
    max-width: 260px;
}


