@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #cda659;
	}
}
.b_inherit {background: #cda659;}
.button-hover:hover,
.button-hover:focus,
.button-hover:active,
.button-hover.active {background: #cda659;}
.asset-bg {background: #cda659;}
.asset-bg .call-to-action a{color: #cda659;}

.blog-wrapper .blog-categories ul li a:hover,
.portfolio-style-1-filter ul li a.selected, .portfolio-style-1-filter ul li a:hover {
	color: #cda659;
}
.isotope-element a:hover, .isotope-element a:hover code {
	color: #cda659 !important;
}
.owl-theme .owl-controls .owl-page.active span,
.page-search .search-form .input-group .input-group-btn button,
.dropdown-menu>li.active>a,
.mukam-header.shopheader .top-section .social-box:hover{
	background-color: #cda659;
}
.menu-widget h4 {background-color: #cda659;}
.menu-widget .active{}
.menu-widget ul li:hover {border-left: 3px solid #cda659;color: #cda659;}
.menu-widget .active {color: #cda659!important;border-left: 3px solid #cda659!important;}
.overthumb {background: #cda659;}
a, a:hover {color: #cda659;}
span {color: #cda659;}

.header-5 .search-widget .social-box { background: #cda659;} 
.menu-widget ul li:hover  {border-left: 3px solid #cda659;color: #cda659;}
.menu-widget .active  {color: #cda659!important;border-left: 3px solid #cda659!important;}
.list-none i { color:#cda659;}

.tour-section ul.quicktabs-tabs.quicktabs-style-navlist>li { float: none; border: none; border-right: 8px solid #cda659; background: #212121; margin-bottom: 0; }
.tour-section ul.quicktabs-tabs.quicktabs-style-navlist>li.active>a, .tour-section .nav-tabs>li.active>a:hover, .tour-section  .nav-tabs>li.active>a:focus {
color: #fff; background: #cda659;}
.tour-section ul.quicktabs-tabs.quicktabs-style-navlist>li>a:hover, .tour-section .nav>li>a:focus { background:#cda659; border-color: #fff; color: #fff; }

.tour-section .nav-tabs>li {border-right: 8px solid #cda659;}
.tour-section .nav-tabs>li.active>a, .tour-section .nav-tabs>li.active>a:hover, .tour-section  .nav-tabs>li.active>a:focus {background: #cda659;}
.tour-section .nav-tabs>li>a:hover, .tour-section .nav>li>a:focus { background:#cda659;}
.tour-section-2 .nav-tabs>li.active>a, .tour-section-2 .nav-tabs>li.active>a:hover, .tour-section-2  .nav-tabs>li.active>a:focus, .tour-section-2 .nav-tabs>li>a:hover, .tour-section-2 .nav>li>a:focus  {color: #cda659;}
.tabs-featured .nav-tabs>li.active>a, .tabs-featured .nav-tabs>li.active>a:hover, .tabs-featured  .nav-tabs>li.active>a:focus {color: #cda659;}
.tabs-classic .nav-tabs>li.active>a, .tabs-classic .nav-tabs>li.active>a:hover, .tabs-classic .nav-tabs>li.active>a:focus, .tabs-classic .nav-tabs>li>a:hover {color: #cda659;}
.tabs-featured .nav-tabs>li>a:hover { color: #cda659;}
.accordion .panel-default .panel-heading:hover {background: #cda659;}
.accordion .panel-default .panel-heading i{color:#cda659;}
.hex .inner{color: #cda659;}
.hex a {border-left: 2px solid #cda659;border-right: 2px solid #cda659;}
.hex .corner-1, .hex .corner-2 {border-left: 2px solid #cda659;border-right: 2px solid #cda659;}
.progressicon .progress-bar{background-color: #cda659 !important;}
.toggle {
	background:url(../img/toggleplus.png) no-repeat 12px 15px, -moz-linear-gradient(left, #cda659 , #cda659 37px, #434343 37px);
	background:url(../img/toggleplus.png) no-repeat 12px 15px, -webkit-linear-gradient(left, #cda659 , #cda659 37px, #434343 37px);
	background:url(../img/toggleplus.png) no-repeat 12px 15px, -o-linear-gradient(left, #cda659 , #cda659 37px, #434343 37px);
	background:url(../img/toggleplus.png) no-repeat 12px 15px, linear-gradient(left, #cda659 , #cda659 37px, #434343 37px);
}
.toggle.title-active {
	background:url(../img/toggleminus.png) no-repeat 12px 15px, -moz-linear-gradient(left, #434343 , #434343 37px, #cda659 37px);
	background:url(../img/toggleminus.png) no-repeat 12px 15px, -webkit-linear-gradient(left, #434343 , #434343 37px, #cda659 37px);
	background:url(../img/toggleminus.png) no-repeat 12px 15px, -o-linear-gradient(left, #434343 , #434343 37px, #cda659 37px);
	background:url(../img/toggleminus.png) no-repeat 12px 15px, linear-gradient(left, #434343 , #434343 37px, #cda659 37px);
}
.services-1:hover {background: #cda659;}
.services-1:hover .holder {color: #cda659;}
.services-2:hover .holder {background: #cda659;}
.services-3:hover h4 { color: #cda659; }
.services-3:hover .holder { background: #cda659; }
.services-3:hover .caret { border-top: 12px solid #cda659; }
.services-3:hover .b_inherit { background: #cda659;}
.services-4 .holder{background: #cda659;}
.services-5:hover .holder {color: #cda659;border: 6px double #cda659;}
.mukam-team .team-social a:hover .team-holder {color: #cda659; border-color: #cda659;}
.mukam-table .back-inherit { background: #cda659; }
.mukam-table .b_inherit { background: #cda659;}
.carousel-container li:hover .latest-item  {-webkit-box-shadow: 0px 7px 0px #cda659;-moz-box-shadow:    0px 7px 0px #cda659;box-shadow:         0px 7px 0px #cda659;}
.happyclients-2-inner {background: #cda659;}
.subscribe-widget .button {background: #cda659;}
.blog-wrapper .blog-title a:hover { color: #cda659; }
.blog-wrapper .blog-type-logo {border-bottom: 5px solid #cda659;}
.blog-wrapper .half-round {background: #cda659;}
.blog-wrapper .b_inherit {background: #cda659;}
.blog-wrapper .social-widget a:hover .socialbox {background: #cda659;}
.sidebar-widget h3 { color: #cda659;}
.sidebar-widget .popular-post h6 a:hover {color: #cda659;}
.sidebar-widget .popular-post .popular-author a:hover { color: #cda659; }
.sidebar-widget ul li a:hover i {color: #cda659;}
.sidebar-widget ul li a:hover { color: #cda659; }
.sidebar-widget .mukam-tag-cloud ul li:hover a { border: 1px solid #cda659; color: #cda659; }
.sidebar-widget .subscribe-mini .b_inherit {background: #cda659;}
.portfolio-style-1-filter ul li.active { color:#cda659;}
.portfolio-style-1-filter ul li:hover { color: #cda659;}
.portfolio-style-1 .portfolio-content {border-bottom: 4px solid #cda659;}
.portfolio-style-1 .portfolio-meta:hover .holder { background: #cda659; }
.portfolio-style-1 .portfolio-meta:hover .project-meta, .project-meta a:hover { color: #cda659; }
.portfolio-style-3 .portfolio-item-3:hover {-webkit-box-shadow: 0px 7px 0px #cda659;-moz-box-shadow: 0px 7px 0px #cda659;box-shadow: 0px 7px 0px #cda659;}
.footer-widget .mukam-tag-cloud ul li:hover a { background: #cda659;}
.footer-widget .social-widget a:hover .socialbox{border-color:#cda659;}
.footer-widget .social-widget a:hover .socialbox i{color: #cda659;}
.facts{background: #cda659;}
.timer-icon {color:#cda659;}
.b_asset{background: #cda659;}
.ourclients .flex-control-paging li a.flex-active {background: #cda659;}
.bottom-section {background: #cda659;}

.menu1-c:hover,.menu1-c:active{color: #cda659;}
.menu1-c:hover:after,
.menu1-c:active:after {border-bottom: 4px solid #cda659;}

.header-1 .top-section {background: #cda659;}
.header-1 .navbar-default .navbar-nav>.active>a, .header-1 .navbar-default .navbar-nav>.active>a:hover, .header-1 .navbar-default .navbar-nav>.active>a:focus {background-color: #cda659;}
.header-1 .navbar-default .navbar-nav>.open>a, .header-1 .navbar-default .navbar-nav>.open>a:hover, .header-1 .navbar-default .navbar-nav>.open>a:focus {background-color: #cda659;}
.header-1 .navbar-default .navbar-nav>li>a:hover, .header-1 .navbar-default .navbar-nav>li>a:focus {background-color: #cda659;}
.header-1 .dropdown-menu>li>a:hover, .header-1 .dropdown-menu>li>a:focus {background-color: #cda659;}
.header-1 .dropdown-menu {border-top: 4px solid #cda659;}
.header-1 .multimenu-green ul li:hover {background: #cda659;}


.header-4 .navbar-default .navbar-nav>.active>a {color: #cda659;}
.header-4 .navbar-nav>li.active  {color: #cda659; border-bottom: 4px solid #cda659; }
.header-4 .navbar-nav>li.active:hover  {color: #cda659;}
.header-4 .navbar-default .navbar-nav>.open>a:hover, .header-4 .navbar-default .navbar-nav>li>a:hover, .header-4 .navbar-default .navbar-nav>.open>a {color:#cda659;  }
.header-4 .dropdown-menu>li>a:hover,.header-4 .dropdown-menu>li>a:focus {background-color: #cda659;}
.header-4 .dropdown-menu {border-top: 4px solid #cda659;}
.header-4 .multimenu-green ul li:hover {background: #cda659;}
.menu1-c:hover,
.menu1-c:active{
  color: #cda659;
}
.menu1-c:hover:after,
.menu1-c:active:after {
  border-bottom: 4px solid #cda659;
}

.header-3 .navbar-default .navbar-nav>.active>a { color: #cda659;}
.header-3 .navbar-default .navbar-nav>.active>a { color: #cda659;}
.header-3 .navbar-default .navbar-nav>li>a:hover, .header-3 .navbar-default .navbar-nav>.open>a:hover, .header-3 .navbar-default .navbar-nav>.open>a   {color: #cda659; }
.header-3 .dropdown-menu>li>a:hover, .header-3 .dropdown-menu>li>a:focus {background-color: #cda659;}
.header-3 .dropdown-menu {border-top: 4px solid #cda659;}
.header-3 .multimenu-green ul li:hover {background: #cda659;}


.header-2 .top-section {background: #cda659;border-bottom: none;display:inherit;}
.header-2 .navbar-default .navbar-nav>.active>a {background-color: #cda659;}
.header-2 .navbar-default .navbar-nav>.open>a:hover {background-color: #cda659;}
.header-2 .navbar-default .navbar-nav>li>a:hover {background-color: #cda659;}
.header-2 .dropdown-menu>li>a:hover {background-color: #cda659;}
.header-2 .dropdown-menu{border-top: 4px solid #cda659;}
.header-2 .multimenu-green ul li:hover {background-color: #cda659;}
.header-2 .navbar-default .navbar-nav>.open>a{background-color: #cda659;}
.header-2 .navbar-default .navbar-nav>.active>a, .header-2 .navbar-default .navbar-nav>.active>a:hover, .header-2 .navbar-default .navbar-nav>.active>a:focus {background-color: #cda659;}

.header-5 .navbar-default .navbar-nav>.active>a, .header-5  .navbar-default .navbar-nav>.active>a:hover, .header-5 .navbar-default .navbar-nav>.active>a:focus {background-color: #cda659;}
.header-5 .navbar-default .navbar-nav>.open>a, .header-5  .navbar-default .navbar-nav>.open>a:hover, .header-5  .navbar-default .navbar-nav>.open>a:focus {background-color: #cda659;}
.header-5 .navbar-default .navbar-nav>li>a:hover, .header-5 .navbar-default .navbar-nav>li>a:focus {background-color: #cda659;}
.header-5 .dropdown-menu {border-top: 4px solid #cda659;}
.header-5 .dropdown-menu>li>a:hover, .header-5 .dropdown-menu>li>a:focus {background-color: #cda659;}
.header-5 .multimenu-green ul li:hover {background: #cda659;}
.header-5 .top-section {background: #cda659;}
.header-5 .social a:hover .social-box {color:#cda659;}

header.header-6 {background:#cda659;}
.header-6 .navbar-default {background-color:#cda659;}
.header-6 span {color: #cda659;}
.header-6 .navbar-default .navbar-nav>.active>a, .header-6 .navbar-default .navbar-nav>.active>a:hover, .header-6 .navbar-default .navbar-nav>.active>a:focus {background-color: #cda659;}
.header-6 .navbar-default .navbar-nav>.open>a, .header-6 .navbar-default .navbar-nav>.open>a:hover, .header-6 .navbar-default .navbar-nav>.open>a:focus {background-color: #cda659;}
.header-6 .dropdown-menu>li>a:hover,.header-6  .dropdown-menu>li>a:focus {color:#fff;background-color: #cda659;}
.header-6 .navbar-default .navbar-nav>li>a:hover, .header-6 .navbar-default .navbar-nav>li>a:focus {background-color: #cda659;}
.header-6 .navbar .shopping-cart {background: #cda659;}
.header-6 .navbar a:hover .shopping-cart {color: #cda659;}
.header-6 .dropdown-menu {border-top: 4px solid #cda659;}
.header-6 .multimenu-green ul li:hover {background: #cda659;}

.header-7 .top-section {background: #cda659;}
.header-7 .navbar-default .navbar-nav>.active>a,.header-7 .navbar-default .navbar-nav>.active>a:hover,.header-7 .navbar-default .navbar-nav>.active>a:focus {color: #cda659;}
.header-7 .navbar-default .navbar-nav>.open>a,.header-7 .navbar-default .navbar-nav>.open>a:hover,.header-7 .navbar-default .navbar-nav>.open>a:focus {color: #cda659;}
.header-7 .dropdown-menu>li>a:hover, .header-7 .dropdown-menu>li>a:focus {background-color: #cda659;}
.header-7 .dropdown-menu {border-top: 4px solid #cda659;}
.header-7 .multimenu-green ul li:hover {background: #cda659;}
.header-7 .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {color:#cda659;}
.header-7 .social a:hover .social-box {color: #cda659;}
.header-7 a:hover i{color:#cda659;}
.header-7 .navbar-default a:hover .entypo-dot, .header-7 .navbar-default .navbar-nav>.active>a .entypo-dot{color:#cda659;}

.top-section-container .showhide {
background: url(../img/showhide-8.png) no-repeat top right;
border-top: 7px solid #b99755;
}


.blog-wrapper .blog-title a:hover { color: #cda659; }
.blog-wrapper .half-round {background: #cda659;}
.blog-wrapper .blog-type-logo {border-bottom: 5px solid #cda659;}
.blog-wrapper .b_inherit {background: #cda659;}

.tabs-featured-slider .nav-tabs>li.active>a, .tabs-featured-slider .nav-tabs>li.active>a:hover, .tabs-featured-slider .nav-tabs>li.active>a:focus {border-top: 5px solid #cda659;}
.tabs-featured-slider .nav-tabs>li>a:hover {border-top: 5px solid #cda659;}
.tabs-featured-slider .nav-tabs>li.active .slide-number  { background: #cda659; }
.html_carousel div.slide .blog-date {background: #cda659;}
.html_carousel .nextprev .slidebox:hover {background: #cda659;}

.shopheader .shopnav a:hover{ color: #cda659; }
.shopheader .shopping-cart {background: #cda659;}
.shopheader .navbar-default .navbar-nav>.active>a, .shopheader .navbar-default .navbar-nav>.active>a:hover, .shopheader .navbar-default .navbar-nav>.active>a:focus {background-color: #cda659;}
.shopheader .navbar-default .navbar-nav>.open>a, .shopheader .navbar-default .navbar-nav>.open>a:hover, .shopheader .navbar-default .navbar-nav>.open>a:focus {background-color: #cda659;}
.shopheader .navbar-default .navbar-nav>li>a:hover, .shopheader .navbar-default .navbar-nav>li>a:focus {background-color: #cda659;}
.shopheader .dropdown-menu>li>a:hover,.shopheader .dropdown-menu>li>a:focus {background-color: #cda659;}
.shopheader .dropdown-menu {border-top: 4px solid #cda659;}
.shopheader .multimenu-green ul li:hover {background: #cda659;}
.latestproduct-item .product-price p {color:#cda659;}
.featuredproduct-item .product-price p {color:#cda659;}
.product-single-content .b_inherit {background: #cda659;}
.cart-shipping .b_inherit {background: #cda659;}

.parallax-homepage .flex-control-paging li a.flex-active {
background: #cda659;
}
.pagination>.active>a,
.pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background: #cda659;
  border-color: #cda659;
}