div.status{
	/*display: none;	*/
}

.form-checkboxes, .form--radios {
  background: none;
  border-color: transparent;
}
.js-form-type-checkbox{
  width: auto;
  display: inline-block;
  height: auto;
  text-align: center;
}
.js-form-type-checkbox label {
	display: inline-block;
}
.form-checkboxes input {
  display: inline-block;
	margin: 0;
	zoom: 1.2;
}
.webform-component--guest-hotel {
	/*display: none;*/
}

.ui-dialog .ui-dialog-titlebar-close {
  z-index: 999; 
}