.choose-theme { 
	position: fixed; 
	color: #595959; 
	top:0; 
	z-index:5000; 
}
.choose-theme .conteiner {
	background: #ffffff;
	border: 1px solid #e1e1e1;
	margin-left: 60px;
	padding: 20px;
}
.choose-theme a.button {
	display: inline-block!important;
	padding: 10px!important;
	color: #fff;
	background: #0cadbe;
	border: none;
	border-radius: 5px;
	text-shadow:none;
}

@media (max-width: 992px){
    .choose-theme {
        right: 0;
    }
    .choose-theme .conteiner {
    	padding: 10px;
    }
    .choose-theme a.button {
        padding: 4px !important;
        /*display: block!important;*/
        font-size: 11px;
    }
}