.weds-client-menu-vip {
	background: #E4E4E4;
  position: relative;
}
.weds-client-menu-vip span{
	color: inherit;
}
.weds-client-menu-vip a{
    
    /*float: right;*/
   
    background: url('premium.png') no-repeat right;

background-size: 34px;
}

.menu-widget ul li.weds-client-menu-vip:hover  {
  background: inherit;
  border-left: 3px solid #0cadbe;
  cursor:inherit;
  color: inherit;
}